@keyframes draw_line {
 0%, 10% {
  width: 0%;
  left: 0;
  right: auto;
 }
 40% {
  width: 100%;
  left: 0;
  right: auto;
 }
 60% {
  width: 100%;
  left: auto;
  right: 0;
 }
 90%, 100% {
  width: 0%;
  left: auto;
  right: 0;
 }
}
/*css/atoms/icons/css/index.scss*/
.icons-container {
 display: flex;
 flex-wrap: wrap;
 gap: 0.5rem;
}

.svg-icon {
 display: contents;
 color: var(--primary_text, #192d62);
 --_size: 3rem;
}
.svg-icon[icon-size=interface] {
 --_size: 1.5rem;
}
.svg-icon[icon-size=small] {
 --_size: 2rem;
}
.svg-icon[icon-size=large] {
 --_size: 4rem;
}
.svg-icon[icon-size=jumbo] {
 --_size: 5rem;
}
.svg-icon .icon {
 width: var(--_size);
 height: var(--_size);
 fill: none;
 color: inherit;
}
.svg-icon .icon .fill {
 fill: currentColor;
}
.button .svg-icon {
 color: inherit;
}