@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/file/FbVHOBSGd3G5HXu86r2vdn/PHLVB-Library?type=design&node-id=1%3A2485&mode=design&t=g6qwze9oShWnmzfu-1
/*css/atoms/icons/css/index.scss*/
//Dependencies:

//Attributres
//icon-size = small | large | jumbo | interface

.icons-container {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.svg-icon {
	display: contents;
	color: var(--primary_text, #{$brand-900});
	--_size: #{48/16 * 1rem};

	&[icon-size="interface"] {
		--_size: #{24/16 * 1rem};
	}
	&[icon-size="small"] {
		--_size: #{32/16 * 1rem};
	}
	&[icon-size="large"] {
		--_size: #{64/16 * 1rem};
	}
	&[icon-size="jumbo"] {
		--_size: #{80/16 * 1rem};
	}
	.icon {
		width: var(--_size);
		height: var(--_size);
		fill: none;
		color: inherit;
		.fill {
			fill: currentColor;
		}
	}
	.button & {
		color: inherit;
	}
}
