/*Basic Hero/css/hero.scss*/
:root {
   --gap: 24px;
}

.hero--section {
   position: absolute;
   --background_color: #1d1e46;
   --primary_text: #ffffff;
   --secondary_text: #cdcdd6;
   padding-block: 6.25rem;
}
.hero--section[vertical-spacing=small] {
   padding-block: 4rem;
}
.hero--section[vertical-spacing=large] {
   padding-block: 10rem;
}
.hero--row {
   --columns: 12;
   display: grid;
   grid-column: 2/-2;
   grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
   gap: var(--gap);
}
.hero--media_area, .hero--text_area {
   grid-column: span 6;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
@media (max-width: 991px) {
   .hero--media_area, .hero--text_area {
      grid-column: 2/-2;
   }
}
@media (max-width: 767px) {
   .hero--media_area, .hero--text_area {
      grid-column: 1/-1;
   }
}
.hero--media_area:nth-child(1), .hero--text_area:nth-child(1) {
   margin-right: var(--gap);
}
@media (max-width: 991px) {
   .hero--media_area:nth-child(1), .hero--text_area:nth-child(1) {
      margin-right: 0;
   }
}
.hero--media_area:nth-child(2), .hero--text_area:nth-child(2) {
   margin-left: var(--gap);
}
@media (max-width: 991px) {
   .hero--media_area:nth-child(2), .hero--text_area:nth-child(2) {
      margin-left: 0;
   }
}
[content-alignment=center] .hero--media_area, [has-carousel=true] .hero--media_area, [content-alignment=center] .hero--text_area, [has-carousel=true] .hero--text_area {
   margin: 0;
   grid-column: 3/-3;
}
[content-alignment=center] .hero--media_area .text_content, [has-carousel=true] .hero--media_area .text_content, [content-alignment=center] .hero--text_area .text_content, [has-carousel=true] .hero--text_area .text_content {
   justify-content: center;
   text-align: center;
}
@media (max-width: 991px) {
   [content-alignment=center] .hero--media_area, [has-carousel=true] .hero--media_area, [content-alignment=center] .hero--text_area, [has-carousel=true] .hero--text_area {
      grid-column: 2/-2;
   }
}
@media (max-width: 767px) {
   [content-alignment=center] .hero--media_area, [has-carousel=true] .hero--media_area, [content-alignment=center] .hero--text_area, [has-carousel=true] .hero--text_area {
      grid-column: 1/-1;
   }
}
.hero--media_area .media_content {
   border-radius: 0.5rem;
}
.hero--media_area .media_content img {
   border-radius: inherit;
}
.hero--carousel {
   grid-column: 2/-1;
}

[animation=typewriter]::after {
   content: "|";
   color: #0079ff;
   font-weight: 400;
}
[animation=typewriter].blinking::after {
   animation: blink var(--blinkTiming) infinite;
}
[animation=typewriter] .textList > span:nth-child(n+1) {
   display: none;
}
[animation=typewriter] .textList[color=ocean] {
   color: #0079ff;
}
@keyframes blink {
   0%, 50% {
      opacity: 1;
   }
   51%, 100% {
      opacity: 0;
   }
}