@use "sass:color";
@use "../../../global_css/abstracts" as *;

//Visual: https://www.figma.com/file/kIjfaVuV4r1BQl86FGWFhB/Web-Design-System-V1?type=design&node-id=643%3A5962&mode=design&t=1zQKnpLthgt7v7tT-1
/*Basic Hero/css/hero.scss*/
//Dependencies:

//Attributres
//section: vertical-spacing = small | *medium | large
//section: content-alignment = center |  *left
//section: color-theme = white | neutral | denim |  *midnight
//section: has-carousel = true | *false

:root {
  --gap: 24px;
}

.hero {
  &-- {
    &section {
      position: absolute;
      --background_color: #{$midnight-90};
      --primary_text: #{$white};
      --secondary_text: #{$midnight-20};
      padding-block: 100/16 * 1rem;

      &[vertical-spacing="small"] {
        padding-block: 64/16 * 1rem;
      }
      &[vertical-spacing="large"] {
        padding-block: 160/16 * 1rem;
      }
    } //section

    &row {
      @include inner_grid;
    } //row

    &media_area,
    &text_area {
      grid-column: span 6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include md {
        grid-column: 2/-2;
      }
      @include sm {
        grid-column: 1/-1;
      }

      &:nth-child(1) {
        margin-right: var(--gap);
        @include md {
          margin-right: 0;
        }
      }

      &:nth-child(2) {
        margin-left: var(--gap);
        @include md {
          margin-left: 0;
        }
      }

      [content-alignment="center"] &,
      [has-carousel="true"] & {
        margin: 0;
        .text_content {
          justify-content: center;
          text-align: center;
        }
        grid-column: 3/-3;
        @include md {
          grid-column: 2/-2;
        }
        @include sm {
          grid-column: 1/-1;
        }
      }
    } //text_area media_area

    &media_area {
      .media_content {
        border-radius: 0.5rem;
        img {
          border-radius: inherit;
        }
      }
    } //media_area

    &carousel {
      grid-column: 2/-1;
    } //carousel
  }
}

[animation="typewriter"] {
  &::after {
    content: "|";
    color: $ocean;
    font-weight: 400;
  }

  &.blinking {
    &::after {
      // color: red;
      animation: blink var(--blinkTiming) infinite;
    }
  }

  .textList {
    > span:nth-child(n + 1) {
      display: none;
    }
    &[color="ocean"] {
      color: $ocean;
    }
  }

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    51%,
    100% {
      opacity: 0;
    }
  }
}
