@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual:
/*css/components/exec_agenda/css/index.scss*/
//Dependencies:

.exec_agenda {
  &- {
    &list {
      display: flex;
      flex-direction: column;
      gap: var(--gutter);
      @include sm {
        gap: var(--space_between);
      }
    }
    &item {
      display: grid;
      gap: var(--gutter);
      grid-template-columns: 3fr 7fr;
      @include md {
        grid-template-columns: 4fr 6fr;
      }
      @include sm {
        grid-template-columns: 1fr;
      }
    }

    &side {
      .w-richtext {
        p {
          font-size: 1rem;
          strong {
            em {
              font-style: normal;
              font-weight: 600;
            }
          }
          em {
            font-weight: 400;
            font-style: normal;
          }
        }
      }
    }

    &time {
      display: flex;
      gap: 0.25em;
      font-family: $primary_font-var;
      font-style: normal;
      font-weight: 600;
      font-size: 18/16 * 1rem;
      line-height: 135%;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      color: var(--theme--primary_text);
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
      border-bottom: 1/16 * 1rem solid var(--theme--primary_text);
    }
    &card {
      padding: var(--obj_padding-small);
      .w-richtext {
        //subtitle
        h5 {
          font-style: italic;
          font-weight: 500;
        }
        p {
          font-family: $primary_font-var;
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 135%;
          letter-spacing: 0em;
          color: var(--theme--primary_text);
          margin-top: 0.2em;
        }
        //title
        p strong {
          font-weight: 600;
          @include fluid_size(font-size, 18px, 21px);
          letter-spacing: 0em;
          text-transform: initial;
          font-style: normal;
        }

        //description
        p em {
          font-size: 15/16 * 1rem;
          font-weight: 400;
          letter-spacing: 0em;
          text-transform: initial;
          font-style: normal;
        }
      }
    }
  } //-
} //ecec_agenda
