/*css/blocks/story_block.scss*/
.story_block--section {
 row-gap: 2rem;
 padding-block: var(--padding_base);
 background-color: var(--background);
}
.story_block--grid_area {
 width: 100%;
}
.story_block--row {
 position: relative;
 --columns: 12;
 --start: calc((16 - var(--columns)) / 2);
 grid-column: var(--start)/span var(--columns);
 row-gap: 2rem;
 -moz-column-gap: inherit;
      column-gap: inherit;
 grid-template-columns: 1fr 1fr;
}
.story_block--row[column-span=inset] {
 --columns: 10;
}
@media (max-width: 991px) {
 .story_block--row[column-span=inset] {
  --columns: 12;
 }
}
.story_block--row[column-span=narrow] {
 --columns: 8;
}
@media (max-width: 991px) {
 .story_block--row[column-span=narrow] {
  --columns: 10;
 }
}
@media (max-width: 767px) {
 .story_block--row[column-span=narrow] {
  --columns: 12;
 }
}
.story_block--row[column-span=full-page] {
 --columns: 14;
}
.story_block--row:has(.text_area + .text_area) .text_area {
 align-self: start;
}
@media (max-width: 767px) {
 .story_block--row:has(.text_area + .text_area) {
  row-gap: 0.5rem;
 }
}
.story_block--row > div {
 align-self: center;
}
.story_block--row > .text_area {
 padding: var(--gap);
}
@media (max-width: 767px) {
 .story_block--row > .text_area {
  padding-block: var(--gap);
 }
}
@media (max-width: 576px) {
 .story_block--row > .text_area {
  padding: 0;
 }
}
@media (max-width: 767px) {
 .story_block--row .media_area + .text_area {
  grid-row: 1;
 }
}
.story_block--row[single-item=true] > div {
 grid-column: 1/-1;
 padding: 0;
}
.story_block--row[single-item=true] > div > .text_content {
 text-align: center;
 justify-content: center;
 align-items: center;
 gap: 0.375rem;
}
.story_block--row[single-item=true] > div > .text_content .button-container {
 justify-content: center;
 align-items: center;
}
.story_block--row[single-item=true][alignment=left] > div {
 grid-column: 1/-1;
}
.story_block--row[single-item=true][alignment=left] > div > .text_content {
 text-align: left;
 justify-content: flex-start;
 align-items: flex-start;
 gap: 0.375rem;
}
.story_block--row[single-item=true][alignment=left] > div > .text_content .button-container {
 justify-content: flex-start;
 align-items: flex-start;
}