@use "sass:color";
@use "../../../globals/abstracts" as *;

// Story Block
// Visual:https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?type=design&node-id=279%3A41769&t=mtKVidobmbDz1PFi-1
// Dependancy: text_area, media_area

/*css/blocks/story_block.scss*/

//Attributes
//&--row: column-span = inset | narrow | full_page
//&--row: distribute-column =  4:8 | 1:1 | 7:5 | 8:4
//&--row: single-item= true

.story_block {
	&-- {
		&section {
			row-gap: 32/16 * 1rem;
			padding-block: var(--padding_base);
			background-color: var(--background);
		} //section

		&grid_area {
			width: 100%;
		}

		&row {
			position: relative;
			@include column-span;
			row-gap: 2rem;
			column-gap: inherit;
			grid-template-columns: 1fr 1fr;
			&:has(.text_area + .text_area) {
				.text_area {
					align-self: start;
				}
				@include sm {
					row-gap: 0.5rem;
				}
			}

			> div {
				align-self: center;
			}

			> .text_area {
				padding: var(--gap);
				@include sm {
					padding-block: var(--gap);
				}
				@include xs {
					padding: 0;
				}
			}
			.media_area + .text_area {
				@include sm {
					grid-row: 1;
				}
			}

			// =====================single column centered =====================
			&[single-item="true"] {
				> div {
					grid-column: 1/-1;
					padding: 0;

					> .text_content {
						text-align: center;
						justify-content: center;
						align-items: center;
						gap: 6/16 * 1rem;

						.button-container {
							justify-content: center;
							align-items: center;
						}
					}
				}
				&[alignment="left"] {
					> div {
						grid-column: 1/-1;

						> .text_content {
							text-align: left;
							justify-content: flex-start;
							align-items: flex-start;
							gap: 6/16 * 1rem;

							.button-container {
								justify-content: flex-start;
								align-items: flex-start;
							}
						}
					}
				}
			}
		} //row
	} //--
} //stopryblock
