@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/design/n1MRfrTDtMMwCwlUUJxRMM/Current-25-Website?node-id=505-11425&t=O2mZJSyMOQO7kI4S-1
/*css/blocks/footer/css/index.scss*/
//Dependencies:

//Attributes
.footer {
	@include base_grid;
	background-color: #050505;
	row-gap: 0;
}

.footer-- {
	&container {
		padding: var(--obj_padding-large) 0;
		grid-column: 2/-2;
		display: flex;
		flex-wrap: wrap;
		gap: var(--space_between);
		justify-content: space-between;
	}
	&branding {
		flex-grow: 0;
		flex-shrink: 0;
		@include fluid_size(180px, 226px);
		--_dark-fill: #{$blue-300};
		--_light-fill: #{$blue-25};
	}
	&nav {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: var(--gutter);

		@include sm {
			grid-template-columns: repeat(2, 1fr);
		}
		&-column {
			display: flex;
			flex-direction: column;
			gap: 10 * $rem;
		}
		&-header {
			color: $blue-400;
			font-family: $primary_font-var;
			font-size: 12 * $rem;
			font-style: normal;
			font-weight: 500;
			line-height: 100%;
			text-transform: uppercase;
			letter-spacing: 0.08em;
		}
		&-list {
			display: flex;
			flex-direction: column;
			gap: 6 * $rem;
		}
		&-item {
		}
		&-link {
			text-decoration: none;
			color: $blue-25;
			font-family: $primary_font-var;
			font-size: 15 * $rem;
			font-style: normal;
			font-weight: 300;
			line-height: 145%; /* 20.3px */
			display: inline;
			text-decoration: none;
			background-image: linear-gradient(currentColor, currentColor);
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 0% 2px;
			transition: background-size 0.3s;
			&:hover {
				background-size: 100% 2px;
			}
		}
	}
	&social {
		grid-column: 1/-1;
		display: flex;
		justify-content: center;
		background-color: black;
		padding-block: var(--obj_padding-micro);
	}
	&social-list {
		display: flex;
		gap: var(--gutter);
		justify-content: center;
	}
	&social-link {
		width: 24 * $rem;
		opacity: 0.8;
		transition: 0.3s all;
		.social-icon {
			svg {
				path {
					fill: $blue-25;
				}
			}
		}
		&:hover {
			opacity: 1;
		}
	} //-link
}
