/*css/blocks/footer/css/index.scss*/
.footer {
 display: grid;
 grid-template-columns: var(--page_grid);
 gap: var(--gutter);
 background-color: #050505;
 row-gap: 0;
}

.footer--container {
 padding: var(--obj_padding-large) 0;
 grid-column: 2/-2;
 display: flex;
 flex-wrap: wrap;
 gap: var(--space_between);
 justify-content: space-between;
}
.footer--branding {
 flex-grow: 0;
 flex-shrink: 0;
 180px: clamp(14.125rem, -19.34vw + 18.65625rem, 1.25rem);
 --_dark-fill: #76afff;
 --_light-fill: #ebf2ff;
}
.footer--nav {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: var(--gutter);
}
@media (max-width: 767px) {
 .footer--nav {
  grid-template-columns: repeat(2, 1fr);
 }
}
.footer--nav-column {
 display: flex;
 flex-direction: column;
 gap: 0.625rem;
}
.footer--nav-header {
 color: #4895ff;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.75rem;
 font-style: normal;
 font-weight: 500;
 line-height: 100%;
 text-transform: uppercase;
 letter-spacing: 0.08em;
}
.footer--nav-list {
 display: flex;
 flex-direction: column;
 gap: 0.375rem;
}
.footer--nav-link {
 text-decoration: none;
 color: #ebf2ff;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.9375rem;
 font-style: normal;
 font-weight: 300;
 line-height: 145%; /* 20.3px */
 display: inline;
 text-decoration: none;
 background-image: linear-gradient(currentColor, currentColor);
 background-position: 0% 100%;
 background-repeat: no-repeat;
 background-size: 0% 2px;
 transition: background-size 0.3s;
}
.footer--nav-link:hover {
 background-size: 100% 2px;
}
.footer--social {
 grid-column: 1/-1;
 display: flex;
 justify-content: center;
 background-color: black;
 padding-block: var(--obj_padding-micro);
}
.footer--social-list {
 display: flex;
 gap: var(--gutter);
 justify-content: center;
}
.footer--social-link {
 width: 1.5rem;
 opacity: 0.8;
 transition: 0.3s all;
}
.footer--social-link .social-icon svg path {
 fill: #ebf2ff;
}
.footer--social-link:hover {
 opacity: 1;
}