/*css/blocks/basic_content/css/index.scss*/
.level_links {
 display: flex;
 align-items: center;
 padding: 1.5rem;
 background-color: rgba(255, 255, 255, 0.6);
 -webkit-backdrop-filter: blur(6px);
 backdrop-filter: blur(6px);
 border-radius: 0.5rem;
 border: 1px dashed var(--theme_color-500, #76affe);
 justify-content: center;
 gap: 0.75em;
 width: 100%;
 font-size: clamp(1rem, 1.13vw + 0.7375rem, 1.75rem);
}
.level_links a {
 color: #192d62;
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-style: italic;
 font-weight: 800;
 line-height: 100%;
 letter-spacing: 0.0875rem;
 text-transform: uppercase;
 text-decoration: none;
}
.level_links .svg-arrow {
 display: contents;
 color: var(--primary_text, #192d62);
}
.level_links .svg-arrow svg {
 fill: none;
 height: 0.625em;
}

.toggle_content {
 display: grid;
 gap: var(--space_between-small);
 grid-template-columns: 1fr 7.5rem;
}
.toggle_content-headline {
 grid-column: 1;
 grid-row: 1;
}
.toggle_content-wrap {
 display: contents;
}
.toggle_content-menu {
 grid-column: 2;
 grid-row: 1;
 display: grid;
 grid-template-columns: repeat(var(--options, 2), 1fr);
 padding: 0.25rem;
 border-radius: 0 0.5rem;
 background-color: white;
 box-shadow: 0 10px 16px -10px rgba(26, 122, 255, 0.15);
}
.toggle_content-menu::after {
 display: block;
 content: "";
 width: 100%;
 height: 100%;
 grid-row: 1;
 grid-column: 1;
 border-radius: 0.125rem;
 transition: 0.3s all;
 grid-row: 1;
 grid-column: 1;
 background-color: #ff5f1a;
 border-radius: 0 0.375rem;
}
.toggle_content-menu:has(.w--current:nth-child(2))::after {
 translate: 100% 0;
 background-color: #6eb800;
}
.toggle_content-menu .w-tab-link {
 background-color: transparent;
 font-size: 0.75rem;
 color: var(--theme--primary_text);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 border: 0;
 padding: 0.6666666667em 0.6666666667em;
 line-height: 100%;
 position: relative;
 translate: 0% 0%;
 z-index: 1;
 transition: 0.3s all;
 grid-row: 1;
 grid-column: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.toggle_content-menu .w-tab-link:nth-child(2) {
 grid-column: 2;
}
.toggle_content-content {
 grid-column: 1/-1;
 grid-row: 2;
}