/*atoms/alerts_icon/css/index.scss*/
.alert_icon,
.alert-before::before,
.rich_text blockquote::before {
 color: white;
 font-family: "Times New Roman", serif;
 font-style: italic;
 font-size: clamp(1rem, 0.38vw + 0.9125rem, 1.25rem);
 text-align: center;
 background: var(--theme_color-600, #4c76c2);
 width: 1.5em;
 line-height: 1.5;
 border-radius: 50%;
}

.alert_icon:not(i)::before,
.rich_text blockquote::before {
 content: "i";
 display: inline-block;
}