/*components/media_area/css/index.scsss*/
.media_area {
 position: relative;
 container-type: inline-size;
 container-name: media-area;
}

.media_area[glow] {
 --_glow-inset: 2.5rem;
}
.media_area[glow]::after {
 display: block;
 content: "";
 position: absolute;
 border-radius: inherit;
 z-index: -1;
 filter: blur(3.5rem);
 inset: var(--_glow-inset);
 background-image: conic-gradient(from var(--_gradient_angle), var(--gold), var(--red), var(--blue), var(--red), var(--gold));
}
@media (prefers-reduced-motion: no-preference) {
 .media_area[glow]::after {
  animation: card-border-rotation 5s linear infinite;
 }
}
@media (max-width: 767px) {
 .media_area[glow]::after {
  inset: 1rem;
 }
}

.media_content[image-size] {
 --_ratio: 16/9;
 width: 100%;
 aspect-ratio: var(--_ratio);
 position: relative;
 overflow: clip;
 border-radius: 0 var(--corner-12, 0.75rem) 0 var(--corner-12, 0.75rem);
}
.media_content[image-size] img,
.media_content[image-size] video,
.media_content[image-size] svg {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
@container media-area (min-width: 500px) {
 .media_content[image-size] {
  border-radius: 0 var(--corner-16, 1rem) 0 var(--corner-16, 1rem);
 }
}
@container media-area (min-width: 700px) {
 .media_content[image-size] {
  border-radius: 0 var(--corner-20, 1.25rem) 0 var(--corner-20, 1.25rem);
 }
}
.media_content[image-size=square], .media_content[image-size="1x1"] {
 --_ratio: 1;
}
.media_content[image-size="16x9"] {
 --_ratio: 16/9;
}
.media_content[image-size="21x9"] {
 --_ratio: 21/9;
}
.media_content[image-size="4x3"] {
 --_ratio: 4/3;
}
.media_content[image-size="3x2"] {
 --_ratio: 4/3;
}
.media_content[image-size="9x16"] {
 --_ratio: 9/16;
}
.media_content[image-size="9x21"] {
 --_ratio: 9/21;
}
.media_content[image-size="3x4"] {
 --_ratio: 3/4;
}
.media_content[image-size="2x3"] {
 --_ratio: 2/3;
}
.media_content[image-size=cover] {
 aspect-ratio: auto;
 height: 100%;
}
.media_content[image-size=cover] img,
.media_content[image-size=cover] video,
.media_content[image-size=cover] svg {
 aspect-ratio: auto;
}
.media_content[image-size=auto] {
 aspect-ratio: auto;
}
.media_content[image-size=auto] img,
.media_content[image-size=auto] video,
.media_content[image-size=auto] svg {
 position: relative;
 aspect-ratio: auto;
}

.w-background-video {
 z-index: 0;
 width: 100%;
 height: 100%;
 position: absolute;
 inset: 0;
}

.media_area:has(.w-background-video-atom) .play-pause-button {
 position: absolute;
 bottom: 0;
 right: 0;
 padding: var(--gutter);
 display: flex;
 gap: 0.75rem;
}
.media_area:has(.w-background-video-atom) svg {
 position: relative !important;
 width: 3rem;
 height: 3rem;
 mix-blend-mode: screen;
 opacity: 0.8;
 transform: 0.3s opacity;
}
.media_area:has(.w-background-video-atom) svg:hover {
 opacity: 1;
}

[animate=slideshow] .w-slider {
 height: 100%;
}
[animate=slideshow] .w-slider-arrow-right,
[animate=slideshow] .w-slider-arrow-left {
 display: none;
 opacity: 0;
}
[animate=slideshow] .w-slider-nav {
 display: none;
}
[animate=slideshow] .w-slide img {
 animation-name: scaleDown;
 animation-duration: 9000ms;
 animation-timing-function: ease-in-out;
}
[animate=slideshow] .w-slide[aria-hidden=true] img {
 animation-name: none;
}

@keyframes scaleDown {
 0% {
  scale: 1.1;
 }
 100% {
  scale: 1;
 }
}