<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" large bold="viewport" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Components - Cards</title>
		<link rel="stylesheet" href="../../globals/normalize.css" />
		<link rel="stylesheet" href="../../globals/_index.css" />
		<link rel="stylesheet" href="../../atoms/index.css" />
		<link rel="stylesheet" href="../index.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<main class="">
			<componentGrid>
				<div class="w-richtext rich_text">
					<h2>Fusce tempus sem eget efficitur fermentum</h2>
					<h3>Fusce tempus sem eget efficitur fermentum</h3>
					<h4>Fusce tempus sem eget efficitur fermentum</h4>
					<h5>Fusce tempus sem eget efficitur fermentum</h5>
					<h6>Fusce tempus sem eget efficitur fermentum</h6>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus obcaecati eligendi
						quas praesentium! Reiciendis fugiat inventore quas totam consequatur iusto neque
						repellendus vitae, ipsa sint mollitia et tenetur similique facilis?
					</p>
					<p>
						<em
							>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni dolore nemo,
							sed reiciendis nulla dolorem amet nihil, commodi, pariatur iusto explicabo. Dolores
							explicabo, qui tempore sed deserunt commodi quisquam.</em
						>
					</p>
					<p>
						<strong
							>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto corrupti eos
							praesentium est at similique reiciendis explicabo sapiente suscipit! Asperiores, alias
							cumque culpa id nam quidem non ducimus perspiciatis ratione.</strong
						>
					</p>
					<p>
						<sup
							><em
								>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat odit ullam amet
								accusantium facere, maxime animi expedita adipisci similique necessitatibus! Tempore
								natus sed minus, minima adipisci a neque veniam! Maxime.</em
							></sup
						>
					</p>
					<p>
						<em
							><sup
								>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat odit ullam amet
								accusantium facere, maxime animi expedita adipisci similique necessitatibus! Tempore
								natus sed minus, minima adipisci a neque veniam! Maxime.</sup
							></em
						>
					</p>
					<p>
						<em
							><sub
								>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat odit ullam amet
								accusantium facere, maxime animi expedita adipisci similique necessitatibus! Tempore
								natus sed minus, minima adipisci a neque veniam! Maxime.</sub
							></em
						>
					</p>
					<p>
						<sub
							><em
								>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat odit ullam amet
								accusantium facere, maxime animi expedita adipisci similique necessitatibus! Tempore
								natus sed minus, minima adipisci a neque veniam! Maxime.</em
							></sub
						>
					</p>
					<ul>
						<li>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dicta delectus
							excepturi et nesciunt illum iusto sed corrupti
						</li>
						<li>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dicta delectus
							excepturi et nesciunt illum iusto sed corrupti
						</li>
						<li>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dicta delectus
							excepturi et nesciunt illum iusto sed corrupti
						</li>
					</ul>
					<blockquote>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta quia
						deleniti labore iusto fugit possimus similique
					</blockquote>
					<div class="w-embed"><hr /></div>
					<div class="w-embed">
						<div class="button-container">
							<a href="#" class="button">button</a>
						</div>
					</div>
					<figure class="w-richtext-align-center w-richtext-figure-type-image">
						<div>
							<img
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65c4084a0296cc19141c3e6e_beach-hero.png"
								loading="lazy"
								alt=""
							/>
						</div>
					</figure>
					<figure
						style="max-width: 1536px"
						class="w-richtext-align-fullwidth w-richtext-figure-type-image"
					>
						<div>
							<img
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65ca4725e8953a7d9af29cfb_drexel%20beach.jpeg"
								loading="lazy"
								alt=""
							/>
						</div>
					</figure>
				</div>
			</componentGrid>
		</main>
	</body>
</html>
