@use "sass:color";
@use "../../../global_css/abstracts" as *;

//Visual: https://www.figma.com/file/kIjfaVuV4r1BQl86FGWFhB/Web-Design-System-V1?type=design&node-id=643%3A5962&mode=design&t=1zQKnpLthgt7v7tT-1
/*components/tab_navigation/css/index.scsss*/
//Dependencies:

//Attributres

//If there is only one linked element, the whole card should be an anchor
//If there are multiple linkable element (i.e. leanr more and tags and icons... etc) only internal links
.tab_navigation {
  width: 100%;
  background: var(--background);
  @include base_grid;
  grid-column: 1/-1;
  padding-block: 2rem 1.5rem;
  &[nav-type="no-bar"] {
    padding-block: 2rem;
  }

  &-list {
    grid-column: 2/-2;
    @include f-center;
    flex-direction: row;
    gap: 40/16 * 1rem;
    overflow: scroll;
    // scroll-behavior-x: contain;
    scroll-snap-type: both mandatory;

    @include md {
      grid-column: 2/-1;
      justify-content: flex-start;
    }
  }
  &-item {
    @include fluid_size(font-size, 14px, 16px);
    color: var(--low_text);
    font-family: $sans_font;
    font-size: 13/16 * 1rem;
    letter-spacing: 2/12 * 1em;
    white-space: nowrap;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 20/16 * 1rem;
    transition: 0.3s all;
    scroll-snap-align: center;

    &::after {
      display: block;
      content: "";
      width: 0;
      height: 2/16 * 1rem;
      background-color: var(--accent);
      transition: 0.3s all;
      [nav-type="no-bar"] & {
        display: none;
      }
    }
    &:hover {
      opacity: 0.5;

      &::after {
        width: 100%;
        background-color: var(--low_text);
      }
    }
    &[state="active"] {
      opacity: 1;
      color: var(--secondary_text);
      [nav-type="no-bar"] & {
        color: var(--primary_text);
      }
      &::after {
        width: 100%;
        background-color: var(--accent);
      }
    }
  }
}

//hide scroll bar
//add swipe feautres?
//tune up snapping
