@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/file/FbVHOBSGd3G5HXu86r2vdn/PHLVB-Library?type=design&node-id=4%3A5788&mode=design&t=g6qwze9oShWnmzfu-1
/*css/components/grid_rotator/css/index.scss*/
//Dependencies:

//component
//grid_rotator

.grid_rotator- {
  &grid {
    display: grid;
    gap: var(--space_between-mini);
    grid-template-columns: 1fr 1fr;
  }
  &panel {
    position: relative;
    aspect-ratio: 16/9;
    --_corner: var(--corner-16);
    overflow: clip;

    &:nth-child(1) {
      border-radius: var(--_corner) 0 0 0;
    }
    &:nth-child(2) {
      border-radius: 0 var(--_corner) 0 0;
    }
    &:nth-child(4) {
      border-radius: 0 0 var(--_corner) 0;
    }
    &:nth-child(3) {
      border-radius: 0 0 0 var(--_corner);
    }
    img {
      @include cover_obj;
    }
  }
}
