/*css/components/grid_rotator/css/index.scss*/
.grid_rotator-grid {
   display: grid;
   gap: var(--space_between-mini);
   grid-template-columns: 1fr 1fr;
}
.grid_rotator-panel {
   position: relative;
   aspect-ratio: 16/9;
   --_corner: var(--corner-16);
   overflow: clip;
}
.grid_rotator-panel:nth-child(1) {
   border-radius: var(--_corner) 0 0 0;
}
.grid_rotator-panel:nth-child(2) {
   border-radius: 0 var(--_corner) 0 0;
}
.grid_rotator-panel:nth-child(4) {
   border-radius: 0 0 var(--_corner) 0;
}
.grid_rotator-panel:nth-child(3) {
   border-radius: 0 0 0 var(--_corner);
}
.grid_rotator-panel img {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}