@use "sass:color";
@use "abstracts/" as *;

//Visual:
//Dependencies:

//Attributres

.background_area {
	z-index: -1;
	@include cover_obj;
	background-color: var(--background_color);

	img,
	video,
	picture,
	iframe {
		@include cover_obj;
	}
}

[background="color-50"] {
	--background_color: var(--theme_color-50);
}
[background="white"] {
	--background_color: white;
}

@for $i from 0 through 9 {
	[background="color-#{$i}00"] {
		--background: var(--theme_color-#{$i}00);
	}
}
