@use "sass:color";
@use "../abstracts" as *;

//================================================
/*css/components/section_modifiers.scss*/
//================================================

section {
	// overflow-x: hidden;
	@include fluid_size(--padding_base, 40px, 60px, 376px, 1280px);
	--scale: 5;
	padding-block: calc(var(--padding_base) * var(--scale) / 5);

	@for $i from 0 through 9 {
		&[vertical-spacing="block-#{$i}00"] {
			--scale: #{$i};
		}
		&[vertical-spacing="bottom-#{$i}00"] {
			padding-bottom: calc(var(--padding_base) * #{$i} / 5);
		}
		&[vertical-spacing="top-#{$i}00"] {
			padding-top: calc(var(--padding_base) * #{$i} / 5);
		}
		&[content-spacing="top-#{$i}00"] {
			row-gap: calc(var(--gap) * #{$i}/ 2);
		}
	}

	&.o-hidden {
		overflow: hidden;
	}
	&.x-hidden {
		overflow-x: hidden;
	}
	&.y-hidden {
		overflow-y: hidden;
	}
	&.x-scroll {
		overflow-x: scroll;
	}
	&.y-scroll {
		overflow-y: scroll;
	}
}
