@import url("https://use.typekit.net/cue8qlh.css");
h1 {
 font-size: clamp(2.75rem, 3.76vw + 1.86875rem, 5.25rem);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 color: var(--primary_text);
 line-height: 120%;
 font-weight: 500;
}

h2 {
 font-size: clamp(2rem, 1.31vw + 1.69375rem, 2.875rem);
 color: var(--primary_text);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 line-height: 115%;
 font-weight: 500;
}

h3 {
 font-size: clamp(1.5rem, 0.75vw + 1.325rem, 2rem);
 color: var(--primary_text);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 line-height: 125%;
 font-weight: 500;
}

h4 {
 font-size: clamp(1.25rem, 0.75vw + 1.075rem, 1.75rem);
 color: var(--primary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 line-height: 125%;
 font-weight: 400;
}
h4.serif {
 font-weight: 500;
}

h5 {
 font-size: clamp(1.125rem, 0.56vw + 0.99375rem, 1.5rem);
 color: var(--primary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 line-height: 135%;
 font-weight: 700;
}

h6 {
 font-size: clamp(1rem, 0.19vw + 0.95625rem, 1.125rem);
 color: var(--primary_text);
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 line-height: 100%;
 font-weight: 800;
 font-style: italic;
 letter-spacing: 0.05rem;
 text-transform: uppercase;
}

p {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
}
p a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
p a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
p a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
p.x-large {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(1.3125rem, 0.66vw + 1.15625rem, 1.75rem);
}
p.x-large a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
p.x-large a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
p.x-large a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
p.large {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(1.0625rem, 0.38vw + 0.975rem, 1.3125rem);
}
p.large a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
p.large a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
p.large a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
p.small {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(0.8125rem, 0.19vw + 0.76875rem, 0.9375rem);
}
p.small a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
p.small a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
p.small a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
p.bold {
 font-weight: 700;
}
p.medium {
 font-weight: 500;
}
p.light {
 font-weight: 350;
}
p.book {
 font-weight: 450;
}

.h1 {
 font-size: clamp(2.75rem, 3.76vw + 1.86875rem, 5.25rem);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 color: var(--primary_text);
 line-height: 120%;
 font-weight: 500;
}

.h2 {
 font-size: clamp(2rem, 1.31vw + 1.69375rem, 2.875rem);
 color: var(--primary_text);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 line-height: 115%;
 font-weight: 500;
}

.h3 {
 font-size: clamp(1.5rem, 0.75vw + 1.325rem, 2rem);
 color: var(--primary_text);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 line-height: 125%;
 font-weight: 500;
}

.h4 {
 font-size: clamp(1.25rem, 0.75vw + 1.075rem, 1.75rem);
 color: var(--primary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 line-height: 125%;
 font-weight: 400;
}
.h4.serif {
 font-weight: 500;
}

.h5 {
 font-size: clamp(1.125rem, 0.56vw + 0.99375rem, 1.5rem);
 color: var(--primary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 line-height: 135%;
 font-weight: 700;
}

.h6 {
 font-size: clamp(1rem, 0.19vw + 0.95625rem, 1.125rem);
 color: var(--primary_text);
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 line-height: 100%;
 font-weight: 800;
 font-style: italic;
 letter-spacing: 0.05rem;
 text-transform: uppercase;
}

.eyebrow {
 color: var(--theme_color-500, #76affe);
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 font-style: italic;
 font-weight: 800;
 line-height: 100%; /* 0.875rem */
 text-transform: uppercase;
}
.eyebrow-large {
 font-size: 1.25rem;
}

@keyframes draw_line {
 0%, 10% {
  width: 0%;
  left: 0;
  right: auto;
 }
 40% {
  width: 100%;
  left: 0;
  right: auto;
 }
 60% {
  width: 100%;
  left: auto;
  right: 0;
 }
 90%, 100% {
  width: 0%;
  left: auto;
  right: 0;
 }
}