<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" large bold="viewport" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Components - Cards</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
		/>
		<link rel="stylesheet" href="../../globals/_index.css" />
		<link rel="stylesheet" href="../../atoms/index.css" />
		<link rel="stylesheet" href="../index.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<main class="">
			<componentGrid>
				<div class="accordian">
					<details class="accordian-details">
						<summary class="accordian-summary">
							<h4>
								<span>I can change this too.</span>
								<div class="svg-icon w-embed">
									<svg
										class="accordian-icon icon close"
										viewBox="0 0 48 48"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											fill-rule="evenodd"
											clip-rule="evenodd"
											d="M40 26H8V22H40V26Z"
											class="fill"
										></path>
									</svg>

									<svg
										class="accordian-icon icon open"
										viewBox="0 0 48 48"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path d="M22 26V40H26V26H40V22H26V8H22V22H8V26H22Z" class="fill"></path>
									</svg>
								</div>
							</h4>
						</summary>
						<div class="accordian-content">
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi unde, ex rem
								voluptates autem aliquid veniam quis temporibus repudiandae illo, nostrum, pariatur
								quae! At animi modi dignissimos corrupti placeat voluptatum!
							</p>
							<p>
								Facilis ducimus iure officia quos possimus quaerat iusto, quas, laboriosam sapiente
								autem ab assumenda eligendi voluptatum nisi eius cumque, tempore reprehenderit optio
								placeat praesentium non sint repellendus consequuntur? Nihil, soluta.
							</p>
						</div>
					</details>
				</div>
			</componentGrid>
		</main>
		<script src="../../../js/accordian.js"></script>
	</body>
</html>
