.pv25-button.w-tab-link.w--current {
 background-color: var(--_button-background);
 --_button-background: var(--theme--accent);
 color: var(--theme--primary_text);
}

.pv25-button.w-tab-link {
 background-color: var(--_button-background);
 --_button-background: var(--theme--accent-200);
 color: var(--theme--primary_text);
}
.pv25-button.w-tab-link:hover {
 filter: none;
}

.tabs-menu {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
 padding: 0.5rem;
}

.donation-option .body-text {
 color: var(--theme--primary_text, #fff);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-weight: 500;
 font-size: clamp(2rem, 1.03vw + 1.75625rem, 2.6875rem);
 line-height: 1.2;
 text-wrap: pretty;
 font-style: italic;
 text-transform: uppercase;
 text-align: center;
}