//==========================
//===========BUTTONS==========
//==========================

@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/design/n1MRfrTDtMMwCwlUUJxRMM/Current-25-Website?node-id=487-14256&t=O2mZJSyMOQO7kI4S-1
/*atoms/buttons/css/index.scsss*/
//Dependencies:

//Attributes
//.c25-button: button-size= default | large | small | mini
//.c25-button: button-color= $all_colors

.button-container {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: flex-start;
	&[alignment="center"] {
		justify-content: center;
	}
	&[alignment="right"] {
		justify-content: flex-end;
	}
}

.button-list {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: stretch;
	width: max-content;

	&:has(.w--current) .pv25-button {
		opacity: 0.8;
	}
	&:has(.w--current) .pv25-button.w--current {
		opacity: 1;
	}
}

.pv25-button {
	--_button-background: var(--theme--accent, #{$blue});

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	@include fluid_size(font-size, 14px, 16px);
	font-style: normal;
	font-weight: 400;
	font-family: $primary_font-var;
	line-height: 100%;
	text-decoration: none;

	padding: 9/14 * 1em 15/14 * 1em;
	gap: 12/14 * 1em;
	border: 1 * $rem solid var(--_button-background, #{$blue});

	color: var(--theme--accent-text, #{$white});
	background: var(--_button-background, #{$blue});

	border-radius: 1em 0 1em 0;
	filter: brightness(1);
	outline: 1 * $rem solid transparent;
	outline-offset: 2 * $rem;

	transition: 0.5s background-color, 0.5s color, 0.5s filter, 0.5s outline;

	.button-container &:nth-child(even) {
		border-radius: 0em 1em 0rem 1em;
	}

	.button-arrow {
		transition: 0.3s translate;
	}

	&:hover {
		filter: brightness(1.25);
		outline: 1 * $rem solid var(--_button-background, #{$blue});
		outline-offset: 2 * $rem;
		.button-arrow {
			translate: 50% 0;
		}
	}

	.button-text {
		position: relative;
	}

	&[button-size="large"] {
		@include fluid_size(font-size, 16px, 18px);
	}
	&[button-size="small"] {
		@include fluid_size(font-size, 12px, 13px);
	}
	&[button-type~="back"] {
		flex-direction: row-reverse;
		.button-arrow {
			rotate: 180deg;
		}
	}
	&[button-type~="no-arrow"] {
		.button-arrow {
			display: none;
		}
	}

	&[button-style~="text"] {
		--_button-background: var(--theme--accent, #{$blue});

		position: relative;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include fluid_size(font-size, 14px, 16px);
		font-style: normal;
		font-weight: 400;
		font-family: $primary_font-var;
		line-height: 100%;
		text-decoration: none;

		padding: 0;
		gap: 12/14 * 1em;
		border: 0 * $rem solid var(--_button-background, #{$blue});

		color: var(--_button-background, #{$blue});
		background: transparent;

		border-radius: 0;
		filter: brightness(1);
		outline: 0 * $rem solid transparent;
		outline-offset: 2 * $rem;

		transition: 0.5s background-color, 0.5s color, 0.5s filter, 0.5s outline;
	}

	&[button-style~="ghost"] {
		color: var(--theme--accent-text, #{$white});
		background: transparent;
		border: 1 * $rem solid var(--theme--accent-text, #{$white});
		position: relative;
		overflow: clip;
		> div {
			position: relative;
		}
		&::before {
			@include psuedo_el;
			background-color: var(--theme--accent-text, #{$white});
			@include cover_obj;
			width: 0;
			transition: 0.3s width;
		}

		&:hover {
			color: var(--theme--accent, #{$blue});
			outline-color: var(--theme--accent-text, #{$white});
			&::before {
				width: 100%;
			}
		}

		@each $color in $all_colors {
			&[button-color="#{nth($color, 1)}"] {
				color: var(--theme--accent, #{$blue});
				background: transparent;
				border: 1 * $rem solid var(--theme--accent, #{$blue});
				&:hover {
					background-color: var(--theme--accent, #{$blue});
					color: var(--theme--accent-text, #{$white});
				}
			}
		}
	}

	&[button-color~="blue"] {
		@include theme-blue;
	}

	&[button-color~="green"] {
		@include theme-green;
	}

	&[button-color~="crimson"] {
		@include theme-crimson;
	}

	&[button-color~="yellow"] {
		@include theme-yellow;
		color: var(--theme--accent-text-light, #{$navy});
	}

	&[button-color~="white"] {
		color: #{$blue};
		--_button-background: #{$white};
	}

	@for $i from 4 through 9 {
		$n: $i * 100;
		&[button-color~="#{$n}"] {
			--_button-background: var(--theme--accent-#{$n});
			color: var(--theme--accent-text, #{$white});
		}
	}

	@for $i from 1 through 3 {
		$n: $i * 100;
		&[button-color~="#{$n}"] {
			--_button-background: var(--theme--accent-#{$n});
			color: var(--theme--accent-dark, #{$navy});
		}
	}

	&[button-color="inactive"] {
		background: var(--theme--border);
		color: var(--theme--primary_text);
	}

	&:active {
		translate: 0 0.125rem;
	}
}

.button-arrow {
	svg {
		width: 8/14 * 1em;
		path {
			fill: currentColor;
		}
	}
}
