<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" large bold="viewport" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Components - Cards</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../../globals/normalize.css" />
    <link rel="stylesheet" href="../../globals/_index.css" />
    <link rel="stylesheet" href="../../atoms/_index.css" />
    <link rel="stylesheet" href="../../components/_index.css" />
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <main class="">
      <componentGrid>
        <div class="accordion">
          <details class="accordion-details">
            <summary class="accordion-summary">
              <h4 class="style-h6">
                <div>Who can I contact if I have questions?</div>
                <div class="accordion-icon"></div>
              </h4>
            </summary>
            <div class="accordion-content">
              <div class="w-richtext">
                <p>Please reach out to organizers@current.io</p>
              </div>
            </div>
          </details>
        </div>
      </componentGrid>
    </main>
    <!-- <script src="../../../js/accordion.js"></script> -->
  </body>
</html>
