/*css/atoms/inputs/css/index.scss*/
.tag-container {
 display: flex;
 gap: 0.5rem;
 flex-wrap: wrap;
}

.tag {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 0.7692307692em;
 padding: 0.25rem 0.75rem;
 border-radius: 99em;
 background: var(--theme--accent, #94d13d);
 color: var(--theme--accent-text, #ffffff);
 font-size: clamp(0.6875rem, 0.19vw + 0.64375rem, 0.8125rem);
 font-weight: 600;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
}
.tag[tag-style~=outline] {
 border: 0.0625rem solid var(--theme--soft_color);
 padding: 0.125rem 0.4375rem;
 background-color: var(--theme--background);
 color: var(--theme--secondary_text);
}
.tag[tag-style~=outline][tag-color] {
 color: var(--theme--accent);
}
.tag[tag-style~=outline][tag-color~=light] {
 color: var(--theme--accent-light);
}

a.tag {
 text-decoration: none;
}
a.tag:hover {
 text-decoration: underline;
 color: var(--theme--accent-text, #ffffff);
}
a.tag[tag-style~=outline]:hover {
 color: var(--theme--secondary_text);
}
a.tag[tag-style~=outline][tag-color]:hover {
 color: var(--theme--accent);
}
a.tag[tag-style~=outline][tag-color~=light]:hover {
 color: var(--theme--accent-light);
}