@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/design/n1MRfrTDtMMwCwlUUJxRMM/Current-25-Website?node-id=488-6055&t=O2mZJSyMOQO7kI4S-1
/*css/atoms/inputs/css/index.scss*/
//Dependencies:

//Attributres
.tag-container {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.tag {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10/13 * 1em;
	padding: 4 * $rem 12 * $rem;
	border-radius: 99em;
	background: var(--theme--accent, #{$green});
	color: var(--theme--accent-text, #{$white});
	@include fluid_size(font-size, 11px, 13px);
	font-weight: 600;
	font-family: $primary_font-var;

	&[tag-style~="outline"] {
		border: 1 * $rem solid var(--theme--soft_color);
		padding: 2 * $rem 7 * $rem;
		background-color: var(--theme--background);
		color: var(--theme--secondary_text);
		&[tag-color] {
			color: var(--theme--accent);
		}
		&[tag-color~="light"] {
			color: var(--theme--accent-light);
		}
	}
}

a.tag {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		color: var(--theme--accent-text, #{$white});
	}
	&[tag-style~="outline"]:hover {
		color: var(--theme--secondary_text);
	}
	&[tag-style~="outline"][tag-color]:hover {
		color: var(--theme--accent);
	}
	&[tag-style~="outline"][tag-color~="light"]:hover {
		color: var(--theme--accent-light);
	}
}
