// print all atoms into one css file

//atoms

@forward "alerts_icon/css";
@forward "arrows/css";
@forward "buttons/css";
@forward "checkbox_filter/css";
@forward "divider/css";
@forward "event_type_indicator/css";
@forward "icons/css";
@forward "lists/css";
@forward "location_indicator/css";
@forward "slider_pagination/css";
@forward "tabs/css";

// @forward "breadcrumbs/css";
// @forward "icons/css";

// print all components into one css file

atomGrid {
	display: grid;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 60px;
	padding: 60px;
	background: #f5eded;
}
