/*Basic Hero/css/hero.scss*/
.card_grid--section {
   padding-block: 6.25rem;
}
.card_grid--section[vertical-spacing=small] {
   padding-block: 4rem;
}
.card_grid--section[vertical-spacing=large] {
   padding-block: 10rem;
}
.card_grid--section .content_group {
   grid-column: 2/span 7;
}
@media (max-width: 991px) {
   .card_grid--section .content_group {
      grid-column: 2/span 9;
   }
}
@media (max-width: 767px) {
   .card_grid--section .content_group {
      grid-column: 2/-2;
   }
}
.card_grid--section .content_group[length=extended] {
   grid-column: 2/span 9;
}
@media (max-width: 991px) {
   .card_grid--section .content_group[length=extended] {
      grid-column: 2/span 9;
   }
}
@media (max-width: 767px) {
   .card_grid--section .content_group[length=extended] {
      grid-column: 2/-2;
   }
}
.card_grid--section .grid_area {
   grid-column: 2/-2;
   --_min_card_width: 20.9375rem;
   --_items_per_row: attr(items-per-row);
   display: grid;
   gap: clamp(1.5rem, 3.38vw + 0.70625rem, 3.75rem);
   grid-template-columns: repeat(auto-fit, minmax(var(--_min_card_width), 1fr));
}
.card_grid--section .grid_area:after {
   content: attr(items-per-row);
}
.card_grid--section .grid_area [constrain-type=card] {
   grid-template-columns: repeat(auto-fit, minmax(var(--_min_card_width), 1fr));
}
.card_grid--section .grid_area [constrain-type=card] {
   grid-template-columns: repeat(auto-fit, minmax(var(--_min_card_width), 1fr));
}
.card_grid--section .grid_area [constrain-type=row] {
   grid-template-columns: repeat(var(--_items_per_row), 1fr);
}