<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" large bold="viewport" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Components - Modal</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../../globals/_index.css" />
    <link rel="stylesheet" href="../../atoms/index.css" />
    <link rel="stylesheet" href="../../components/_index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <main class="">
      <div
        id="onetrust-banner-sdk"
        class="otFloatingFlat ot-bottom-left ot-wo-title"
        tabindex="0"
        role="region"
        aria-label="Cookie banner"
      >
        <div
          role="alertdialog"
          aria-describedby="onetrust-policy-text"
          aria-label="Privacy"
        >
          <div class="ot-sdk-container">
            <!-- Banner close icon starts -->
            <div class="banner-close-btn-container">
              <button
                class="onetrust-close-btn-handler ot-close-icon banner-close-button"
                style="
                  background-image: url('https://cdn.cookielaw.org/logos/static/ot_close.svg');
                "
                aria-label="Close"
              ></button>
            </div>
            <!-- Banner close icon ends -->
            <div class="ot-sdk-row">
              <div class="ot-sdk-eight ot-sdk-columns">
                <div class="banner_logo"></div>
                <div id="onetrust-policy" class="policy">
                  <div id="onetrust-policy-text">
                    By clicking “Accept All Cookies”, you agree to the storing
                    of cookies on your device to enhance site navigation,
                    analyze site usage, and assist in our marketing efforts.
                    <a
                      class="ot-cookie-policy-link"
                      href="https://www.confluent.io/cookies"
                      aria-label="More information about your privacy, opens in a new tab"
                      rel="noopener"
                      target="_blank"
                      >Cookie Notice</a
                    >
                  </div>
                </div>
              </div>
              <div
                id="onetrust-button-group-parent"
                class="ot-sdk-four ot-sdk-columns has-reject-all-button"
              >
                <div id="onetrust-button-group" class="ot-sdk-row">
                  <div class="accept-btn-container">
                    <button id="onetrust-accept-btn-handler">
                      Accept All Cookies
                    </button>
                  </div>
                  <div class="reject-btn-container">
                    <button id="onetrust-reject-all-handler">Reject All</button>
                  </div>
                  <div class="pc-btn-container">
                    <button id="onetrust-pc-btn-handler">
                      Cookies Settings
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../../js/modal.js"></script>
  </body>
</html>
