//Attributres
@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual:https://www.figma.com/file/bkJMx3wQBC5MoOB0mSGuqO/Data-Streaming-Report-LP?type=design&node-id=290%3A1393&mode=design&t=P0iJjQtxlG8hNy3v-1
/*css/atoms/dropdown/css/index.scss*/
//Dependencies: dropdown--select.js

.dropdown-- {
	&select {
		max-width: 100%;
		position: relative;
		font-size: 1rem;
		@include md {
			font-size: 0.75rem;
		}
		@include sm {
			flex-basis: 10rem;
		}
	}
	&button {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 0.625rem;
		border: 0.125rem solid #ebf2ff;
		background-color: #ebf2ff;
		border-radius: var(--corner-4, 0.25rem);
		flex-grow: 1;
		width: 100%;
		box-sizing: border-box;

		transition: 0.5s all;
		padding: 0.875rem 1rem 0.125rem 1rem;
		min-height: 2.875rem;
		height: auto;
		margin-bottom: 0;

		color: var(--blue-900, #000f39);
		font-family: $primary_font-var;
		font-size: 12 * $rem;
		font-style: normal;
		font-weight: 600;
		line-height: 103%;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		opacity: 0.75;

		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			border: 2px solid var(--blue-900, #000f39);
			color: var(--blue-900, #000f39);
		}
		&:focus,
		&:focus-visible {
			// color: var(--accent-light);
			// outline: 2/16 * 1rem solid var(--accent);
			// outline-offset: 2/16 * 1rem;
		}
		.open & {
			border: 2px solid var(--blue-900, #000f39);
			color: var(--blue-900, #000f39);
			background-color: white;
		}

		&::after {
			display: block;
			content: "";
			width: 0;
			height: 0;
			margin-top: 6/12 * 1em;
			border-left: 4/12 * 1em solid transparent;
			border-right: 4/12 * 1em solid transparent;
			border-top: 5/12 * 1em solid currentColor;
			transition: 0.3s rotate;
		}
		.open &::after {
			rotate: 180deg;
		}

		&-text {
			width: 92/16 * 1em;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			@include sm {
				width: 100%;
			}
		}
	}

	// &arrow {
	//   @include css-arrow-down;
	// }
	&container {
		position: absolute;
		top: calc(100% + 0.25rem);
		width: 100%;
		background-color: transparent;
		height: 0;
		overflow: clip;
		transition: content-visibility 0.5s allow-discrete, height 0.5s;
		z-index: 999;
		.open & {
			height: 240 * $rem !important;
		}
	}
	&list {
		position: absolute;
		list-style: none;
		width: 100%;
		border-radius: 0.25rem;
		padding-inline: var(--obj_padding-small);
		padding-block: var(--obj_padding-small);
		max-height: 240/16 * 1em;
		overflow-y: auto;
		transition: 0.5s ease;
		z-index: 100;
		transform: scaleY(0);
		transform-origin: 0 0;
		opacity: 0;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		border: 1px solid rgba($blue-900, $alpha: 0.5);
		background-color: white;

		.open & {
			//Active state
			transform: scaleY(1);
			opacity: 1;
			visibility: initial;
		}

		@include sm {
			max-height: 280/16 * 1em;
		}

		&:focus-within {
		}
		&::-webkit-scrollbar {
			width: 6/16 * 1rem;
		}
		&::-webkit-scrollbar-thumb {
			background: var(--neutral-300);
			border-radius: 99em;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 99rem;
			margin-block: 0.75em;
		}
	}
} //.dropdown--
