@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual:
/*css/pages/pickup/css/index.scss*/
//Dependencies:

.featured_stats {
	&- {
		&group {
			border-radius: var(--corner, 0.25rem);
			background: linear-gradient(92deg, #192d62 0.55%, #213d85 100%);
			box-shadow: 0px 7px 20px 0px rgba($brand-500, 0.24);
			display: flex;
			padding: 32/16 * 1rem;
			align-items: flex-start;
			gap: 32/16 * 1rem;
			align-self: stretch;
			grid-column: 1/-1;
			flex-wrap: wrap;
		}
		&item {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 240/16 * 1rem;
		}
		&number {
			color: var(--theme_color-500, #{$brand-500});
			text-align: center;
			text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.19);
			font-family: "Trade Gothic Next LT Pro";
			font-size: 5.6875rem;
			font-style: normal;
			font-weight: 800;
			line-height: 100%;
		}
		&label {
			color: var(--theme_color-500, #{$brand-500});
			text-align: center;
			font-family: "Trade Gothic Next LT Pro";
			font-size: 1.5rem;
			font-style: italic;
			font-weight: 800;
			line-height: 135%;
			letter-spacing: 0.075rem;
			text-transform: uppercase;
		}
	}
}
