/*css/components/featured_event/css/index.scss*/
.session_list-list[session-display=featured] {
   grid-template-columns: 1fr;
}
.session_list-list[session-display=featured] .event_card-card {
   display: none;
}
.session_list-list[session-display=grid] {
   --_items-per-row: 3;
}
.session_list-list[session-display=grid] .featured_event-card {
   display: none;
}
.session_list-item {
   --_border-width: 0.0625rem;
   --_gold: var(--theme--border);
   --_red: var(--theme--border);
   --_blue: var(--theme--border);
   --_logo-opacity: 0.9;
   --_glow-opacity: 0;
   --_corner: var(--corner-12);
   --_glow-inset: 2.5rem;
   border-radius: var(--_corner);
   padding: 0;
   container-type: inline-size;
   container-name: session-item;
   position: relative;
}
.session_list-item::after, .session_list-item::before {
   position: absolute;
   inset: -1px;
   border-radius: inherit;
   z-index: -1;
   display: block;
   content: "";
}
.session_list-item:before {
   background-image: conic-gradient(from var(--_gradient_angle), var(--_gold), var(--_red), var(--_blue), var(--_red), var(--_gold));
}
.session_list-item::after {
   opacity: var(--_glow-opacity, 0);
   filter: blur(1.5rem);
   inset: 1rem;
   background-image: conic-gradient(from var(--_gradient_angle), var(--_gold), var(--_red), var(--_blue), var(--_red), var(--_gold));
}
.session_list-item:hover::after, .session_list-item:hover::before {
   animation: card-border-rotation 5s linear infinite;
}
.session_list-link {
   width: 100%;
   display: flex;
   flex-direction: column;
   border-radius: inherit;
   background-color: var(--theme--background);
   position: relative;
   height: 100%;
   justify-content: flex-start;
   align-items: flex-start;
   padding: var(--obj_padding);
   gap: var(--obj_padding);
}

.event_card-card {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   width: 100%;
   border-radius: 1rem;
   transition: 0.3s all;
}
.event_card-header {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.event_card-header .tag-container {
   flex-grow: 0;
}
[session-type="Lightning Talk"] .event_card-header .tag {
   background: var(--Gradient-Blue-1, linear-gradient(90deg, #4f42dc -5.41%, #73b1ff 100%));
}
[session-type="Breakout Session"] .event_card-header .tag {
   background: var(--Linear, linear-gradient(90deg, #ef9023 0%, #e9af63 100%));
}
.event_card-header [ct-el=live] {
   display: none;
}
.event_card-time {
   color: var(--theme--primary_text);
   font-variant-numeric: lining-nums proportional-nums;
   font-family: var(--primary_font, "Raleway Variable", "Raleway", sans-serif);
   font-size: 0.875rem;
   font-weight: 600;
   line-height: 145%;
   flex-grow: 0;
}
.event_card-title {
   color: var(--theme--primary_text);
   font-variant-numeric: lining-nums proportional-nums;
   font-family: var(--primary_font, "Raleway Variable", "Raleway", sans-serif);
   font-size: 1.125rem;
   font-weight: 700;
   line-height: 115%;
}
.event_card-speakers {
   color: var(--theme--primary_text, #fff);
   font-size: clamp(0.8125rem, 0.09vw + 0.7875rem, 0.875rem);
   font-weight: 400;
   line-height: 1.45;
   font-family: var(--primary_font, "Raleway Variable", "Raleway", sans-serif);
   opacity: 0.6;
   text-decoration: none;
}
.event_card-speakers a {
   font-weight: 650;
   color: var(--theme--accent-light);
   text-decoration: none;
   white-space: no-wrap;
   display: inline-block;
   position: relative;
   transition: 0.5s color, 0.5s background;
}
.event_card-speakers a:hover {
   color: var(--theme--accent-light);
   filter: brightness(1.2);
   text-decoration: underline;
}
.event_card-speakers a:hover::before {
   width: 100%;
}
.event_card-location {
   color: var(--theme--primary_text, #fff);
   font-size: clamp(0.8125rem, 0.09vw + 0.7875rem, 0.875rem);
   font-weight: 400;
   line-height: 1.45;
   font-family: var(--primary_font, "Raleway Variable", "Raleway", sans-serif);
   text-align: right;
}
.event_card-location a {
   font-weight: 650;
   color: var(--theme--accent-light);
   text-decoration: none;
   white-space: no-wrap;
   display: inline-block;
   position: relative;
   transition: 0.5s color, 0.5s background;
}
.event_card-location a:hover {
   color: var(--theme--accent-light);
   filter: brightness(1.2);
   text-decoration: underline;
}
.event_card-location a:hover::before {
   width: 100%;
}
.event_card-location:empty {
   display: none;
}

.featured_event-card {
   display: grid;
   grid-template-columns: 7fr 5fr;
   gap: var(--obj_padding-large);
   color: var(--theme--primary_text);
}
.featured_event-card:hover {
   color: var(--theme--primary_text);
}
@media (max-width: 991px) {
   .featured_event-card {
      grid-template-columns: 6fr 6fr;
   }
}
@media (max-width: 767px) {
   .featured_event-card {
      grid-template-columns: 1fr;
   }
}
.featured_event-overview {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: vaR(--obj_padding-small);
   --_overview-max: 25rem;
}
@media (max-width: 767px) {
   .featured_event-overview {
      --_overview-max: 43.75rem;
   }
}
.featured_event-overview [ct-el=live] {
   display: none;
}
.featured_event-feature_image {
   border-radius: var(--corner-8);
   position: relative;
   aspect-ratio: 16/9;
   max-width: var(--_overview-max, 25rem);
   overflow: clip;
   width: 100%;
}
.featured_event-feature_image img {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
a:not([session-type=keynote]) .featured_event-feature_image, a:not([session-type=Workshop]) .featured_event-feature_image {
   display: none;
}
.featured_event-title {
   color: inherit;
   font-size: clamp(1.375rem, 0.38vw + 1.2875rem, 1.625rem);
   font-weight: 500;
   line-height: 120%;
   max-width: var(--_overview-max);
}
a:hover .featured_event-title {
   color: var(--theme--accent-light);
}
.featured_event-time {
   color: inherit;
   font-variant-numeric: lining-nums proportional-nums;
   font-size: 0.875rem;
   font-family: var(--primary_font, "Raleway Variable", "Raleway", sans-serif);
   font-weight: 600;
   max-width: var(--_overview-max, 25rem);
}
.featured_event-details {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.featured_event-details-row {
   display: grid;
   grid-template-columns: 5.625rem 1fr;
   max-width: 28.125rem;
}
@media (max-width: 767px) {
   .featured_event-details-row {
      max-width: 43.75rem;
   }
}
.featured_event-details-row h5 {
   color: inherit;
   font-size: clamp(0.875rem, 0.19vw + 0.83125rem, 1rem);
   font-weight: 400;
   line-height: 145%;
}
.featured_event-speakers, .featured_event-audience, .featured_event-location {
   display: flex;
   flex-direction: column;
   gap: 1em;
   font-family: var(--primary_font, "Raleway Variable", "Raleway", sans-serif);
   font-size: clamp(0.875rem, 0.19vw + 0.83125rem, 1rem);
   font-weight: 500;
   line-height: 145%;
}
.featured_event-speaker {
   display: flex;
   gap: 1em;
   align-items: center;
}
.featured_event-speaker img {
   width: 2em;
   height: 2em;
   border-radius: 50%;
}