<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" large bold="viewport" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Block - Grid Content</title>
    <link rel="stylesheet" href="../../globals/normalize.css" />
    <link rel="stylesheet" href="../../globals/_index.css" />
    <link rel="stylesheet" href="../../atoms/_index.css" />
    <link rel="stylesheet" href="../../components/_index.css" />
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <main class="">
      <section class="basic_content--section">
        <div class="basic_content--row" column-span="intro" alignment="left">
          <div class="text_area">
            <div class="text_content">
              <p class="body-text-jumbo">
                Kafka Summit in London was massive, and this year we’re coming
                back to do something even bigger as Current: London. It’s the
                data streaming event with a full two days of keynotes, breakout
                sessions, and an amazing expo hall. It’s the can’t-miss event
                for the best minds in data streaming.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
