@use "sass:color";
@use "../../../global_css/abstracts" as *;

//Visual: https://www.figma.com/file/kIjfaVuV4r1BQl86FGWFhB/Web-Design-System-V1?type=design&node-id=643%3A5962&mode=design&t=1zQKnpLthgt7v7tT-1
/*components/icons/css/index.scsss*/
//Dependencies:

//Attributres
//size = small | large | jumbo | interface

.toggle {
  background-color: $white;
  box-shadow: 0px 10px 4px -7px rgba(5, 6, 50, 0.03);
  padding: 0.25rem;
  border-radius: 999rem;

  &-checkbox {
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
  }
  &-thumb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  &-indicator {
    background-color: $ocean;
    grid-column: 1;
    grid-row: 1;
    border-radius: 999rem;
    z-index: 0;
    transition: 0.3s all;
  }
  &-option {
    border-radius: 999rem;
    padding: 4px 12px 6px 12px;
    position: relative;
    z-index: 1;
    @include body_text-small;
    font-weight: 600;
    transition: 0.3s all;
    &:hover {
      background-color: $midnight-10;
    }
  }
  &-option:first-child {
    grid-column: 1;
    grid-row: 1;
    color: $white;
    &:hover {
      background: transparent;
    }
  }

  &-checkbox:checked + &-thumb &-indicator {
    transform: translateX(calc(100% + 0.5rem));
  }
  &-checkbox:checked + &-thumb &-option:last-child {
    color: $white;
    &:hover {
      background: transparent;
    }
  }
  &-checkbox:checked + &-thumb &-option:first-child {
    color: $midnight;
    &:hover {
      background-color: $midnight-10;
    }
  }
}
