<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" large bold="viewport" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Featue Block</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../../global_css/components/_index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <main class="">
      <section>
        <div class="wrapper">
          <article class="content_group">
            <div class="media_area">
              <div class="media_content">
                <img
                  src="../../global_media/Media Placeholder 16-9.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text_area">
              <div class="text_content">
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliq.
                </p>
                <a href="#" type="borderless" class="button">
                  Learn more
                  <svg
                    viewBox="0 0 7 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <br />
          <hr />
          <br />
          <article class="content_group">
            <div class="media_area">
              <div class="media_content">
                <img
                  src="../../global_media/Media Placeholder 16-9.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text_area">
              <div class="text_content">
                <h5 class="subheading">Lorem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliq.
                </p>
                <a href="#" type="borderless" class="button">
                  Learn more
                  <svg
                    viewBox="0 0 7 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <br />
          <hr />
          <br />
          <article class="content_group">
            <div class="media_area">
              <div class="media_content">
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder 1-1.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text_area">
              <div class="text_content">
                <h5 class="subheading">Lorem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliq.
                </p>
                <a href="#" type="borderless" class="button">
                  Learn more
                  <svg
                    viewBox="0 0 7 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <br />
          <hr />
          <br />
          <article class="content_group" content-type="feature-text">
            <div class="text_area">
              <div class="text_content">
                <h6 class="eyebrow">Lorem Ipsum</h6>
                <h2 class="">Lorem ipsum dolor sit amet doles consectetur.</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
              </div>
              <div class="text_content">
                <div class="button-container">
                  <a href="#" class="button">Learn more</a>
                  <a href="#" type="borderless" class="button">
                    Learn more
                    <svg
                      viewBox="0 0 7 11"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </article>
          <br />
          <hr />
          <br />
          <article class="content_group" content-type="feature-text">
            <div class="text_area">
              <div class="text_content">
                <h6 class="eyebrow">Lorem Ipsum</h6>
                <h2 class="">Lorem ipsum dolor sit amet doles consectetur.</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
              </div>
              <div class="text_content">
                <div class="button-container">
                  <a href="#" class="button">Learn more</a>
                  <a href="#" type="borderless" class="button">
                    Learn more
                    <svg
                      viewBox="0 0 7 11"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </article>
          <br />
          <hr />
          <br />
          <article class="content_group" content-type="feature-small">
            <div class="text_area">
              <div class="text_content">
                <div class="headline-row">
                  <h4 class="subheading">
                    Lorem ipsum dolor sit amet doles consectetur.
                  </h4>

                  <svg
                    viewBox="0 0 22 10"
                    arrow-type="feature"
                    class="arrow"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M16 1L20 5M20 5L16 9M20 5H6" />
                  </svg>
                </div>

                <p>
                  Lorem ipsum dolor sit amet, consectur adipiscing asuras,
                  mionggut.
                </p>
              </div>
            </div>
          </article>
          <br />
          <hr />
          <br />
          <a href="#" class="content_group" content-type="feature-small">
            <div class="text_area">
              <div class="text_content">
                <div class="headline-row">
                  <h4 class="subheading">
                    Lorem ipsum dolor sit amet doles consectetur.
                  </h4>

                  <svg
                    viewBox="0 0 22 10"
                    arrow-type="feature"
                    class="arrow"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M16 1L20 5M20 5L16 9M20 5H6" />
                  </svg>
                </div>

                <p>
                  Lorem ipsum dolor sit amet, consectur adipiscing asuras,
                  mionggut.
                </p>
              </div>
            </div>
          </a>
        </div>
      </section>
    </main>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="../../jquery.min.js"></script>
    <script src="js/controls.js"></script>
  </body>
</html>
