@use "sass:color";
@use "../../../global_css/abstracts" as *;

//Visual: https://www.figma.com/file/kIjfaVuV4r1BQl86FGWFhB/Web-Design-System-V1?type=design&node-id=643%3A5962&mode=design&t=1zQKnpLthgt7v7tT-1
/*components/cards/css/index.scsss*/
//Dependencies:

//Attributres

.wrapper {
  max-width: 570px;
  margin: 60px auto;
  grid-column: 1 /-1;

  img {
    max-width: 100%;
  }
}

.content_group {
  display: flex;
  flex-direction: column;
  gap: 32/16 * 1rem;

  .text_area {
    gap: 16/16 * 1rem;
  }

  .text_content {
    gap: 8/16 * 1rem;
  }

  .headline-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary_text);
  }
  .media_content {
    border-radius: 0.5rem;
    img {
      border-radius: inherit;
    }
  }

  &[content-type="feature-text"] {
    .text_area {
      gap: 32/16 * 1rem;
    }

    .text_content {
      gap: 16/16 * 1rem;
    }
  }
}
a.content_group {
  text-decoration: none;
  &:hover {
    --primary_text: #{$ocean};
  }
}
