/*components/cards/css/index.scsss*/
.wrapper {
   max-width: 570px;
   margin: 60px auto;
   grid-column: 1/-1;
}
.wrapper img {
   max-width: 100%;
}

.content_group {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.content_group .text_area {
   gap: 1rem;
}
.content_group .text_content {
   gap: 0.5rem;
}
.content_group .headline-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--primary_text);
}
.content_group .media_content {
   border-radius: 0.5rem;
}
.content_group .media_content img {
   border-radius: inherit;
}
.content_group[content-type=feature-text] .text_area {
   gap: 2rem;
}
.content_group[content-type=feature-text] .text_content {
   gap: 1rem;
}

a.content_group {
   text-decoration: none;
}
a.content_group:hover {
   --primary_text: #0079ff;
}