/*atoms/arrows/css/index.scss*/
.svg-arrow {
 display: contents;
 color: var(--primary_text, #192d62);
}
.svg-arrow svg {
 fill: none;
 height: 0.625em;
}
.svg-arrow svg path {
 stroke: currentColor;
 stroke-width: 1.5;
}
.svg-arrow[arrow-size=large] svg {
 height: 1em;
}
.svg-arrow[arrow-size=large] svg path {
 stroke-width: 2.5;
}
a .svg-arrow {
 color: inherit;
}