@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/file/FbVHOBSGd3G5HXu86r2vdn/PHLVB-Library?type=design&node-id=1%3A926&mode=design&t=g6qwze9oShWnmzfu-1
/*atoms/arrows/css/index.scss*/
//Dependencies:

//Attributres
//arrow-size = large

.svg-arrow {
	display: contents;
	color: var(--primary_text, #{$brand-900});

	svg {
		fill: none;
		height: 10/16 * 1em;
		path {
			stroke: currentColor;
			stroke-width: 1.5;
		}
	}

	&[arrow-size="large"] {
		svg {
			height: 1em;
			path {
				stroke-width: 2.5;
			}
		}
	}

	a & {
		color: inherit;
	}
}
