@use "sass:color";

$blue: #1a7aff;
$crimson: #ff5f1a;
$yellow: #f9d452;
$green: #6eb800;
$white: #ffffff;
$offwhite: #fafcff;

$blue-0: #{mix($blue, $white, 5%)};
$blue-25: color.adjust($blue, $hue: 3, $saturation: 5%, $lightness: 41%);
$blue-50: color.adjust($blue, $hue: 2, $saturation: 4%, $lightness: 37%);
$blue-100: color.adjust($blue, $hue: 1, $saturation: 3%, $lightness: 33%);
$blue-200: color.adjust($blue, $saturation: 2%, $lightness: 26%);
$blue-300: color.adjust($blue, $saturation: 1%, $lightness: 18%);
$blue-400: color.adjust($blue, $lightness: 9%);
$blue-500: $blue;
$blue-600: color.adjust($blue, $hue: 1, $lightness: -11%);
$blue-700: color.adjust($blue, $hue: 2, $lightness: -22%);
$blue-800: color.adjust($blue, $hue: 4, $lightness: -33%);
$blue-900: color.adjust($blue, $hue: 9, $lightness: -44%);

$navy: $blue-900;

$crimson-25: color.adjust($crimson, $hue: 3, $saturation: 5%, $lightness: 41%);
$crimson-50: color.adjust($crimson, $hue: 2, $saturation: 4%, $lightness: 37%);
$crimson-100: color.adjust($crimson, $hue: 1, $saturation: 3%, $lightness: 33%);
$crimson-200: color.adjust($crimson, $saturation: 2%, $lightness: 26%);
$crimson-300: color.adjust($crimson, $saturation: 1%, $lightness: 18%);
$crimson-400: color.adjust($crimson, $lightness: 9%);
$crimson-500: $crimson;
$crimson-600: color.adjust($crimson, $hue: 1, $lightness: -11%);
$crimson-700: color.adjust($crimson, $hue: 2, $lightness: -22%);
$crimson-800: color.adjust($crimson, $hue: 4, $lightness: -33%);
$crimson-900: color.adjust($crimson, $hue: 9, $lightness: -44%);

$yellow-25: color.adjust($yellow, $hue: 3, $saturation: 5%, $lightness: 41%);
$yellow-50: color.adjust($yellow, $hue: 2, $saturation: 4%, $lightness: 37%);
$yellow-100: color.adjust($yellow, $hue: 1, $saturation: 3%, $lightness: 33%);
$yellow-200: color.adjust($yellow, $saturation: 2%, $lightness: 26%);
$yellow-300: color.adjust($yellow, $saturation: 1%, $lightness: 18%);
$yellow-400: color.adjust($yellow, $lightness: 9%);
$yellow-500: $yellow;
$yellow-600: color.adjust($yellow, $hue: 1, $lightness: -11%);
$yellow-700: color.adjust($yellow, $hue: 2, $lightness: -22%);
$yellow-800: color.adjust($yellow, $hue: 4, $lightness: -33%);
$yellow-900: color.adjust($yellow, $hue: 9, $lightness: -44%);

$green-25: color.adjust($green, $hue: 3, $saturation: -10%, $lightness: 61%); //97
$green-50: color.adjust($green, $hue: 2, $saturation: -10%, $lightness: 57%);
$green-100: color.adjust($green, $hue: 1, $saturation: -10%, $lightness: 44%);
$green-200: color.adjust($green, $saturation: -15%, $lightness: 33%);
$green-300: color.adjust($green, $saturation: -20%, $lightness: 22%);
$green-400: color.adjust($green, $saturation: -25%, $lightness: 11%);
$green-500: $green; // 36
$green-600: color.adjust($green, $hue: 1, $lightness: -8%);
$green-700: color.adjust($green, $hue: 2, $lightness: -16%);
$green-800: color.adjust($green, $hue: 4, $lightness: -24%);
$green-900: color.adjust($green, $hue: 9, $lightness: -28%); //6

$all_colors: ("green" $green, "blue" $blue, "crimson" $crimson, "yellow" $yellow);

@mixin theme-dark {
	--theme--background: #{$navy};
	--theme--background-secondary: #{$blue-800};
	--theme--primary_text: #{$white};
	--theme--secondary_text: #{$blue-25};
	--theme--border: #{$blue-700};
	--theme--soft_color: #{rgba($white, $alpha: 0.25)};
}
@mixin theme-light {
	--theme--background: #{$offwhite};
	--theme--background-secondary: #{$white};
	--theme--primary_text: #{$blue-900};
	--theme--secondary_text: #{$blue-800};
	--theme--border: #{$blue-200};
	--theme--soft_color: rgba($navy, $alpha: 0.25);
}
@mixin theme-blue {
	--theme--accent: #{$blue};

	--theme--accent-25: #{$blue-25};
	--theme--accent-50: #{$blue-50};
	--theme--accent-100: #{$blue-100};
	--theme--accent-200: #{$blue-200};
	--theme--accent-300: #{$blue-300};
	--theme--accent-400: #{$blue-400};
	--theme--accent-500: #{$blue-500};
	--theme--accent-600: #{$blue-600};
	--theme--accent-700: #{$blue-700};
	--theme--accent-800: #{$blue-800};
	--theme--accent-900: #{$blue-900};

	--theme--accent_glow: #{color.adjust($blue, $alpha: -0.4)};
	--theme--accent-500-50: #{color.adjust($blue, $alpha: -0.5)};
	--theme--transparent: #{color.adjust($blue, $alpha: -1)};
	--theme--accent-500-20: #{color.adjust($blue, $alpha: -0.8)};
}
@mixin theme-crimson {
	--theme--accent: #{$crimson};

	--theme--accent-25: #{$crimson-25};
	--theme--accent-50: #{$crimson-50};
	--theme--accent-100: #{$crimson-100};
	--theme--accent-200: #{$crimson-200};
	--theme--accent-300: #{$crimson-300};
	--theme--accent-400: #{$crimson-400};
	--theme--accent-500: #{$crimson-500};
	--theme--accent-600: #{$crimson-600};
	--theme--accent-700: #{$crimson-700};
	--theme--accent-800: #{$crimson-800};
	--theme--accent-900: #{$crimson-900};

	--theme--accent_glow: #{color.adjust($crimson, $alpha: -0.4)};
	--theme--accent-500-50: #{color.adjust($crimson, $alpha: -0.5)};
	--theme--transparent: #{color.adjust($crimson, $alpha: -1)};
	--theme--accent-500-20: #{color.adjust($crimson, $alpha: -0.8)};
}
@mixin theme-yellow {
	--theme--accent: #{$yellow};

	--theme--accent-25: #{$yellow-25};
	--theme--accent-50: #{$yellow-50};
	--theme--accent-100: #{$yellow-100};
	--theme--accent-200: #{$yellow-200};
	--theme--accent-300: #{$yellow-300};
	--theme--accent-400: #{$yellow-400};
	--theme--accent-500: #{$yellow-500};
	--theme--accent-600: #{$yellow-600};
	--theme--accent-700: #{$yellow-700};
	--theme--accent-800: #{$yellow-800};
	--theme--accent-900: #{$yellow-900};

	--theme--accent_glow: #{color.adjust($yellow, $alpha: -0.4)};
	--theme--accent-500-50: #{color.adjust($yellow, $alpha: -0.5)};
	--theme--transparent: #{color.adjust($yellow, $alpha: -1)};
	--theme--accent-500-20: #{color.adjust($yellow, $alpha: -0.8)};
}
@mixin theme-green {
	--theme--accent: #{$green};

	--theme--accent-25: #{$green-25};
	--theme--accent-50: #{$green-50};
	--theme--accent-100: #{$green-100};
	--theme--accent-200: #{$green-200};
	--theme--accent-300: #{$green-300};
	--theme--accent-400: #{$green-400};
	--theme--accent-500: #{$green-500};
	--theme--accent-600: #{$green-600};
	--theme--accent-700: #{$green-700};
	--theme--accent-800: #{$green-800};
	--theme--accent-900: #{$green-900};

	--theme--accent_glow: #{color.adjust($green, $alpha: -0.4)};
	--theme--accent-500-50: #{color.adjust($green, $alpha: -0.5)};
	--theme--accent-500-20: #{color.adjust($green, $alpha: -0.8)};
	--theme--transparent: #{color.adjust($green, $alpha: -1)};
}

$accent: #{$blue};
$accent-lighter: #{$blue-100};
$accent-light: #{$blue-200};
$accent-dark: #{$blue-700};
$accent-darker: #{$blue-800};
$accent_glow: #{color.adjust($blue, $alpha: -0.4)};
$accent-text: #{$white};
$accent-text-light: #{$navy};

$color-aliases: (
	"accent" $blue,
	"accent-lighter" $blue-100,
	"accent-light" $blue-200,
	"accent-dark" $blue-700,
	"accent-darker" $blue-800,
	"accent_glow" color.adjust($blue, $alpha: -0.4),
	"accent-text" $white,
	"accent-text-light" $navy
);
