@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/file/FbVHOBSGd3G5HXu86r2vdn/PHLVB-Library?type=design&node-id=17%3A30515&mode=design&t=0WifjdQbiERAKgi3-1
/*css/components/media_slider/css/index.scss*/

//Dependencies: media_slider.js, swiper@8/swiper-bundle.min.js, swiper@11/swiper-bundle.min.css, jquery/3.3.1/jquery.min.js

.image_slider {
	contain: paint;
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	border-radius: 0.5rem;

	.swiper-slide img {
		height: 100%;
		object-fit: cover;
	}
}

//cusotm style for editor
.wf-design-mode {
	.image_slider {
		.swiper-wrapper {
			//oraganize as grid so you can see/access all images
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}
}
