@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/file/FbVHOBSGd3G5HXu86r2vdn/PHLVB-Library?type=design&node-id=16%3A7615&mode=design&t=BexzFHryADFV6vUz-1
/*css/blocks/basic_hero/css/index.scss*/
//Dependencies:

//Attributres
//section: has-image = true | false

.basic_hero {
	&-- {
		&section {
			//dark mode vairables by default
			--background: #{$brand-900};
			--primary_text: #{$brand-50};
			--secondary_text: #{$brand-200};
			--low_text: #{$brand-400};
			--border: #{$brand-800};
			position: relative;
			contain: paint;
			height: 548/16 * 1rem;
			max-height: 80svh;
			min-height: 400/16 * 1rem;
			&[has-image="true"] {
				--primary_text: white;
				--secondary_text: #{$brand-50};
			}
		}

		&row {
			grid-column: 2 / span 9;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			padding-block: var(--padding_base);
			@include sm {
				grid-column: 2 / span 12;
			}
		}

		&background {
			background-color: var(--background);

			img {
				display: none;
			}
			[has-image="true"] & {
				&::after {
					display: block;
					content: "";
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
					mix-blend-mode: multiply;
					@include cover_obj;
				}
				img {
					display: block;
				}
			}
		}
		&circle {
			display: block;
			box-sizing: border-box;
			width: clamp(22.5rem, 14.04vw + 19.2125rem, 35rem);
			height: clamp(22.5rem, 14.04vw + 19.2125rem, 35rem);
			position: absolute;
			bottom: 0;
			left: 0;
			translate: -30% 30%;
			border-radius: 50%;
			border-style: solid;
			border-width: clamp(3.75rem, 2.11vw + 3.25625rem, 5.625rem);
			border-color: var(--theme_color-500);
			opacity: 0.3;

			[has-image="true"] & {
				opacity: 1;
				mix-blend-mode: soft-light;
				border-color: #fff;
				z-index: 2;
			}
		}
	}
}
