<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" large bold="viewport" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Components - Profile Item</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
		/>
		<link rel="stylesheet" href="../../globals/_index.css" />
		<link rel="stylesheet" href="../../atoms/index.css" />
		<link rel="stylesheet" href="../index.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<main class="">
			<componentGrid>
				<article class="profile_item">
					<div class="media_area">
						<figure class="media_content" aspect-ratio="4:3">
							<img
								src="https://assets-global.website-files.com/6538694ee32907f177d68704/659e007a9fb50ba86a6e75e4_indoor-set.webp"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<p class="profile_item-division">divison</p>
							<h4 class="profile_item-name">Team name</h4>
							<p class="profile_item-event">Tournament name</p>
						</div>
					</div>
				</article>
				<article class="profile_item">
					<div class="media_area">
						<figure class="media_content" aspect-ratio="4:3">
							<img
								src="https://assets-global.website-files.com/6538694ee32907f177d68704/659e007a9fb50ba86a6e75e4_indoor-set.webp"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<p class="profile_item-season">season</p>
							<h4 class="profile_item-name">Team name</h4>
							<p class="profile_item-event">League division</p>
						</div>
					</div>
				</article>
				<article class="profile_item">
					<div class="media_area">
						<figure class="media_content" aspect-ratio="4:3">
							<img
								src="https://assets-global.website-files.com/6538694ee32907f177d68704/659e007a9fb50ba86a6e75e4_indoor-set.webp"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<p class="profile_item-category">category</p>
							<h4 class="profile_item-name">Team name</h4>
							<p class="small">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laborum qui
								architecto consectetur dolores delectus sint temporibus labore neque iure expedita,
								dignissimos enim in culpa laboriosam. Dolore illo in deserunt?
							</p>
						</div>
						<div class="text_content">
							<div class="button-container">
								<a href="#" class="button" button-size="small">buy now</a>
							</div>
						</div>
					</div>
				</article>
			</componentGrid>
		</main>
	</body>
</html>
