<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" large bold="viewport" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Components - Cards</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../../global_css/components/_index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <main class="">
      <componentGrid color-theme="">
        <article class="card" color-theme="">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="16:9">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>
            <div class="text_content">
              <div class="icons-container">
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder 1-1.png"
                  alt=""
                />
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag">tag wrap</div>
                <div class="tag">tag this wrap</div>
                <div class="tag">tag</div>
              </div>
            </div>
          </div>
        </article>
        <a href="#" class="card">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="16:9">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>
            <div class="text_content">
              <div class="icons-container">
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder 1-1.png"
                  alt=""
                />
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="text_content">
              <span type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </span>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag">tag wrap</div>
                <div class="tag">tag this wrap</div>
                <div class="tag">tag</div>
              </div>
            </div>
          </div>
        </a>

        <article class="card" card-type="accelerator-program">
          <div class="media_area card-media_area">
            <div class="media_content">
              <img src="../../global_media/Media Placeholder 21-9.png" alt="" />
            </div>
          </div>
          <div class="text_area">
            <div class="text_content">
              <h5 class="subheading">For help with:</h5>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag" tag-type="inverted" color-theme="han">
                  OSK to Confluent Cloud
                </div>
                <div class="tag" tag-type="inverted" color-theme="olive">
                  OSK to Confluent Platform
                </div>
                <div class="tag" tag-type="inverted" color-theme="jade">
                  Confluent Platform to Confluent Cloud
                </div>
              </div>
            </div>

            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <a href="#" class="card" card-type="accelerator-program">
          <div class="media_area card-media_area">
            <div class="media_content">
              <img src="../../global_media/Media Placeholder 21-9.png" alt="" />
            </div>
          </div>
          <div class="text_area">
            <div class="text_content">
              <h5 class="subheading">For help with:</h5>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag" tag-type="inverted" color-theme="han">
                  OSK to Confluent Cloud
                </div>
                <div class="tag" tag-type="inverted" color-theme="olive">
                  OSK to Confluent Platform
                </div>
                <div class="tag" tag-type="inverted" color-theme="jade">
                  Confluent Platform to Confluent Cloud
                </div>
              </div>
            </div>

            <div class="text_content">
              <span type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </span>
            </div>
          </div>
        </a>

        <article class="card" card-type="horizontal">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="1:1">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>

            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal">
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>

            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="small">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="1:1">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="small">
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="x-small">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="1:1">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="eyebrow">LOREM IPSUM</h5>

              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
        </article>

        <article class="card" card-type="media-only" size="">
          <div class="media_area card-media_area">
            <div class="media_content">
              <img src="../../global_media/Media Placeholder 21-9.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <svg
                viewBox="0 0 22 10"
                arrow-type="feature"
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M16 1L20 5M20 5L16 9M20 5H6" />
              </svg>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="x-small">
          <div class="text_area card-text_area">
            <div class="text_content">
              <p class="subheading">
                Lorem ipsum dolor sit amet, consectetur
              </h5>
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <svg
                viewBox="0 0 22 10"
                arrow-type="feature"
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M16 1L20 5M20 5L16 9M20 5H6" />
              </svg>
            </div>
          </div>
        </article>
      </componentGrid>
      <componentGrid color-theme="midnight">
        <article class="card" color-theme="">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="16:9">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>
            <div class="text_content">
              <div class="icons-container">
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder 1-1.png"
                  alt=""
                />
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag">tag wrap</div>
                <div class="tag">tag this wrap</div>
                <div class="tag">tag</div>
              </div>
            </div>
          </div>
        </article>
        <a href="#" class="card">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="16:9">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>
            <div class="text_content">
              <div class="icons-container">
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder 1-1.png"
                  alt=""
                />
                <img
                  class="icon"
                  src="../../global_media/Media Placeholder.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="text_content">
              <span type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </span>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag">tag wrap</div>
                <div class="tag">tag this wrap</div>
                <div class="tag">tag</div>
              </div>
            </div>
          </div>
        </a>

        <article class="card" card-type="accelerator-program">
          <div class="media_area card-media_area">
            <div class="media_content">
              <img src="../../global_media/Media Placeholder 21-9.png" alt="" />
            </div>
          </div>
          <div class="text_area">
            <div class="text_content">
              <h5 class="subheading">For help with:</h5>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag" tag-type="solid" color-theme="han">
                  OSK to Confluent Cloud
                </div>
                <div class="tag" tag-type="solid" color-theme="olive">
                  OSK to Confluent Platform
                </div>
                <div class="tag" tag-type="solid" color-theme="jade">
                  Confluent Platform to Confluent Cloud
                </div>
              </div>
            </div>

            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <a href="#" class="card" card-type="accelerator-program">
          <div class="media_area card-media_area">
            <div class="media_content">
              <img src="../../global_media/Media Placeholder 21-9.png" alt="" />
            </div>
          </div>
          <div class="text_area">
            <div class="text_content">
              <h5 class="subheading">For help with:</h5>
            </div>
            <div class="text_content">
              <div class="tag-container">
                <div class="tag" tag-type="solid" color-theme="han">
                  OSK to Confluent Cloud
                </div>
                <div class="tag" tag-type="solid" color-theme="olive">
                  OSK to Confluent Platform
                </div>
                <div class="tag" tag-type="solid" color-theme="jade">
                  Confluent Platform to Confluent Cloud
                </div>
              </div>
            </div>

            <div class="text_content">
              <span type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </span>
            </div>
          </div>
        </a>

        <article class="card" card-type="horizontal">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="1:1">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>

            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal">
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>
              <div class="card-date">December 29, 2023</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
            </div>

            <div class="text_content">
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="small">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="1:1">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="small">
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="subheading">Lorem ipsum dolor, sit amet</h5>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliq.
              </p>
              <a href="#" type="borderless" class="button">
                Learn more
                <svg
                  viewBox="0 0 7 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1.5L5 5.5L1 9.5" stroke-linecap="round" />
                </svg>
              </a>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="x-small">
          <div class="media_area card-media_area">
            <div class="media_content" aspect-ratio="1:1">
              <img src="../../global_media/Media Placeholder 1-1.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <h5 class="eyebrow">LOREM IPSUM</h5>

              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
        </article>

        <article class="card" card-type="media-only" size="">
          <div class="media_area card-media_area">
            <div class="media_content">
              <img src="../../global_media/Media Placeholder 21-9.png" alt="" />
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <svg
                viewBox="0 0 22 10"
                arrow-type="feature"
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M16 1L20 5M20 5L16 9M20 5H6" />
              </svg>
            </div>
          </div>
        </article>

        <article class="card" card-type="horizontal" size="x-small">
          <div class="text_area card-text_area">
            <div class="text_content">
              <p class="subheading">
                Lorem ipsum dolor sit amet, consectetur
              </h5>
            </div>
          </div>
          <div class="text_area card-text_area">
            <div class="text_content">
              <svg
                viewBox="0 0 22 10"
                arrow-type="feature"
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M16 1L20 5M20 5L16 9M20 5H6" />
              </svg>
            </div>
          </div>
        </article>
      </componentGrid>
    </main>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="../../jquery.min.js"></script>
    <script src="js/controls.js"></script>
  </body>
</html>
