/*css/atoms/inputs/css/index.scss*/
.input_input {
 position: relative;
 transition: 0.3s all;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
input[type=url] {
 display: flex;
 align-items: flex-end;
 gap: 0.625rem;
 border: 0.125rem solid #ebf2ff;
 background-color: #ffffff;
 border-radius: var(--corner-4, 0.25rem);
 flex-grow: 1;
 width: 100%;
 box-sizing: border-box;
 color: #000f39;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 1rem;
 font-weight: 500;
 line-height: 105%;
 transition: 0.5s all;
 padding: 0.75rem 1rem 0.125rem 1rem;
 min-height: 2.875rem;
 height: auto;
 margin-bottom: 0;
}
input[type=text] + label,
input[type=number] + label,
input[type=email] + label,
input[type=password] + label,
input[type=tel] + label,
input[type=url] + label {
 color: var(--blue-900, #000f39);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.75rem;
 font-style: normal;
 font-weight: 600;
 line-height: 103%;
 letter-spacing: 0.08em;
 text-transform: uppercase;
 opacity: 0.75;
 pointer-events: none;
 font-size: 0.625rem;
 transition: 0.5s all;
 position: absolute;
 left: 1.125rem;
 top: 0.7em;
 translate: 0 0;
 font-size: 0.625rem;
 opacity: 0.7;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=url]:hover {
 border-color: #000f39;
}
input[type=text]:hover + label,
input[type=number]:hover + label,
input[type=email]:hover + label,
input[type=password]:hover + label,
input[type=tel]:hover + label,
input[type=url]:hover + label {
 opacity: 1;
}
input[type=text]:-moz-placeholder-shown, input[type=number]:-moz-placeholder-shown, input[type=email]:-moz-placeholder-shown, input[type=password]:-moz-placeholder-shown, input[type=tel]:-moz-placeholder-shown, input[type=url]:-moz-placeholder-shown {
 background-color: #ebf2ff;
}
input[type=text]:placeholder-shown,
input[type=number]:placeholder-shown,
input[type=email]:placeholder-shown,
input[type=password]:placeholder-shown,
input[type=tel]:placeholder-shown,
input[type=url]:placeholder-shown {
 background-color: #ebf2ff;
}
input[type=text]:-moz-placeholder-shown + label, input[type=number]:-moz-placeholder-shown + label, input[type=email]:-moz-placeholder-shown + label, input[type=password]:-moz-placeholder-shown + label, input[type=tel]:-moz-placeholder-shown + label, input[type=url]:-moz-placeholder-shown + label {
 top: 50%;
 left: 1.125rem;
 translate: 0 -0.5em;
 font-size: 0.75rem;
}
input[type=text]:placeholder-shown + label,
input[type=number]:placeholder-shown + label,
input[type=email]:placeholder-shown + label,
input[type=password]:placeholder-shown + label,
input[type=tel]:placeholder-shown + label,
input[type=url]:placeholder-shown + label {
 top: 50%;
 left: 1.125rem;
 translate: 0 -0.5em;
 font-size: 0.75rem;
}
input[type=text]:focus-visible,
input[type=number]:focus-visible,
input[type=email]:focus-visible,
input[type=password]:focus-visible,
input[type=tel]:focus-visible,
input[type=url]:focus-visible {
 background-color: #ffffff;
 outline: 0;
 border-color: #000f39;
}
input[type=text]:focus-visible + label,
input[type=number]:focus-visible + label,
input[type=email]:focus-visible + label,
input[type=password]:focus-visible + label,
input[type=tel]:focus-visible + label,
input[type=url]:focus-visible + label {
 left: 1.125rem;
 top: 0.7em;
 translate: 0 0;
 font-size: 0.625rem;
}
input[type=text]:required + label::after,
input[type=number]:required + label::after,
input[type=email]:required + label::after,
input[type=password]:required + label::after,
input[type=tel]:required + label::after,
input[type=url]:required + label::after {
 content: "*";
 color: #a93800;
 font-size: 0.75em;
 translate: 0.1em -0.475em;
 display: inline-block;
 font-weight: 200;
}

.input-reminder-text {
 color: orange;
 font-family: "Fira Sans", sans-serif;
 font-size: 0.875rem;
 font-weight: 400;
 line-height: 115%;
 margin-top: 0.375rem;
 letter-spacing: -0.01em;
}

textarea.w-input {
 background-color: #ffffff;
 border: 2px solid #ebf2ff;
 border-radius: var(--corner-4);
 flex-grow: 1;
 width: 100%;
 box-sizing: border-box;
 line-height: 125%;
 transition: 0.5s all;
 min-height: 4rem;
 color: #000f39;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 1rem;
 font-weight: 500;
 transition: 0.5s all;
 padding: 1rem 1rem 0.125rem 1rem;
 height: auto;
 margin-bottom: 0;
}
@media (max-width: 767px) {
 textarea.w-input {
  min-height: 8rem;
 }
}
textarea.w-input + label {
 color: var(--blue-900, #000f39);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.75rem;
 font-style: normal;
 font-weight: 600;
 line-height: 103%;
 letter-spacing: 0.08em;
 text-transform: uppercase;
 opacity: 0.75;
 pointer-events: none;
 font-size: 0.625rem;
 transition: 0.5s all;
 position: absolute;
 left: 1.125rem;
 top: 0.7em;
 translate: 0 0;
 font-size: 0.625rem;
 opacity: 0.7;
}
textarea.w-input:hover {
 border-color: #000f39;
}
textarea.w-input:hover + label {
 opacity: 1;
}
textarea.w-input:-moz-placeholder-shown {
 background-color: #ebf2ff;
}
textarea.w-input:placeholder-shown {
 background-color: #ebf2ff;
}
textarea.w-input:-moz-placeholder-shown + label {
 top: 1rem;
 left: 1rem;
 font-size: 0.75rem;
}
textarea.w-input:placeholder-shown + label {
 top: 1rem;
 left: 1rem;
 font-size: 0.75rem;
}
textarea.w-input:focus-visible + label {
 left: 1rem;
 top: 0.7em;
 translate: 0 0;
 font-size: 0.625rem;
 opacity: 0.7;
}
textarea.w-input[maxlength="1000"] {
 height: 6rem;
}
textarea.w-input[maxlength="2500"] {
 height: 7rem;
}
textarea.w-input[maxlength="5000"] {
 height: 8rem;
}

.radio-group-header,
.checkbox-group-header {
 color: var(--blue-900, #000f39);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.75rem;
 font-style: normal;
 font-weight: 600;
 line-height: 103%;
 letter-spacing: 0.08em;
 text-transform: uppercase;
 opacity: 0.75;
 pointer-events: none;
}
.radio-group,
.checkbox-group {
 font-size: 1rem;
 display: flex;
 flex-direction: column;
 gap: 0.75em;
 width: 100%;
}
.radio-group-list,
.checkbox-group-list {
 display: flex;
 flex-direction: column;
 gap: 0.75em;
}
.radio-group-list[direction=horizontal],
.checkbox-group-list[direction=horizontal] {
 flex-direction: row;
 flex-wrap: wrap;
 gap: 1em;
}
.radio-group-item,
.checkbox-group-item {
 display: flex;
 gap: 0.5em;
 align-items: flex-start;
 margin-bottom: 0;
 padding-left: 0;
 color: var(--blue-900, #000f39);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 1rem;
 font-weight: 400;
 line-height: 105%;
 transition: 0.3s all;
}
.radio-group-item:before, .radio-group-item:after,
.checkbox-group-item:before,
.checkbox-group-item:after {
 display: none;
}
.radio-group-item .w-form-label,
.checkbox-group-item .w-form-label {
 font-weight: 400;
 transition: 0.3s all;
 line-clamp: 1;
}
.radio-group-item .w-radio-input,
.radio-group-item .w-checkbox-input,
.checkbox-group-item .w-radio-input,
.checkbox-group-item .w-checkbox-input {
 display: none;
}
.radio-group-item:has(input:checked),
.checkbox-group-item:has(input:checked) {
 color: #0041a9;
}
.radio-display,
.checkbox-display {
 width: 0.875em;
 height: 0.875em;
 border: 0.0625rem solid rgba(0, 15, 57, 0.5);
 transition: 0.3s all;
 flex-shrink: 0;
 margin-top: 1px;
}
.radio-display::after,
.checkbox-display::after {
 content: "";
 display: block;
 width: 100%;
 height: 100%;
 flex-shrink: 0;
 background: radial-gradient(107.14% 107.14% at 11.54% 0%, #1a7aff 0%, #0041a9 100%);
 scale: 0;
 transition: 0.2s scale;
}
.radio-group-item:has(input:checked) .radio-display,
.radio-group-item:has(input:checked) .checkbox-display,
.checkbox-group-item:has(input:checked) .radio-display,
.checkbox-group-item:has(input:checked) .checkbox-display {
 background-color: #0041a9;
 border: 1px solid #1a7aff;
}
.radio-group-item:has(input:checked) .radio-display::after,
.radio-group-item:has(input:checked) .checkbox-display::after,
.checkbox-group-item:has(input:checked) .radio-display::after,
.checkbox-group-item:has(input:checked) .checkbox-display::after {
 scale: 1;
}
.radio-group-item:hover .radio-display,
.radio-group-item:hover .checkbox-display,
.checkbox-group-item:hover .radio-display,
.checkbox-group-item:hover .checkbox-display {
 border: 0.0625rem solid #000f39;
 background-color: #ebf2ff;
}

.checkbox-display {
 border-radius: 0.25em;
 position: relative;
}
.checkbox-display::after {
 border-radius: 0.125em;
}
.checkbox-display::before {
 content: "";
 display: block;
 width: 0.375em;
 height: 0.1875em;
 flex-shrink: 0;
 border-bottom: 0.125em solid white;
 border-left: 0.125em solid white;
 rotate: -45deg;
 position: absolute;
 top: 40%;
 left: 50%;
 translate: -50% -50%;
 z-index: 1;
 scale: 0;
}
.checkbox-group-item:has(input:checked) .checkbox-display::before {
 scale: 1;
}

.select-group-header {
 color: var(--blue-900, #000f39);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.75rem;
 font-style: normal;
 font-weight: 600;
 line-height: 103%;
 letter-spacing: 0.08em;
 text-transform: uppercase;
 opacity: 0.75;
 pointer-events: none;
}
.select-group {
 font-size: 1rem;
 display: flex;
 flex-direction: column;
 gap: 0.75em;
 width: 100%;
}

.c25-form-row:has([select-type=checkbox][checkbox-layout=vertical]) {
 flex-direction: column;
}

.multi-select-input {
 display: flex;
 gap: 1.5rem;
 margin: 0;
 padding: 0;
}
[select-type=checkbox][checkbox-layout=vertical] + .multi-select-input {
 flex-direction: column;
}
.multi-select-input .checkbox-display .w-form-label {
 color: var(--theme--secondary_text, #000f39);
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-weight: 500;
 line-height: 1.45;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 text-transform: none;
 letter-spacing: 0em;
}
.multi-select-input .selected .checkbox-display::before {
 opacity: 1;
}
.multi-select-input .selected .checkbox-display::after {
 scale: 1;
}

.nice-select.form-field.select.w-select {
 border-radius: 0;
 display: flex;
 align-items: center;
 gap: 0.625rem;
 border: 0;
 border: 1px solid var(--theme--border);
 border-radius: var(--corner-4);
 background-color: rgba(255, 255, 0, 0);
 flex-grow: 1;
 width: 100%;
 box-sizing: border-box;
 color: var(--theme--secondary_text);
 font-family: "Fira Sans", sans-serif;
 font-size: 1.125rem;
 font-weight: 500;
 line-height: 105%;
 transition: 0.5s all;
 padding: 1.25rem 0.75rem;
 min-height: 3rem;
 margin-top: 0.875rem;
 margin-bottom: 0;
}
.nice-select.form-field.select.w-select:focus {
 background-color: var(--theme--background-em);
 border-color: var(--theme--primary_text);
}
.nice-select.form-field.select.w-select:hover {
 border-color: var(--theme--primary_text);
}
.nice-select::after {
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-top: 5px solid currentColor;
 border-bottom: 0px solid currentColor;
 transform: rotate(0deg);
 width: 0;
 height: 0;
 right: 16px;
 margin-top: -3px;
}
.nice-select.open:after {
 transform: rotate(180deg);
}
.nice-select .option {
 font-family: "Fira Sans", sans-serif;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
 background-color: rgba(0, 15, 57, 0.2);
}
.nice-select .option.selected {
 font-weight: 700;
}
.nice-select .list {
 background-color: #ffffff;
 box-shadow: 0px 0.75em 15em -0.25em rgba(255, 255, 255, 0.2);
 color: #000f39;
 border-radius: vaR(--corner-4);
}

.input_area:has(.multi-select-input):not(:has(.nice-select)) [select-type=multiple] {
 display: none;
}
.input_area:has(.multi-select-input):not(:has(.nice-select))::after {
 display: none;
}

form .c25-button {
 transition: 0.3s all;
}
form .c25-button:hover {
 filter: brightness(1.5);
}

.hidden-label {
 opacity: 0;
}

[fs-rangeslider-element=wrapper] {
 gap: 0.5rem;
}
[fs-rangeslider-element=wrapper] .track {
 background-color: var(--theme--border);
 flex-grow: 1;
 width: 100%;
 height: 0.25rem;
 position: relative;
}
[fs-rangeslider-element=wrapper] .rangeslider-input {
 display: none;
}
[fs-rangeslider-element=wrapper] [fs-rangeslider-element=display-value]:nth-child(1) {
 text-align: right;
 width: 3ch;
}
[fs-rangeslider-element=wrapper] .display-value-wrap {
 display: flex;
 gap: 0.25em;
 color: var(--theme--secondary_text, #000f39);
 font-size: clamp(0.875rem, 0.19vw + 0.83125rem, 1rem);
 font-weight: 400;
 line-height: 1.45;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 line-height: 1.35;
}
[fs-rangeslider-element=wrapper] .display-value-wrap a {
 font-weight: 650;
 color: var(--theme--accent-light);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
 transition: 0.5s color, 0.5s background;
}
[fs-rangeslider-element=wrapper] .display-value-wrap a:hover {
 color: var(--theme--accent-light);
 filter: brightness(1.2);
 text-decoration: underline;
}
[fs-rangeslider-element=wrapper] .display-value-wrap a:hover::before {
 width: 100%;
}

.multitoggle-list {
 display: flex;
 align-items: center;
 gap: 0.5rem;
 justify-content: stretch;
}
.multitoggle-input {
 flex-grow: 1;
 flex-shrink: 1;
 width: 100%;
}
.multitoggle-input[color-theme=sitting], .multitoggle-input[color-theme=clinic] {
 display: none;
}
.multitoggle-input .checkbox-group-item {
 border-radius: 0.25rem;
 border: 0.125rem solid #ebf2ff;
 padding: 0.5rem 1rem;
 color: rgba(0, 15, 57, 0.8);
 background-color: #ebf2ff;
 transition: 0.375s border, 0.3s background-color;
 align-items: center;
 justify-content: center;
 height: 2.625rem;
}
.multitoggle-input .checkbox-group-item:hover {
 border: 0.125rem solid #000f39;
 color: #000f39;
 background-color: var(--theme--accent-500-20);
}
.multitoggle-input .checkbox-group-item:has(input:checked) {
 background-color: var(--theme--accent);
 border: 1px solid var(--theme--accent-200);
 color: #fff;
}
.multitoggle-input .checkbox-group-item:has(.empty) {
 opacity: 0.5;
 pointer-events: none;
}
.multitoggle-input .checkbox-group-item .w-form-label {
 color: var(--blue-900, #000f39);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.75rem;
 font-style: normal;
 font-weight: 600;
 line-height: 103%;
 letter-spacing: 0.08em;
 text-transform: uppercase;
 opacity: 0.75;
 pointer-events: none;
 text-align: center;
 color: #000f39;
}
.multitoggle-input .checkbox-group-item:has(input:checked) .w-form-label {
 font-weight: 600;
}

[type=range] {
 -webkit-appearance: none;
 background: transparent;
 margin: 12px 0;
 width: 100%;
}
[type=range]::-moz-focus-outer {
 border: 0;
}
[type=range]:focus {
 outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
 background: #dceaff;
}
[type=range]:focus::-ms-fill-lower {
 background: #c2dbff;
}
[type=range]:focus::-ms-fill-upper {
 background: #dceaff;
}
[type=range]:focus-visible {
 outline: 2px solid white;
 outline-offset: 2px;
}
[type=range]::-webkit-slider-runnable-track {
 cursor: default;
 height: 16px;
 -webkit-transition: all 0.2s ease;
 transition: all 0.2s ease;
 width: 100%;
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(13, 13, 13, 0);
 background: #c2dbff;
 border: 0px solid #cfd8dc;
 border-radius: 5px;
}
[type=range]::-webkit-slider-runnable-track:active {
 background: #dceaff;
}
[type=range]::-webkit-slider-thumb {
 box-shadow: 2px 2px 6px rgba(72, 149, 255, 0.5), 0 0 2px rgba(97, 163, 255, 0.5);
 background: #ffffff;
 border: 1px solid #ebf2ff;
 border-radius: 12px;
 box-sizing: border-box;
 cursor: default;
 height: 24px;
 width: 24px;
 -webkit-appearance: none;
 margin-top: calc((16px - 24px) / 2);
}
[type=range]::-webkit-slider-thumb:hover {
 background: white;
}
[type=range]::-moz-range-track {
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(13, 13, 13, 0);
 cursor: default;
 height: 16px;
 -moz-transition: all 0.2s ease;
 transition: all 0.2s ease;
 width: 100%;
 background: #c2dbff;
 border: 0px solid #cfd8dc;
 border-radius: 5px;
 height: 8px;
}
[type=range]::-moz-range-track:active {
 background: #dceaff;
}
[type=range]::-moz-range-thumb {
 box-shadow: 2px 2px 6px rgba(72, 149, 255, 0.5), 0 0 2px rgba(97, 163, 255, 0.5);
 background: #ffffff;
 border: 1px solid #ebf2ff;
 border-radius: 12px;
 box-sizing: border-box;
 cursor: default;
 height: 24px;
 width: 24px;
}
[type=range]::-moz-range-thumb:hover {
 background: white;
}
[type=range]::-ms-track {
 cursor: default;
 height: 16px;
 -ms-transition: all 0.2s ease;
 transition: all 0.2s ease;
 width: 100%;
 background: transparent;
 border-color: transparent;
 border-width: 12px 0;
 color: transparent;
}
[type=range]::-ms-fill-lower {
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(13, 13, 13, 0);
 background: #a9cbff;
 border: 0px solid #cfd8dc;
 border-radius: 10px;
}
[type=range]::-ms-fill-lower:active {
 background: #dceaff;
}
[type=range]::-ms-fill-upper {
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(13, 13, 13, 0);
 background: #c2dbff;
 border: 0px solid #cfd8dc;
 border-radius: 10px;
}
[type=range]::-ms-fill-upper:active {
 background: #dceaff;
}
[type=range]::-ms-thumb {
 box-shadow: 2px 2px 6px rgba(72, 149, 255, 0.5), 0 0 2px rgba(97, 163, 255, 0.5);
 background: #ffffff;
 border: 1px solid #ebf2ff;
 border-radius: 12px;
 box-sizing: border-box;
 cursor: default;
 height: 24px;
 width: 24px;
 margin-top: 4px;
}
[type=range]::-ms-thumb:hover {
 background: white;
}
[type=range]:disabled {
 opacity: 0.5;
}
[type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
 cursor: not-allowed;
}

.fs-filter-range {
 display: flex;
 -moz-column-gap: 0.75rem;
      column-gap: 0.75rem;
 align-items: center;
 padding-inline: 0.25rem;
 flex-wrap: wrap;
}
.fs-filter-range input[type=range] {
 flex-grow: 1;
 flex-shrink: 0;
 flex-basis: 10rem;
}
.fs-filter-range .range-description {
 display: flex;
 gap: 0.25rem;
 align-items: center;
 flex-shrink: 0;
 flex-basis: 10rem;
}
.fs-filter-range #distanceFilterValue {
 flex-shrink: 0;
 color: var(--theme--secondary_text, #000f39);
 font-size: clamp(0.875rem, 0.19vw + 0.83125rem, 1rem);
 font-weight: 400;
 line-height: 1.45;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 line-height: 1.35;
 font-weight: 600;
}
.fs-filter-range #distanceFilterValue a {
 font-weight: 650;
 color: var(--theme--accent-light);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
 transition: 0.5s color, 0.5s background;
}
.fs-filter-range #distanceFilterValue a:hover {
 color: var(--theme--accent-light);
 filter: brightness(1.2);
 text-decoration: underline;
}
.fs-filter-range #distanceFilterValue a:hover::before {
 width: 100%;
}
.fs-filter-range label {
 flex-shrink: 0;
 color: var(--blue-900, #000f39);
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-size: 0.75rem;
 font-style: normal;
 font-weight: 600;
 line-height: 103%;
 letter-spacing: 0.08em;
 text-transform: uppercase;
 opacity: 0.75;
 pointer-events: none;
 margin: 0;
 font-weight: 500;
 opacity: 0.7;
}