@use "sass:color";
@use "sass:math";

@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/design/n1MRfrTDtMMwCwlUUJxRMM/Current-25-Website?node-id=488-6055&t=O2mZJSyMOQO7kI4S-1
/*css/atoms/inputs/css/index.scss*/
//Dependencies:

//Attributres

@mixin label-style {
	color: var(--blue-900, #000f39);
	font-family: $primary_font-var;
	font-size: 12 * $rem;
	font-style: normal;
	font-weight: 600;
	line-height: 103%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	opacity: 0.75;
	pointer-events: none;
}

////================General Text Box Input Styles

.input_input {
	position: relative;
	transition: 0.3s all;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"] {
	display: flex;
	align-items: flex-end;
	gap: 0.625rem;
	border: 2 * $rem solid $blue-25;
	background-color: $white;
	border-radius: var(--corner-4, 4 * $rem);
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;
	color: $blue-900;
	font-family: $primary_font-var;
	font-size: 1rem;
	font-weight: 500;
	line-height: 105%;
	transition: 0.5s all;
	padding: 12 * $rem 16 * $rem 2 * $rem 16 * $rem;
	min-height: 46/16 * 1rem;
	height: auto;
	margin-bottom: 0;

	& + label {
		@include label-style;
		font-size: 10 * $rem;
		transition: 0.5s all;
		position: absolute;
		left: 1.125rem;
		top: 0.7em;
		translate: 0 0;
		font-size: 10 * $rem;
		opacity: 0.7;
	}

	&:hover {
		//Hovered
		border-color: $blue-900;
		& + label {
			opacity: 1;
		}
	}
	&:placeholder-shown {
		//Default unfilled state of input
		background-color: $blue-25;
		& + label {
			top: 50%;
			left: 1.125rem;
			translate: 0 -0.5em;
			font-size: 12 * $rem;
		}
	}
	&:focus-visible {
		//When user is focused/clicked into
		background-color: $white;
		outline: 0;
		border-color: $blue-900;
		& + label {
			left: 1.125rem;
			top: 0.7em;
			translate: 0 0;
			font-size: 10 * $rem;
		}
	}

	&:required {
		+ label {
			&::after {
				content: "*";
				color: $crimson-700;
				font-size: 0.75em;
				translate: 0.1em -0.475em;
				display: inline-block;
				font-weight: 200;
			}
		}
	}
}

.input-reminder-text {
	color: orange;
	font-family: $primary_font;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 115%;
	margin-top: 0.375rem;
	letter-spacing: -0.01em;
}

//======== tex area styles

textarea.w-input {
	background-color: $white;
	border: 2px solid $blue-25;
	border-radius: var(--corner-4);
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;
	line-height: 125%;
	transition: 0.5s all;
	min-height: 4rem;
	color: $blue-900;
	font-family: $primary_font-var;
	font-size: 1rem;
	font-weight: 500;
	transition: 0.5s all;
	padding: 16 * $rem 16 * $rem 2 * $rem 16 * $rem;
	height: auto;
	margin-bottom: 0;

	@include sm {
		min-height: 8rem;
	}
	& + label {
		@include label-style;
		font-size: 10 * $rem;
		transition: 0.5s all;
		position: absolute;
		left: 1.125rem;
		top: 0.7em;
		translate: 0 0;
		font-size: 10 * $rem;
		opacity: 0.7;
	}
	&:hover {
		border-color: $blue-900;
		& + label {
			opacity: 1;
		}
	}
	&:placeholder-shown {
		//Default unfilled state of input
		background-color: $blue-25;
		& + label {
			top: 16 * $rem;
			left: 1rem;
			font-size: 12 * $rem;
		}
	}
	&:focus-visible {
		// background-color: var(--theme--background-em);
		// outline: 0;
		// border-color: var(--theme--primary_text);
		& + label {
			left: 1rem;
			top: 0.7em;
			translate: 0 0;
			font-size: 10 * $rem;
			opacity: 0.7;
		}
	}

	&[maxlength="1000"] {
		height: 6rem;
	}
	&[maxlength="2500"] {
		height: 7rem;
	}
	&[maxlength="5000"] {
		height: 8rem;
	}
}

//================ Styles for both Checkboxes and Radio Inputs
.radio,
.checkbox {
	&-group-header {
		@include label-style;
	}
	&-group {
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.75em;
		width: 100%;
	}
	&-group-list {
		display: flex;
		flex-direction: column;
		gap: 0.75em;
		&[direction="horizontal"] {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1em;
		}
	}
	&-group-item {
		//label taht is also the container
		display: flex;
		gap: 8/16 * 1em;
		align-items: flex-start;
		margin-bottom: 0;
		padding-left: 0;

		color: var(--blue-900, $blue-900);
		font-family: $primary_font-var;
		font-size: 1rem;
		font-weight: 400;
		line-height: 105%;
		transition: 0.3s all;

		&:before,
		&:after {
			display: none;
		}
		.w-form-label {
			font-weight: 400;
			transition: 0.3s all;
			line-clamp: 1;
		}
		//hide orignal input
		.w-radio-input,
		.w-checkbox-input {
			display: none;
		}
		&:has(input:checked) {
			color: $blue-700;
		}
	} //group-item

	&-display {
		// margin-block: 1/16 * 1em;
		width: 14/16 * 1em;
		height: 14/16 * 1em;
		border: 1 * $rem solid rgba($blue-900, $alpha: 0.5);
		transition: 0.3s all;
		flex-shrink: 0;
		margin-top: 1px;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			flex-shrink: 0;
			background: radial-gradient(107.14% 107.14% at 11.54% 0%, $blue-500 0%, $blue-700 100%);
			scale: 0;
			transition: 0.2s scale;
		}
	} //display

	&-group-item:has(input:checked) &-display {
		background-color: $blue-700;
		border: 1px solid $blue-500;
		&::after {
			scale: 1;
		}
	} //checked
	&-group-item:hover {
		.w-form-label {
			// font-weight: 600;
		}
	}
	&-group-item:hover &-display {
		border: 1 * $rem solid rgba($blue-900, $alpha: 1);
		background-color: $blue-25;
	} //hover
} //radio or checkbox

//================ Checkbox specific styles
.checkbox {
	&-display {
		border-radius: 4/16 * 1em;
		position: relative;

		&::after {
			border-radius: 2/16 * 1em;
		}
		&::before {
			content: "";
			display: block;
			width: 6/16 * 1em;
			height: 3/16 * 1em;
			flex-shrink: 0;
			border-bottom: 2/16 * 1em solid white;
			border-left: 2/16 * 1em solid white;
			rotate: -45deg;
			position: absolute;
			top: 40%;
			left: 50%;
			translate: -50% -50%;
			z-index: 1;
			scale: 0;
		}
	} //display
	&-group-item:has(input:checked) &-display {
		&::before {
			scale: 1;
		}
	} //checked
}

//======cusotm select fields

.select {
	&-group-header {
		@include label-style;
	}
	&-group {
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.75em;
		width: 100%;
	}
}

//elements that replace the select field select-type="checkbox" and select-type="radio"
//checkbox or radio styles

.c25-form-row:has([select-type="checkbox"][checkbox-layout="vertical"]) {
	flex-direction: column;
}
.multi-select-input {
	display: flex;
	gap: 1.5rem;
	margin: 0;
	padding: 0;

	[select-type="checkbox"][checkbox-layout="vertical"] + & {
		flex-direction: column;
	}

	.checkbox-display {
		.w-form-label {
			@include body_text-style;
		}
	}

	.selected .checkbox-display {
		&::before {
			opacity: 1;
		}
		&::after {
			scale: 1;
		}
	}
}

////================Select/Dropdown
//Nice Select For Countries

.nice-select {
	&.form-field.select.w-select {
		border-radius: 0;
		display: flex;
		align-items: center;
		gap: 0.625rem;
		border: 0;
		border: 1px solid var(--theme--border);
		border-radius: var(--corner-4);
		background-color: color.adjust(yellow, $alpha: -1);
		flex-grow: 1;
		width: 100%;
		box-sizing: border-box;
		color: var(--theme--secondary_text);
		font-family: $primary_font;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 105%;
		transition: 0.5s all;
		padding: 1.25rem 0.75rem;
		min-height: 48/16 * 1rem;
		margin-top: 0.875rem;
		margin-bottom: 0;

		&:focus {
			background-color: var(--theme--background-em);
			border-color: var(--theme--primary_text);
		}
		&:hover {
			border-color: var(--theme--primary_text);
		}
	}
	&::after {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid currentColor;
		border-bottom: 0px solid currentColor;
		transform: rotate(0deg);
		width: 0;
		height: 0;
		right: 16px;
		margin-top: -3px;
	}
	&.open:after {
		transform: rotate(180deg);
	}

	.option {
		font-family: $primary_font;
	}
	.option:hover,
	.option.focus,
	.option.selected.focus {
		background-color: color.adjust($navy, $alpha: -0.8);
	}
	.option.selected {
		font-weight: 700;
	}
	.list {
		background-color: $white;
		box-shadow: 0px 0.75em 15em -0.25em color.adjust(white, $alpha: -0.8);
		color: $navy;
		border-radius: vaR(--corner-4);
	}
}

.input_area:has(.multi-select-input):not(:has(.nice-select)) {
	[select-type="multiple"] {
		display: none;
	}
	&::after {
		display: none;
	}
}

form .c25-button {
	transition: 0.3s all;
	&:hover {
		filter: brightness(1.5);
	}
}

//New shit for DSA form

.hidden-label {
	opacity: 0;
}

[fs-rangeslider-element="wrapper"] {
	gap: 0.5rem;
	.track {
		background-color: var(--theme--border);
		flex-grow: 1;
		width: 100%;
		height: 0.25rem;
		position: relative;
	}
	.rangeslider-input {
		display: none;
	}
	[fs-rangeslider-element="display-value"]:nth-child(1) {
		text-align: right;
		width: 3ch;
	}
	.display-value-wrap {
		display: flex;
		gap: 0.25em;
		@include body_text-style-small;
	}
}

//multiple toggle options
.multitoggle {
	&-wrapper {
	}
	&-list {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		justify-content: stretch;
	}
	&-input {
		flex-grow: 1;
		flex-shrink: 1;
		width: 100%;
		&[color-theme="sitting"],
		&[color-theme="clinic"] {
			display: none;
		}

		.checkbox-group-item {
			border-radius: 0.25rem;
			border: 2 * $rem solid $blue-25;
			padding: 0.5rem 1rem;
			color: rgba($blue-900, $alpha: 0.8);
			background-color: $blue-25;
			transition: 0.375s border, 0.3s background-color;
			align-items: center;
			justify-content: center;
			height: 42 * $rem;
			&:hover {
				border: 2 * $rem solid $blue-900;
				color: $blue-900;
				background-color: var(--theme--accent-500-20);
			}

			&:has(input:checked) {
				background-color: var(--theme--accent);
				border: 1px solid var(--theme--accent-200);
				color: #fff;
			}

			&:has(.empty) {
				opacity: 0.5;
				pointer-events: none;
			}

			.w-form-label {
				@include label-style();
				text-align: center;
				color: $blue-900;
			}

			&:has(input:checked) .w-form-label {
				font-weight: 600;
			}
		}
	}
}

//===============================
//Input Range Slider cross browser
//===============================

$track-color: $blue-100 !default;
$thumb-color: $white !default;

$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow-size: 2px !default;
$thumb-shadow-blur: 6px !default;
$thumb-shadow-color: rgba($blue-400, $alpha: 0.5) !default;
$thumb-border-width: 1px !default;
$thumb-border-color: $blue-25 !default;

$track-width: 100% !default;
$track-height: 16px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: rgba(0, 0, 0, 0) !default;
$track-border-width: 0px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: color.adjust($track-color, $lightness: -$contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
	box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color,
		0 0 $shadow-size color.adjust($shadow-color, $lightness: 5%);
}

@mixin track {
	cursor: default;
	height: $track-height;
	transition: all 0.2s ease;
	width: $track-width;
}

@mixin thumb {
	@include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
	background: $thumb-color;
	border: $thumb-border-width solid $thumb-border-color;
	border-radius: $thumb-radius;
	box-sizing: border-box;
	cursor: default;
	height: $thumb-height;
	width: $thumb-width;
}

[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	margin: math.div($thumb-height, 2) 0;
	width: $track-width;

	&::-moz-focus-outer {
		border: 0;
	}

	&:focus {
		outline: 0;

		&::-webkit-slider-runnable-track {
			background: color.adjust($track-color, $lightness: $contrast);
		}

		&::-ms-fill-lower {
			background: $track-color;
		}

		&::-ms-fill-upper {
			background: color.adjust($track-color, $lightness: $contrast);
		}
	}

	&:focus-visible {
		outline: 2px solid color.adjust($thumb-color, $lightness: 20%);
		outline-offset: 2px;
	}

	&::-webkit-slider-runnable-track {
		@include track;
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;

		&:active {
			background: color.adjust($track-color, $lightness: $contrast);
		}
	}

	&::-webkit-slider-thumb {
		@include thumb;
		-webkit-appearance: none;
		margin-top: calc((#{$track-height} - #{$thumb-height}) / 2);

		&:hover {
			background: color.adjust($thumb-color, $lightness: 10%);
		}
	}

	&::-moz-range-track {
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		@include track;
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
		height: math.div($track-height, 2);

		&:active {
			background: color.adjust($track-color, $lightness: $contrast);
		}
	}

	&::-moz-range-thumb {
		@include thumb;

		&:hover {
			background: color.adjust($thumb-color, $lightness: 10%);
		}
	}

	&::-ms-track {
		@include track;
		background: transparent;
		border-color: transparent;
		border-width: math.div($thumb-height, 2) 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $ie-bottom-track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: ($track-radius * 2);

		&:active {
			background: color.adjust($track-color, $lightness: $contrast);
		}
	}

	&::-ms-fill-upper {
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: ($track-radius * 2);

		&:active {
			background: color.adjust($track-color, $lightness: $contrast);
		}
	}

	&::-ms-thumb {
		@include thumb;
		margin-top: math.div($track-height, 4);

		&:hover {
			background: color.adjust($thumb-color, $lightness: 10%);
		}
	}

	&:disabled {
		opacity: 0.5;

		&::-webkit-slider-thumb,
		&::-moz-range-thumb,
		&::-ms-thumb,
		&::-webkit-slider-runnable-track,
		&::-ms-fill-lower,
		&::-ms-fill-upper {
			cursor: not-allowed;
		}
	}
}

.fs-filter-range {
	display: flex;
	column-gap: 0.75rem;
	align-items: center;
	padding-inline: 0.25rem;
	flex-wrap: wrap;
	input[type="range"] {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 10rem;
	}

	.range-description {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		flex-shrink: 0;
		flex-basis: 10rem;
	}
	#distanceFilterValue {
		flex-shrink: 0;
		@include body_text-style-small;
		font-weight: 600;
	}
	label {
		flex-shrink: 0;
		@include label-style;
		margin: 0;
		font-weight: 500;
		opacity: 0.7;
	}
}
//===============================
//End Range Slider
//===============================
