/*css/blocks/stat_feature/css/index.scss*/
.content_grid:has([card-type=event-page]) {
   grid-template-columns: repeat(3, 1fr);
   gap: vaR(--space_between-jumbo);
   max-width: 67.5rem;
   margin-inline: auto;
}
@media (max-width: 767px) {
   .content_grid:has([card-type=event-page]) {
      grid-template-columns: repeat(1, 1fr);
   }
}

.home--link {
   --_border-width: 0.0625rem;
   --_gold: var(--theme--border);
   --_red: var(--theme--border);
   --_blue: var(--theme--border);
   --_logo-opacity: 0.9;
   --_glow-opacity: 0;
   --_glow-inset: 2.5rem;
   background-color: transparent;
   padding: 0;
}
.home--link:hover {
   --_glow-opacity: 1;
}
@media (max-width: 767px) {
   .home--link {
      align-self: center;
      justify-self: center;
      width: clamp(15.625rem, 17.86vw + 11.4375rem, 22.5rem);
      order: 1;
   }
   .home--link[href="/new-orleans"] {
      order: 0;
   }
}
.home--media_area {
   z-index: 6;
}
.home--media_area::before {
   animation: card-border-rotation 5s linear infinite;
   position: absolute;
   inset: -0.09375rem;
   border-radius: inherit;
   z-index: -1;
   display: block;
   content: "";
   -webkit-mask-image: url(https://cdn.prod.website-files.com/6606bdecf31e2757cbfbb965/68647c926b9f4fc4d4b24b2a_hex-mask-2.svg);
           mask-image: url(https://cdn.prod.website-files.com/6606bdecf31e2757cbfbb965/68647c926b9f4fc4d4b24b2a_hex-mask-2.svg);
   -webkit-mask-size: contain;
           mask-size: contain;
   -webkit-mask-repeat: no-repeat;
           mask-repeat: no-repeat;
   mask-mode: alpha;
   background-image: conic-gradient(from var(--_gradient_angle), var(--_gold), var(--_red), var(--_blue), var(--_red), var(--_gold));
}
.home--image-color {
   opacity: 0;
   z-index: 9;
   transition: 1s opacity;
}
[card-type=event-page]:hover .home--image-color {
   opacity: 1;
}
.home--image-greyscale {
   opacity: 1;
   z-index: 8;
   transition: 1s opacity;
}
.content_grid:has([card-type=event-page]:hover) [card-type=event-page]:not(:hover) .home--image-greyscale {
   opacity: 0;
}
.home--image-desaturated {
   opacity: 0;
   z-index: 10;
   transition: 1s opacity;
}
.content_grid:has([card-type=event-page]:hover) [card-type=event-page]:not(:hover) .home--image-desaturated {
   opacity: 1;
}
.home--gradient-glow {
   filter: blur(1.5rem);
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
.home--gradient-glow::after {
   animation: card-border-rotation 5s linear infinite;
   position: absolute;
   inset: 0;
   z-index: -1;
   display: block;
   content: "";
   -webkit-mask-image: url(https://cdn.prod.website-files.com/6606bdecf31e2757cbfbb965/68647c926b9f4fc4d4b24b2a_hex-mask-2.svg);
           mask-image: url(https://cdn.prod.website-files.com/6606bdecf31e2757cbfbb965/68647c926b9f4fc4d4b24b2a_hex-mask-2.svg);
   -webkit-mask-size: contain;
           mask-size: contain;
   -webkit-mask-repeat: no-repeat;
           mask-repeat: no-repeat;
   mask-mode: alpha;
   opacity: var(--_glow-opacity, 0);
   background-image: conic-gradient(from var(--_gradient_angle), var(--_gold), var(--_red), var(--_blue), var(--_red), var(--_gold));
}
.home--media_content {
   -webkit-mask-image: url(https://cdn.prod.website-files.com/6606bdecf31e2757cbfbb965/68647c926b9f4fc4d4b24b2a_hex-mask-2.svg);
           mask-image: url(https://cdn.prod.website-files.com/6606bdecf31e2757cbfbb965/68647c926b9f4fc4d4b24b2a_hex-mask-2.svg);
   -webkit-mask-size: contain;
           mask-size: contain;
   -webkit-mask-repeat: no-repeat;
           mask-repeat: no-repeat;
   mask-mode: alpha;
   position: relative;
   width: 100%;
   aspect-ratio: 24/28; /* Keep your desired aspect ratio for the masked element */
}
.home--media_content img {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
.home--text_area {
   align-items: center;
   text-align: center;
}
.home--text_area .button-container {
   opacity: 0;
   translate: 0 3rem;
   transition: 0.5s all;
}
a:hover .home--text_area .button-container {
   translate: 0 0;
   opacity: 1;
}
.home--background {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
.home--background::after {
   display: block;
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, var(--theme--background, #161b32) 100%);
}
.home--background .background_fill {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}

[event=home] footer {
   background-color: transparent;
}
[event=home] footer .footer--nav {
   display: none;
}
[event=home] footer .footer--title {
   margin-top: 0.125rem;
}