@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual: https://www.figma.com/file/FbVHOBSGd3G5HXu86r2vdn/PHLVB-Library?type=design&node-id=4%3A5788&mode=design&t=g6qwze9oShWnmzfu-1
/*components/accordion/css/index.scsss*/
//Dependencies:

.accordion {
	position: relative;

	//hide arrow element
	details > summary {
		list-style: none;
		display: flex;
		gap: 1rem;
		align-items: flex-start;
	}
	details > summary::-webkit-details-marker {
		display: none;
	}

	details {
		box-sizing: border-box;
		padding-block: var(--obj_padding);
		text-decoration: none;
		transition: 0.5s height;
		position: relative;
		background: var(--theme--background);
		color: var(--theme--primary_text);

		border-bottom: 1px solid var(--theme--border);
		.accordian-content {
			.rich_text {
				display: flex;
				flex-direction: column;
			}
			.rich_text > *:nth-child(1) {
				padding-top: 1rem;
			}
		}

		&:hover,
		&:focus-within,
		&[open] {
			.accordian-content {
				// margin-top: 0.5rem;
			}
		}

		&[open] {
			.icon.close {
				opacity: 1;
			}
			.icon.open {
				opacity: 0;
				rotate: 90deg;
			}
		}

		//progresive enhancement
		//animate height auto and display on the hidden content when opened
		// @media (prefers-reduced-motion: no-preference) {
		//   interpolate-size: allow-keywords;
		// }

		&::details-content {
			height: 0;
			overflow-y: clip;
			transition: content-visibility 0.5s allow-discrete, height 0.5s;
		}

		&[open]::details-content {
			height: auto;
			.rich_text {
				padding-top: 1rem;
			}
		}
		//end animation
	} //details

	summary {
		cursor: pointer;
		padding: var(--obj_padding);
		margin: calc(var(--obj_padding) * -1);
		h4 {
			--_size: 1em;
			span {
				flex-grow: 1;
			}
		}
		.svg-icon {
			--_size: 1.75rem;
			display: block;
			position: relative;
			&::after,
			&::before {
				display: none;
			}
		}
		.icon.close {
			opacity: 0;
			flex-shrink: 0;
			flex-grow: 0;
			position: absolute;
			transition: 0.3s all;
		}
		.icon.open {
			opacity: 1;
			flex-shrink: 0;
			flex-grow: 0;
			rotate: 0deg;
			transition: 0.3s all;
		}

		@include header_tags {
			// display: flex;
			// gap: 1em;
			// justify-content: space-between;
			width: 100%;
			color: var(--_primary-text-color);
			span {
				display: inline;
				text-decoration: none;
				background-image: linear-gradient(currentColor, currentColor);
				background-position: 0% 100%;
				background-repeat: no-repeat;
				background-size: 0% 2px;
				transition: background-size 0.3s;
			}
		}

		&:focus-visible,
		&:hover {
			border: 0;
			outline: 0;
			@include header_tags {
				span {
					background-size: 100% 2px;
				}
			}
			details[open] & {
				padding: 0;
				margin: 0;
			}
		}

		&:is(a) {
			@include header_tags {
			}
		}

		&:is(a:hover) {
			@include header_tags {
			}
		}

		svg {
			.fill {
				fill: var(--theme--primary_text);
			}
		}
	}
} //accordian

.card[card-type="accordion"] {
}
