/*components/accordion/css/index.scsss*/
.accordion {
 position: relative;
}
.accordion details > summary {
 list-style: none;
 display: flex;
 gap: 1rem;
 align-items: flex-start;
}
.accordion details > summary::-webkit-details-marker {
 display: none;
}
.accordion details {
 box-sizing: border-box;
 padding-block: var(--obj_padding);
 text-decoration: none;
 transition: 0.5s height;
 position: relative;
 background: var(--theme--background);
 color: var(--theme--primary_text);
 border-bottom: 1px solid var(--theme--border);
}
.accordion details .accordian-content .rich_text {
 display: flex;
 flex-direction: column;
}
.accordion details .accordian-content .rich_text > *:nth-child(1) {
 padding-top: 1rem;
}
.accordion details[open] .icon.close {
 opacity: 1;
}
.accordion details[open] .icon.open {
 opacity: 0;
 rotate: 90deg;
}
.accordion details::details-content {
 height: 0;
 overflow-y: clip;
 transition: content-visibility 0.5s allow-discrete, height 0.5s;
}
.accordion details[open]::details-content {
 height: auto;
}
.accordion details[open]::details-content .rich_text {
 padding-top: 1rem;
}
.accordion summary {
 cursor: pointer;
 padding: var(--obj_padding);
 margin: calc(var(--obj_padding) * -1);
}
.accordion summary h4 {
 --_size: 1em;
}
.accordion summary h4 span {
 flex-grow: 1;
}
.accordion summary .svg-icon {
 --_size: 1.75rem;
 display: block;
 position: relative;
}
.accordion summary .svg-icon::after, .accordion summary .svg-icon::before {
 display: none;
}
.accordion summary .icon.close {
 opacity: 0;
 flex-shrink: 0;
 flex-grow: 0;
 position: absolute;
 transition: 0.3s all;
}
.accordion summary .icon.open {
 opacity: 1;
 flex-shrink: 0;
 flex-grow: 0;
 rotate: 0deg;
 transition: 0.3s all;
}
.accordion summary h1,
.accordion summary h2,
.accordion summary h3,
.accordion summary h4,
.accordion summary h5,
.accordion summary h6 {
 width: 100%;
 color: var(--_primary-text-color);
}
.accordion summary h1 span,
.accordion summary h2 span,
.accordion summary h3 span,
.accordion summary h4 span,
.accordion summary h5 span,
.accordion summary h6 span {
 display: inline;
 text-decoration: none;
 background-image: linear-gradient(currentColor, currentColor);
 background-position: 0% 100%;
 background-repeat: no-repeat;
 background-size: 0% 2px;
 transition: background-size 0.3s;
}
.accordion summary:focus-visible, .accordion summary:hover {
 border: 0;
 outline: 0;
}
.accordion summary:focus-visible h1 span,
.accordion summary:focus-visible h2 span,
.accordion summary:focus-visible h3 span,
.accordion summary:focus-visible h4 span,
.accordion summary:focus-visible h5 span,
.accordion summary:focus-visible h6 span, .accordion summary:hover h1 span,
.accordion summary:hover h2 span,
.accordion summary:hover h3 span,
.accordion summary:hover h4 span,
.accordion summary:hover h5 span,
.accordion summary:hover h6 span {
 background-size: 100% 2px;
}
details[open] .accordion summary:focus-visible, details[open] .accordion summary:hover {
 padding: 0;
 margin: 0;
}
.accordion summary svg .fill {
 fill: var(--theme--primary_text);
}