/*css/components/cards/css/index.scss*/
.card {
 display: flex;
 padding: 2rem;
 flex-direction: column;
 align-items: flex-start;
 gap: 1rem;
 border-radius: var(--corner, 0.25rem);
 background: rgba(255, 255, 255, 0.9);
 text-decoration: none;
 box-shadow: 0px 0px 16px -4px rgba(25, 45, 98, 0);
 -webkit-backdrop-filter: blur(6px);
         backdrop-filter: blur(6px);
 transition: 0.3s all;
}
@media (max-width: 767px) {
 .card {
  padding: 1.5rem;
 }
}
@media (max-width: 576px) {
 .card {
  padding: 1.25rem;
 }
}
.card-header {
 display: flex;
 gap: 0.75rem;
 align-items: center;
}
.card-date {
 display: flex;
 gap: 0.25em;
 color: var(--theme_color-500, #76affe);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 text-transform: uppercase;
 font-style: normal;
 font-weight: 600;
 line-height: 150%;
 font-weight: 700;
 color: var(--primary_text);
}
.card-date-pre {
 font-weight: 400;
}
.card-date-time {
 font-weight: 400;
}
.card-content {
 display: flex;
 gap: var(--gap, 1.5rem);
 align-items: flex-end;
 justify-content: flex-end;
 flex-wrap: wrap;
 width: 100%;
}
.card-details {
 display: flex;
 gap: var(--gap, 1.5rem);
 flex-wrap: wrap;
 width: 82%;
 flex-grow: 1;
}
[card-type=pickup] .card-details {
 width: 70%;
}
.card-name, .card-body {
 width: 30%;
 min-width: 18.125rem;
 flex-shrink: 1;
 flex-grow: 1;
}
[card-type=pickup] .card-name, [card-type=pickup] .card-body {
 min-width: 12.5rem;
}
.card-name {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.card-subhead {
 color: var(--theme_color-500, #76affe);
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 font-style: italic;
 font-weight: 800;
 line-height: 100%; /* 0.875rem */
 text-transform: uppercase;
 display: flex;
 gap: 0.4285714286em;
 color: var(--primary_text);
}
.card-host {
 color: var(--theme_color-500);
 transition: 0.3s color;
}
a:hover .card-host {
 color: var(--primary_text);
}
.card-location {
 width: 7.5rem;
 flex-shrink: 0;
 flex-grow: 0;
 display: flex;
 justify-content: flex-end;
}
.card-location .location_indicator {
 margin-left: auto;
}
.card[card-type=empty] {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 text-align: center;
 align-items: center;
 color: var(--theme_color-700);
}
.card[card-type=empty] a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.card[card-type=empty] a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.card[card-type=empty] a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.card[card-type=icon] .text_content {
 justify-content: flex-start;
 align-items: flex-start;
}
.card[card-type=icon] .headline-row h3 {
 display: flex;
 align-items: center;
 -moz-column-gap: 1.5rem;
      column-gap: 1.5rem;
 row-gap: 0.75rem;
 flex-wrap: wrap;
}
.card[card-type=icon] .svg-icon {
 --_size: 1.6em;
}
.card[card-type=icon] .headline {
 font-size: clamp(1.5rem, 0.75vw + 1.325rem, 2rem);
 color: var(--primary_text);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 line-height: 125%;
 font-weight: 500;
 min-width: 14ch;
}
.card[card-type=location] {
 height: 100%;
}
.card[card-type=location] .text_area {
 width: 100%;
}
.card[card-type=location] .text_content {
 justify-content: flex-start;
 align-items: flex-start;
 width: 100%;
}
.card[card-type=location] .divider {
 border-color: var(--secondary_text);
}
.card[card-type=location] .event_type_indicator {
 text-transform: capitalize;
}
.card[card-type=location][has-indicator=false] .event_type_indicator {
 display: none;
}
.card[card-type=resource] {
 height: 100%;
}
.card[card-type=resource] .media_area {
 width: 100%;
}
.card[card-type=resource] .media_content img {
 border-radius: 0.25rem;
}
.card[card-type=resource] .text_area p {
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 3;
 overflow: hidden;
 text-overflow: ellipsis;
}

a.card {
 color: var(--primary_text);
}
a.card:hover {
 background: var(--theme_color-500, #76affe);
 box-shadow: 0px 10px 16px -4px rgba(25, 45, 98, 0.125);
}
a.card:hover p {
 color: var(--primary_text);
}