/*atoms/buttons/css/index.scsss*/
.button-container {
   display: flex;
   gap: 1rem;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.c25-button {
   --_button-color: #126587;
   --_text-color: #faf9e9;
   display: flex;
   gap: 0.0625rem;
   font-size: clamp(0.8125rem, 0.28vw + 0.74375rem, 1rem);
   color: var(--_text-color, #faf9e9);
   font-family: var(--primary_font, "Raleway", sans-serif);
   font-weight: 600;
   line-height: 100%;
   letter-spacing: 0.14em;
   text-transform: uppercase;
   text-decoration: none;
   box-shadow: var(--indigo-shadow);
   transition: 0.5s box-shadow, 0.25s translate;
}
.c25-button:hover {
   color: var(--_text-color, #faf9e9);
   translate: 0 -2%;
}
.c25-button[button-size=large] {
   font-size: clamp(0.875rem, 0.38vw + 0.7875rem, 1.125rem);
}
.c25-button[button-size=small] {
   font-size: clamp(0.75rem, 0.09vw + 0.725rem, 0.8125rem);
}
.c25-button[button-type=back] {
   flex-direction: row-reverse;
}
.c25-button[button-color=cream] {
   --_button-color: #faf9e9;
   --_text-color: #126587;
}
.c25-button[button-color=contrast-cream] {
   --_button-color: #fdfdf5;
   --_text-color: #126587;
}
.c25-button[button-color=indigo] {
   --_button-color: #0e3c62;
   --_text-color: #faf9e9;
}
.c25-button[button-color=sea-blue] {
   --_button-color: #126587;
   --_text-color: #faf9e9;
}
.c25-button[button-color=teal] {
   --_button-color: #007e99;
   --_text-color: #faf9e9;
}
.c25-button[button-color=sea-foam] {
   --_button-color: #339499;
   --_text-color: #faf9e9;
}
.c25-button[button-color=sky-blue] {
   --_button-color: #7fd0f5;
   --_text-color: #0e3c62;
}
.c25-button[button-color=frog] {
   --_button-color: #7cc09b;
   --_text-color: #0e3c62;
}
.c25-button[button-color=red] {
   --_button-color: #b4352c;
   --_text-color: #faf9e9;
}
.c25-button[button-color=sunset] {
   --_button-color: #d84822;
   --_text-color: #faf9e9;
}
.c25-button[button-color=crimson] {
   --_button-color: #f2612c;
   --_text-color: #faf9e9;
}
.c25-button[button-color=sunflower] {
   --_button-color: #fdba5d;
   --_text-color: #0e3c62;
}
.c25-button[button-color=inactive] {
   --_button-color: rgb(133, 133, 133);
   --_text-color: #faf9e9;
}
.c25-button:hover {
   box-shadow: var(--indigo-shadow-active);
}
.c25-button:active {
   translate: 0 0.125rem;
}

.button-text {
   padding-inline: 1em;
   padding-block: 0.75em;
   background: var(--_button-color, #126587);
   position: relative;
   transition-timing-function: ease-in;
}
.button-text::after {
   display: block;
   content: "";
   background-color: rgba(14, 60, 98, 0.4);
   height: 100%;
   left: 0;
   top: 0;
   bottom: 0;
   width: 0;
   position: absolute;
   mix-blend-mode: overlay;
   transition: 0.4s all;
}
.c25-button:hover .button-text::after {
   width: 100%;
   transition: 0.4s 0.1s all;
}

.button-arrow {
   background: var(--_button-color, #126587);
   height: 2.5em;
   width: 2.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.button-arrow svg {
   height: 0.625em;
   transition: 0.1s all;
}
.c25-button:hover .button-arrow svg {
   scale: 1.5;
   transition: 0.1s 0.4s all;
}
[button-type=back] .button-arrow svg {
   scale: -1 1;
}
.c25-button[button-type=back]:hover .button-arrow svg {
   scale: -1.5 1.5;
   transition: 0.1s 0.4s all;
}
.button-arrow svg path {
   stroke-width: 2;
   stroke: var(--_text-color, #faf9e9);
}
.button-arrow::after {
   display: block;
   content: "";
   display: block;
   content: "";
   background-color: rgba(14, 60, 98, 0.4);
   height: 100%;
   left: 0;
   top: 0;
   bottom: 0;
   width: 0;
   position: absolute;
   mix-blend-mode: overlay;
   transition: 0.1s all;
}
.c25-button:hover .button-arrow::after {
   width: 100%;
   transition: 0.1s 0.4s all;
}

input.c25-button.w-button {
   background-color: var(--_button-color);
   height: 2.5em;
}

button.c25-button {
   background-color: transparent;
   border: 0;
   padding: 0;
   margin: 0;
}

/*css/atoms/inputs/css/index.scss*/
.divider,
hr {
   --_color: #faf9e9;
   --columns: 12;
   --start: calc((16 - var(--columns)) / 2);
   grid-column: var(--start)/span var(--columns);
   border: 0;
   outline: 0;
   border-top: 1px solid var(--_color);
   width: 100%;
}
.divider[column-span=inset],
hr[column-span=inset] {
   --columns: 10;
}
@media (max-width: 991px) {
   .divider[column-span=inset],
hr[column-span=inset] {
      --columns: 12;
   }
}
.divider[column-span=narrow],
hr[column-span=narrow] {
   --columns: 8;
}
@media (max-width: 991px) {
   .divider[column-span=narrow],
hr[column-span=narrow] {
      --columns: 10;
   }
}
@media (max-width: 767px) {
   .divider[column-span=narrow],
hr[column-span=narrow] {
      --columns: 12;
   }
}
.divider[column-span=full-page],
hr[column-span=full-page] {
   --columns: 14;
}
.divider[alignment=left],
hr[alignment=left] {
   grid-column: 2/span var(--columns);
}
.divider[alignment=right],
hr[alignment=right] {
   grid-column: span var(--columns)/-2;
}
.divider[alignment=center],
hr[alignment=center] {
   grid-column: var(--start)/span var(--columns);
}
.divider[divider-color=cream],
hr[divider-color=cream] {
   --_color: #faf9e9;
}
.divider[divider-color=contrast-cream],
hr[divider-color=contrast-cream] {
   --_color: #fdfdf5;
}
.divider[divider-color=indigo],
hr[divider-color=indigo] {
   --_color: #0e3c62;
}
.divider[divider-color=sea-blue],
hr[divider-color=sea-blue] {
   --_color: #126587;
}
.divider[divider-color=teal],
hr[divider-color=teal] {
   --_color: #007e99;
}
.divider[divider-color=sea-foam],
hr[divider-color=sea-foam] {
   --_color: #339499;
}
.divider[divider-color=sky-blue],
hr[divider-color=sky-blue] {
   --_color: #7fd0f5;
}
.divider[divider-color=frog],
hr[divider-color=frog] {
   --_color: #7cc09b;
}
.divider[divider-color=red],
hr[divider-color=red] {
   --_color: #b4352c;
}
.divider[divider-color=sunset],
hr[divider-color=sunset] {
   --_color: #d84822;
}
.divider[divider-color=crimson],
hr[divider-color=crimson] {
   --_color: #f2612c;
}
.divider[divider-color=sunflower],
hr[divider-color=sunflower] {
   --_color: #fdba5d;
}

/*components/icons/css/index.scsss*/
.icon-container {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
}

.icon {
   width: 3rem;
   height: 3rem;
   -o-object-fit: fit;
      object-fit: fit;
}
.icon[icon-size=interface] {
   width: 1.5rem;
   height: 1.5rem;
}
.icon[icon-size=small] {
   width: 2rem;
   height: 2rem;
}
.icon[icon-size=large] {
   width: 4rem;
   height: 4rem;
}
.icon[icon-size=jumbo] {
   width: 5rem;
   height: 5rem;
}
.icon[icon-shape=circle] {
   border-radius: 50%;
   overflow: hidden;
}

.icon_list {
   display: flex;
   flex-direction: column;
   gap: var(--space_between-small);
}
.icon_list-item {
   display: flex;
   gap: 0.75rem;
}
.icon_list-icon {
   flex-grow: 0;
   display: block;
   margin-top: 0.125rem;
}
.icon_list-icon svg {
   width: 1.25rem;
}
.icon_list-icon svg path,
.icon_list-icon svg circle,
.icon_list-icon svg rect {
   fill: currentColor;
}
.icon_list-text {
   flex-grow: 1;
}

/*css/atoms/inputs/css/index.scss*/
.input_input {
   position: relative;
   transition: 0.3s all;
}
.input_input:has(input[type=text]), .input_input:has(input[type=number]), .input_input:has(input[type=email]), .input_input:has(input[type=password]) {
   margin-top: 1.375rem;
}
.input_input:has(input[type=text]:-moz-placeholder-shown), .input_input:has(input[type=number]:-moz-placeholder-shown), .input_input:has(input[type=email]:-moz-placeholder-shown), .input_input:has(input[type=password]:-moz-placeholder-shown) {
   margin-top: 0.875rem;
}
.input_input:has(input[type=text]:placeholder-shown), .input_input:has(input[type=number]:placeholder-shown), .input_input:has(input[type=email]:placeholder-shown), .input_input:has(input[type=password]:placeholder-shown) {
   margin-top: 0.875rem;
}
.input_input:has(input[type=text]:focus-visible), .input_input:has(input[type=number]:focus-visible), .input_input:has(input[type=email]:focus-visible), .input_input:has(input[type=password]:focus-visible) {
   margin-top: 1.375rem;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
   display: flex;
   align-items: center;
   gap: 0.625rem;
   border: 0;
   border-bottom: 1px solid #007e99;
   background-color: rgba(51, 148, 153, 0);
   flex-grow: 1;
   width: 100%;
   box-sizing: border-box;
   color: #126587;
   font-family: "Raleway", sans-serif;
   font-size: 1.125rem;
   font-weight: 500;
   line-height: 105%;
   transition: 0.5s all;
   padding: 1.25rem 0.75rem;
   min-height: 3rem;
   padding-bottom: 0.8125rem;
}
input[type=text] + label,
input[type=number] + label,
input[type=email] + label,
input[type=password] + label {
   color: #007e99;
   font-family: "Raleway", sans-serif;
   font-weight: 500;
   line-height: 1.05;
   font-size: 1.125rem;
   font-size: 0.875rem;
   transition: 0.5s all;
   position: absolute;
   bottom: calc(100% + 0.5rem);
   left: 0;
   pointer-events: none;
   translate: 0 0;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=password]:hover {
   border-width: 2px;
   border-color: #00c2cc;
   padding-bottom: 0.75rem;
}
input[type=text]:hover + label,
input[type=number]:hover + label,
input[type=email]:hover + label,
input[type=password]:hover + label {
   color: #00c2cc;
}
input[type=text]:-moz-placeholder-shown + label, input[type=number]:-moz-placeholder-shown + label, input[type=email]:-moz-placeholder-shown + label, input[type=password]:-moz-placeholder-shown + label {
   bottom: 50%;
   left: 0.75rem;
   translate: 0 50%;
   font-size: 1.125rem;
}
input[type=text]:placeholder-shown + label,
input[type=number]:placeholder-shown + label,
input[type=email]:placeholder-shown + label,
input[type=password]:placeholder-shown + label {
   bottom: 50%;
   left: 0.75rem;
   translate: 0 50%;
   font-size: 1.125rem;
}
input[type=text]:focus-visible,
input[type=number]:focus-visible,
input[type=email]:focus-visible,
input[type=password]:focus-visible {
   border-width: 2px;
   padding-bottom: 0.75rem;
   background-color: rgba(51, 148, 153, 0.1);
   outline: 0;
   border-color: #007e99;
}
input[type=text]:focus-visible + label,
input[type=number]:focus-visible + label,
input[type=email]:focus-visible + label,
input[type=password]:focus-visible + label {
   bottom: calc(100% + 0.5rem);
   left: 0;
   translate: 0 0;
   font-size: 0.875rem;
}
input[type=text]:required + label::after,
input[type=number]:required + label::after,
input[type=email]:required + label::after,
input[type=password]:required + label::after {
   content: "*";
   color: #b4352c;
}

.input-reminder-text {
   color: #007e99;
   font-family: "Raleway", sans-serif;
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 115%;
   margin-top: 0.375rem;
   letter-spacing: -0.01em;
}

.checkbox-group-header,
.radio-group-header {
   color: #007e99;
   font-family: "Raleway", sans-serif;
   font-weight: 500;
   line-height: 1.05;
   font-size: 1.125rem;
}

.radio-group {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}

.radio-group-list {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.radio-group-item {
   display: flex;
   gap: 0.9375rem;
   align-items: flex-start;
}
.radio-group-item svg {
   width: 1rem;
}
.radio-group-item .w-form-label {
   color: #007e99;
   font-family: "Raleway", sans-serif;
   font-weight: 500;
   line-height: 1.05;
   font-size: 1.125rem;
   color: #126587;
   font-weight: 600;
   min-height: 1.8125rem;
}
.radio-group-item .w-radio-input {
   display: none;
}
.radio-group-item .radio-display {
   margin-block: 0.3125rem;
   width: 1.1875rem;
   height: 1.1875rem;
   border: 0.125rem #007e99 solid;
   border-radius: 99rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.radio-group-item .radio-display::after {
   content: "";
   display: block;
   background-color: #007e99;
   width: 0.8125rem;
   height: 0.8125rem;
   flex-shrink: 0;
   border-radius: 0.8125rem;
   background: radial-gradient(107.14% 107.14% at 11.54% 0%, #339499 0%, #007e99 100%);
}

.nice-select.form-field.select.w-select {
   border-radius: 0;
   display: flex;
   align-items: center;
   gap: 0.625rem;
   border: 0;
   border-bottom: 1px solid currentColor;
   background-color: rgba(51, 148, 153, 0);
   flex-grow: 1;
   width: 100%;
   box-sizing: border-box;
   color: #007e99;
   font-family: "Raleway", sans-serif;
   font-size: 1.125rem;
   font-weight: 500;
   line-height: 105%;
   transition: 0.5s all;
   padding: 1.25rem 0.75rem;
   min-height: 3rem;
}
.nice-select.form-field.select.w-select:focus {
   background-color: rgba(51, 148, 153, 0.1);
   border-bottom: 2px solid currentColor;
}
.nice-select.form-field.select.w-select:hover {
   color: #00c2cc;
   border-bottom: 2px solid currentColor;
}
.nice-select::after {
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid currentColor;
   border-bottom: 0px solid currentColor;
   transform: rotate(0deg);
   width: 0;
   height: 0;
}
.nice-select.open:after {
   transform: rotate(180deg);
}
.nice-select .option {
   font-family: "Raleway", sans-serif;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
   background-color: #f1f3ee;
}
.nice-select .option.selected {
   font-weight: 700;
}
.nice-select .list {
   background-color: #fdfdf5;
   box-shadow: 0px 0.75em 1em -0.25em rgba(14, 60, 98, 0.2);
   color: #0e3c62;
}

/*css/atoms/inputs/css/index.scss*/
.tag-container {
   display: flex;
   gap: 0.5rem;
   flex-wrap: wrap;
}

.tag {
   --_tag-color: #007e99;
   --_text-color: #faf9e9;
   display: block;
   background: var(--_tag-color);
   color: var(--_text-color);
   padding: 0.3125rem 0.875rem;
   line-height: 100%;
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: clamp(1rem, 0.19vw + 0.95625rem, 1.125rem);
   line-height: 1.15;
   font-family: "Raleway", sans-serif;
   letter-spacing: 0.08em;
   text-transform: uppercase;
}
.tag[tag-color=cream] {
   --_tag-color: #faf9e9;
   --text-color: #126587;
}
.tag[tag-color=contrast-cream] {
   --_tag-color: #fdfdf5;
   --text-color: #126587;
}
.tag[tag-color=indigo] {
   --_tag-color: #0e3c62;
   --text-color: #faf9e9;
}
.tag[tag-color=sea-blue] {
   --_tag-color: #126587;
   --text-color: #faf9e9;
}
.tag[tag-color=teal] {
   --_tag-color: #007e99;
   --text-color: #faf9e9;
}
.tag[tag-color=sea-foam] {
   --_tag-color: #339499;
   --text-color: #faf9e9;
}
.tag[tag-color=sky-blue] {
   --_tag-color: #7fd0f5;
   --text-color: #0e3c62;
}
.tag[tag-color=frog] {
   --_tag-color: #7cc09b;
   --text-color: #0e3c62;
}
.tag[tag-color=red] {
   --_tag-color: #b4352c;
   --text-color: #faf9e9;
}
.tag[tag-color=sunset] {
   --_tag-color: #d84822;
   --text-color: #faf9e9;
}
.tag[tag-color=crimson] {
   --_tag-color: #f2612c;
   --text-color: #faf9e9;
}
.tag[tag-color=sunflower] {
   --_tag-color: #fdba5d;
   --text-color: #0e3c62;
}