/*components/accordion/css/index.scsss*/
details > summary {
 list-style: none;
}

details > summary::-webkit-details-marker {
 display: none;
}

.accordion {
 border-bottom: 1px solid var(--theme_color-100);
 padding-bottom: 1rem;
}
.accordion-details {
 box-sizing: border-box;
}
.accordion-summary {
 outline: 0;
 cursor: pointer;
 transition: 0.3s color;
 color: var(--primary_text);
}
.accordion-summary:focus, .accordion-summary:hover {
 color: var(--theme_color-500);
}
.accordion-summary h4 {
 color: inherit;
 display: flex;
 width: 100%;
 gap: 1.5rem;
 position: relative;
 justify-content: space-between;
 margin-bottom: 0.5rem;
}
.accordion-summary h4 .headline {
 flex-grow: 1;
}
.accordion-summary h4 .svg-icon {
 --_size: 1em;
 color: inherit;
}
[open] .accordion-summary h4 {
 margin-bottom: 1rem;
}
.accordion-icon {
 transition: 0.3s opacity, 0.3s rotate;
}
.accordion-icon.open {
 position: absolute;
 right: 0;
 opacity: 1;
 rotate: 180deg;
}
[open] .accordion-icon.open {
 opacity: 0;
 rotate: 0deg;
}
.accordion-icon.close {
 rotate: 180deg;
}
[open] .accordion-icon.close {
 rotate: 0deg;
}
.accordion-content {
 padding-top: 0.75rem;
}

/*css/components/cards/css/index.scss*/
.card {
 display: flex;
 padding: 2rem;
 flex-direction: column;
 align-items: flex-start;
 gap: 1rem;
 border-radius: var(--corner, 0.25rem);
 background: rgba(255, 255, 255, 0.9);
 text-decoration: none;
 box-shadow: 0px 0px 16px -4px rgba(25, 45, 98, 0);
 -webkit-backdrop-filter: blur(6px);
         backdrop-filter: blur(6px);
 transition: 0.3s all;
}
@media (max-width: 767px) {
 .card {
  padding: 1.5rem;
 }
}
@media (max-width: 576px) {
 .card {
  padding: 1.25rem;
 }
}
.card-header {
 display: flex;
 gap: 0.75rem;
 align-items: center;
}
.card-date {
 display: flex;
 gap: 0.25em;
 color: var(--theme_color-500, #76affe);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 text-transform: uppercase;
 font-style: normal;
 font-weight: 600;
 line-height: 150%;
 font-weight: 700;
 color: var(--primary_text);
}
.card-date-pre {
 font-weight: 400;
}
.card-date-time {
 font-weight: 400;
}
.card-content {
 display: flex;
 gap: var(--gap, 1.5rem);
 align-items: flex-end;
 justify-content: flex-end;
 flex-wrap: wrap;
 width: 100%;
}
.card-details {
 display: flex;
 gap: var(--gap, 1.5rem);
 flex-wrap: wrap;
 width: 82%;
 flex-grow: 1;
}
[card-type=pickup] .card-details {
 width: 70%;
}
.card-name, .card-body {
 width: 30%;
 min-width: 18.125rem;
 flex-shrink: 1;
 flex-grow: 1;
}
[card-type=pickup] .card-name, [card-type=pickup] .card-body {
 min-width: 12.5rem;
}
.card-name {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.card-subhead {
 color: var(--theme_color-500, #76affe);
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 font-style: italic;
 font-weight: 800;
 line-height: 100%; /* 0.875rem */
 text-transform: uppercase;
 display: flex;
 gap: 0.4285714286em;
 color: var(--primary_text);
}
.card-host {
 color: var(--theme_color-500);
 transition: 0.3s color;
}
a:hover .card-host {
 color: var(--primary_text);
}
.card-location {
 width: 7.5rem;
 flex-shrink: 0;
 flex-grow: 0;
 display: flex;
 justify-content: flex-end;
}
@media (max-width: 991px) {
 .card-location {
  width: auto;
 }
}
.card-location .location_indicator {
 margin-left: auto;
}
.card[card-type=empty] {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 text-align: center;
 align-items: center;
 color: var(--theme_color-700);
}
.card[card-type=empty] a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.card[card-type=empty] a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.card[card-type=empty] a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.card[card-type=icon] .text_content {
 justify-content: flex-start;
 align-items: flex-start;
}
.card[card-type=icon] .headline-row h3 {
 display: flex;
 align-items: center;
 -moz-column-gap: 1.5rem;
      column-gap: 1.5rem;
 row-gap: 0.75rem;
 flex-wrap: wrap;
}
.card[card-type=icon] .svg-icon {
 --_size: 1.6em;
}
.card[card-type=icon] .headline {
 font-size: clamp(1.5rem, 0.75vw + 1.325rem, 2rem);
 color: var(--primary_text);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 line-height: 125%;
 font-weight: 500;
}
.card[card-type=location] {
 height: 100%;
}
.card[card-type=location] .text_area {
 width: 100%;
}
.card[card-type=location] .text_content {
 justify-content: flex-start;
 align-items: flex-start;
 width: 100%;
}
.card[card-type=location] .divider {
 border-color: var(--secondary_text);
}
.card[card-type=location] .event_type_indicator {
 text-transform: capitalize;
}
.card[card-type=location][has-indicator=false] .event_type_indicator {
 display: none;
}
.card[card-type=resource] {
 height: 100%;
}
.card[card-type=resource] .media_area {
 width: 100%;
}
.card[card-type=resource] .media_content img {
 border-radius: 0.25rem;
}
.card[card-type=resource] .text_area p {
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 3;
 overflow: hidden;
 text-overflow: ellipsis;
}

a.card {
 color: var(--primary_text);
}
a.card:hover {
 background: var(--theme_color-500, #76affe);
 box-shadow: 0px 10px 16px -4px rgba(25, 45, 98, 0.125);
}
a.card:hover p {
 color: var(--primary_text);
}

[min-char="6"] {
 min-width: 6ch;
}

[min-char="7"] {
 min-width: 7ch;
}

[min-char="8"] {
 min-width: 8ch;
}

[min-char="9"] {
 min-width: 9ch;
}

[min-char="10"] {
 min-width: 10ch;
}

[min-char="11"] {
 min-width: 11ch;
}

[min-char="12"] {
 min-width: 12ch;
}

[min-char="13"] {
 min-width: 13ch;
}

[min-char="14"] {
 min-width: 14ch;
}

[min-char="15"] {
 min-width: 15ch;
}

[min-char="16"] {
 min-width: 16ch;
}

[min-char="17"] {
 min-width: 17ch;
}

[min-char="18"] {
 min-width: 18ch;
}

[min-char="19"] {
 min-width: 19ch;
}

[min-char="20"] {
 min-width: 20ch;
}

[min-char="21"] {
 min-width: 21ch;
}

[min-char="22"] {
 min-width: 22ch;
}

[min-char="23"] {
 min-width: 23ch;
}

[min-char="24"] {
 min-width: 24ch;
}

/*css/components/contact_form/css/index.scsss*/
.contact_form-form {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: clamp(0.75rem, 0.38vw + 0.6625rem, 1rem);
}
.contact_form-row {
 display: flex;
 align-items: flex-start;
 justify-content: stretch;
 gap: inherit;
 align-self: stretch;
 flex-wrap: wrap;
}

/*css/components/filter_form/css/index.scss*/
.filter_form {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
@media (max-width: 767px) {
 .filter_form h4 {
  display: none;
 }
}
.filter_form-list {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
@media (max-width: 767px) {
 .filter_form-list {
  position: fixed;
  inset: auto 0 0 0;
  background-color: white;
  padding: var(--gap);
  border-radius: 1rem 1rem 0 0;
  translate: 0 100%;
  transition: 0.3s translate;
 }
 [filter-state=open] .filter_form-list {
  translate: 0 0;
  z-index: 201;
 }
}
.filter_form-close_tab {
 display: none;
 width: 2.5rem;
 border-radius: 2rem;
 height: 0.25rem;
 background-color: #a9bfeb;
 align-self: center;
 justify-self: center;
}
@media (max-width: 767px) {
 .filter_form-close_tab {
  display: block;
 }
}
.filter_form-label {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(1.0625rem, 0.38vw + 0.975rem, 1.3125rem);
 margin-bottom: 0.5rem;
}
.filter_form-label a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.filter_form-label a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.filter_form-label a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.filter_form-open {
 display: none;
}
@media (max-width: 767px) {
 .filter_form-open {
  display: flex;
 }
}
.filter_form-mobile_back {
 display: none;
 display: block;
 background: rgba(0, 0, 0, 0.3);
 position: fixed;
 inset: 0;
 opacity: 0;
 pointer-events: none;
 z-index: 200;
}
[filter-state=open] .filter_form-mobile_back {
 opacity: 1;
 pointer-events: auto;
}

/*css/components/image_card/css/index.scss*/
.image_card {
 --primary_text: white;
 --secondary_text: #e9f1ff;
 --background: #192d62;
 text-decoration: none;
 position: relative;
 border-radius: 0.25rem;
 overflow: hidden;
 padding: var(--section_padding) 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--background);
 min-height: 28.125rem;
}
@media (max-width: 767px) {
 .image_card {
  min-height: 26.25rem;
 }
}
@media (max-width: 767px) {
 .image_card {
  min-height: 22.5rem;
 }
}
.image_card .media_area {
 position: absolute;
 inset: 0;
}
.image_card .media_area .media_content {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.image_card .media_area .media_content::after {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 display: block;
 content: "";
 background-color: black;
 opacity: 0.3;
 transition: 0.5s opacity;
}
.image_card .media_area img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.image_card .text_area {
 position: relative;
 padding: 1.5rem;
}
.image_card .text_content {
 align-items: center;
 text-align: center;
}
.image_card .text_content h3 {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-style: italic;
 font-weight: 800;
 line-height: 100%;
 text-transform: uppercase;
 font-size: clamp(1.5rem, 0.56vw + 1.36875rem, 1.875rem);
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1.5rem;
 flex-direction: column;
 color: var(--primary_text);
}
.image_card .text_content h3 .icon {
 --_size: 2.25em;
}
.image_card .text_content p {
 max-width: 30ch;
}
.image_card:hover .media_area .media_content::after {
 opacity: 0.5;
}
/*components/cards/css/index.scsss*/
.inline_alert {
 display: flex;
 align-items: center;
 padding: 1.5rem;
 gap: var(--gap);
 background-color: rgba(255, 255, 255, 0.6);
 -webkit-backdrop-filter: blur(6px);
         backdrop-filter: blur(6px);
 border-radius: 0.5rem;
 border: 1px dashed var(--theme_color-500, #76affe);
}
.inline_alert .alert_icon {
 flex-shrink: 0;
 flex-grow: 0;
}

/*components/accordion/css/index.scsss*/
.modal {
 opacity: 0;
 pointer-events: none;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 z-index: 600;
}
.modal[modal-state=active] {
 opacity: 1;
 pointer-events: auto;
}
.modal-background {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, 0.5);
 -webkit-backdrop-filter: blur(6px);
         backdrop-filter: blur(6px);
}
.modal-content {
 display: flex;
 justify-content: center;
 align-items: center;
 scale: 0;
}
[modal-state=active] .modal-content {
 scale: 1;
}
.modal-content .media_area {
 width: clamp(18.75rem, 50svw, 40rem);
 display: flex;
 justify-content: center;
 align-items: center;
}

/*css/components/media_slider/css/index.scss*/
.image_slider {
 contain: paint;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 border-radius: 0.5rem;
}
.image_slider .swiper-slide img {
 height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}

.wf-design-mode .image_slider .swiper-wrapper {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(2, 1fr);
}

/*css/components/person_profile/css/index.scss*/
.person_profile {
 --_container-max: 16.25rem;
 --_image_size: 4.5rem;
 --_static-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #76affe, 0px 0px 0px 6px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #76affe, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62, 0px 0px 0px 15px #f9d452, 0px 0px 0px 16px #192d62;
 --_column_space: 1.5rem;
 display: flex;
 -moz-column-gap: var(--_column_space);
      column-gap: var(--_column_space);
 row-gap: 0.75rem;
 flex-wrap: wrap;
 container: profile/inline-size;
}
.person_profile[profile-type=event-host] {
 --_static-rings: 0px 0px 0px 0px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 0px #192d62;
}
.person_profile[profile-type=event-host][event-type=grass] {
 --_static-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62;
}
.person_profile[profile-type=event-host][event-type=indoor] {
 --_static-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62;
}
.person_profile[profile-type=event-host][event-type=beach] {
 --_static-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f9d452, 0px 0px 0px 6px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f9d452, 0px 0px 0px 6px #192d62;
}
.person_profile[profile-type=event-host][event-type~=grass][event-type~=indoor] {
 --_static-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #94d13d, 0px 0px 0px 11px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #94d13d, 0px 0px 0px 11px #192d62;
}
.person_profile[profile-type=event-host][event-type~=grass][event-type~=beach] {
 --_static-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f9d452, 0px 0px 0px 11px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f9d452, 0px 0px 0px 11px #192d62;
}
.person_profile[profile-type=event-host][event-type~=beach][event-type~=indoor] {
 --_static-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f9d452, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62;
 --_default-rings: 0px 0px 0px 0px #192d62;
 --_hover-rings: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f9d452, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62;
}
@media (hover: hover) and (pointer: fine) {
 @container profile (min-width: 16.125rem) {
  .person_profile {
   padding-bottom: 1rem;
  }
 }
}
.person_profile[profile-type=event-host] {
 --_image_size: 3.75rem;
}
.person_profile .media_area {
 width: var(--_image_size);
 height: var(--_image_size);
 flex-shrink: 0;
 flex-grow: 0;
}
.person_profile .text_area {
 flex-wrap: wrap;
 width: 8rem;
 flex-grow: 1;
 transition: 0.3s translate;
}
@media (hover: hover) and (pointer: fine) {
 @container profile (min-width: 16.125rem) {
  .person_profile .text_area {
   translate: calc(var(--_column_space) * -2) 1rem;
  }
 }
}
.person_profile:hover .text_area {
 translate: 0 0;
}
.person_profile:hover .person_profile-image {
 box-shadow: var(--_hover-rings);
}
.person_profile-image {
 border-radius: 50% !important;
 transition: 0.3s opacity, 0.3s box-shadow;
 box-shadow: var(--_static-rings);
 width: var(--_image_size);
 height: var(--_image_size);
 -o-object-fit: cover;
    object-fit: cover;
}
@container profile (min-width: 16.125rem) {
 @media (hover: hover) and (pointer: fine) {
  .person_profile-image {
   opacity: 0.2;
   box-shadow: var(--_default-rings);
  }
  .person_profile:hover .person_profile-image {
   box-shadow: var(--_hover-rings);
  }
 }
}
.person_profile:hover .person_profile-image {
 opacity: 1;
}
.person_profile-title {
 color: var(--theme_color-500, #76affe);
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 font-style: italic;
 font-weight: 800;
 line-height: 100%; /* 0.875rem */
 text-transform: uppercase;
 color: var(--theme_color-500);
}
.person_profile-name {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(1.0625rem, 0.38vw + 0.975rem, 1.3125rem);
 color: var(--primary_text);
}
.person_profile-name a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.person_profile-name a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.person_profile-name a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
[profile-type=event-host] .person_profile-name {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
}
[profile-type=event-host] .person_profile-name a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
[profile-type=event-host] .person_profile-name a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
[profile-type=event-host] .person_profile-name a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.person_profile-pronouns {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: 0.75rem;
}
.person_profile-pronouns a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.person_profile-pronouns a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.person_profile-pronouns a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.person_profile-locations {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 font-weight: 700;
 color: #76affe;
}
.person_profile-locations a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.person_profile-locations a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.person_profile-locations a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}

/*css/components/profile_item/css/index.scss*/
.profile_item {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.profile_item .text_content {
 gap: 0.25rem;
}
.profile_item img {
 border-radius: 0.25rem;
}
.profile_item-division, .profile_item-season, .profile_item-category {
 color: var(--theme_color-500, #76affe);
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-size: 0.875rem;
 font-style: italic;
 font-weight: 800;
 line-height: 100%; /* 0.875rem */
 text-transform: uppercase;
}
.profile_item-name {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(1.0625rem, 0.38vw + 0.975rem, 1.3125rem);
 font-weight: 600;
}
.profile_item-name a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.profile_item-name a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.profile_item-name a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.profile_item-event {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(0.8125rem, 0.19vw + 0.76875rem, 0.9375rem);
 color: #4c76c2;
}
.profile_item-event a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.profile_item-event a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.profile_item-event a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}

/*css/components/rich_text/css/index.scss*/
.rich_text h1,
.rich_text h2,
.rich_text h3,
.rich_text h4,
.rich_text h5,
.rich_text h6,
.rich_text p {
 margin-block: 0.5em 0.25em;
}
.rich_text p > em {
 font-style: italic;
}
.rich_text p > strong {
 font-weight: 700;
}
.rich_text p > strong > em,
.rich_text p > em > strong {
 font-weight: 700;
 font-style: italic;
}
.rich_text p > sup > em,
.rich_text p > em > sup {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(1.0625rem, 0.38vw + 0.975rem, 1.3125rem);
}
.rich_text p > sup > em a,
.rich_text p > em > sup a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.rich_text p > sup > em a::after,
.rich_text p > em > sup a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.rich_text p > sup > em a:hover::after,
.rich_text p > em > sup a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.rich_text p > sub > em,
.rich_text p > em > sub {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 font-size: clamp(0.8125rem, 0.19vw + 0.76875rem, 0.9375rem);
}
.rich_text p > sub > em a,
.rich_text p > em > sub a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.rich_text p > sub > em a::after,
.rich_text p > em > sub a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.rich_text p > sub > em a:hover::after,
.rich_text p > em > sub a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.rich_text ul {
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 padding-inline: 1.5em;
 display: flex;
 flex-direction: column;
 gap: 0.25em;
}
.rich_text ul a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.rich_text ul a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.rich_text ul a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.rich_text ul li::marker {
 color: var(--primary_text);
}
.rich_text blockquote {
 display: flex;
 align-items: center;
 padding: 1.5rem;
 gap: var(--gap);
 background-color: rgba(255, 255, 255, 0.6);
 -webkit-backdrop-filter: blur(6px);
         backdrop-filter: blur(6px);
 border-radius: 0.5rem;
 border: 1px dashed var(--theme_color-500, #76affe);
 color: var(--secondary_text);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: clamp(0.9375rem, 0.28vw + 0.86875rem, 1.125rem);
 font-style: normal;
 font-weight: 400;
 line-height: 140%;
 margin-block: 1rem;
}
.rich_text blockquote a {
 font-weight: 600;
 color: var(--theme_color-500);
 text-decoration: none;
 white-space: no-wrap;
 display: inline-block;
 position: relative;
}
.rich_text blockquote a::after {
 display: block;
 content: "";
 position: absolute;
 width: 0%;
 height: 0.125em;
 border-bottom: 0.125em solid currentColor;
 bottom: -0.125em;
 transition: 0.3s all;
}
.rich_text blockquote a:hover::after {
 width: 100%;
 animation: draw_line 1s linear infinite;
}
.rich_text blockquote::before {
 flex-shrink: 0;
 flex-grow: 0;
}
.rich_text hr {
 margin-block: var(--gap);
}
.rich_text .button-container {
 margin-block: 1rem;
}
.rich_text figure {
 margin: 0;
}
.rich_text .w-richtext-align-center {
 display: grid;
 grid-template-columns: repeat(var(--columns, 12), minmax(0, 1fr));
 gap: var(--gap);
}
.rich_text .w-richtext-align-center > div {
 grid-column: 3/-3;
}
@media (max-width: 991px) {
 .rich_text .w-richtext-align-center > div {
  grid-column: 2/-2;
 }
}
@media (max-width: 767px) {
 .rich_text .w-richtext-align-center > div {
  grid-column: 1/-1;
 }
}
.rich_text .w-richtext-align-fullwidth {
 max-width: none !important;
}

/*components/accordion/css/index.scsss*/
.toggle_content {
 grid-column: 1/-1;
}
.toggle_content .headline-row {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 margin-bottom: 1rem;
}
.toggle_content-content {
 display: grid;
 transition: 0.5s grid-template-rows;
}
.toggle_content-content[initial] {
 grid-template-rows: 1fr;
 transition: 0.5s 0.5s grid-template-rows;
}
[state="1"] .toggle_content-content[initial] {
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
.toggle_content-content:not([initial]) {
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
[state="1"] .toggle_content-content:not([initial]) {
 grid-template-rows: 1fr;
 transition: 0.5s 0.5s grid-template-rows;
}
.toggle_content-content article {
 overflow: hidden;
 padding-bottom: 0rem;
 transition: 0.5s padding;
 gap: 1rem;
}

.toggle_content[toggle-label=Indoor] .tab-indicator {
 background-color: #f16122;
}
.toggle_content[toggle-label=Grass] .tab-indicator {
 background-color: #94d13d;
}

.wf-design-mode .toggle_content-content {
 margin-block: 1rem;
 background: rgba(255, 0, 0, 0.1);
 padding: 0.5rem;
}
.wf-design-mode .toggle_content-content:not([initial]) {
 grid-template-rows: 1fr;
 background: rgba(0, 255, 0, 0.1);
}

componentGrid {
 display: grid;
 grid-column: repeat;
 grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
 align-items: start;
 gap: 60px;
 padding: 60px;
 background: var(--background);
}
componentGrid[single] {
 grid-template-columns: 1fr;
 gap: 30px;
}