<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" large bold="viewport" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Components - Cards</title>
		<link rel="stylesheet" href="../../globals/normalize.css" />
		<link rel="stylesheet" href="../../globals/_index.css" />
		<link rel="stylesheet" href="../../atoms/index.css" />
		<link rel="stylesheet" href="../index.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<main class="">
			<componentGrid>
				<article class="person_profile">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-title">President</div>
							<div class="person_profile-details">
								<h3 class="person_profile-name">Firstname Lastname</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
							</div>
						</div>
					</div>
				</article>

				<article class="person_profile">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-title">President</div>
							<div class="person_profile-details">
								<h3 class="person_profile-name">Firstname Lastname</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
							</div>
						</div>
					</div>
				</article>
				<article class="person_profile">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-title">President</div>
							<div class="person_profile-details">
								<h3 class="person_profile-name">Johnny Burton Walker Jr,</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
							</div>
						</div>
					</div>
				</article>
				<article class="person_profile">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-title">President</div>
							<div class="person_profile-details">
								<h3 class="person_profile-name">Firstname Lastname</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
							</div>
						</div>
					</div>
				</article>
			</componentGrid>

			<componentGrid>
				<article class="person_profile" profile-type="event-host">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-details">
								<h3 class="person_profile-name">Firstname Lastname</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
								<div class="person_profile-locations">President</div>
							</div>
						</div>
					</div>
				</article>

				<article class="person_profile" profile-type="event-host" event-type="grass">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-details">
								<h3 class="person_profile-name">Firstname grass Lastname</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
								<div class="person_profile-locations">President</div>
							</div>
						</div>
					</div>
				</article>
				<article class="person_profile" profile-type="event-host" event-type="indoor beach">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-details">
								<h3 class="person_profile-name">Firstname Lastname</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
								<div class="person_profile-locations">President</div>
							</div>
						</div>
					</div>
				</article>
				<article class="person_profile" profile-type="event-host">
					<div class="media_area">
						<figure class="media_content">
							<img
								class="person_profile-image"
								src="https://assets-global.website-files.com/653885ff978cfaaaff1f6d97/65395bdcf4c514843446bcf1_sean%20mcginn-p-500.jpg"
								alt=""
							/>
						</figure>
					</div>
					<div class="text_area">
						<div class="text_content">
							<div class="person_profile-details">
								<h3 class="person_profile-name">Firstname Lastname</h3>
								<div class="person_profile-pronouns">pro/nouns</div>
								<div class="person_profile-locations">President</div>
							</div>
						</div>
					</div>
				</article>
			</componentGrid>
		</main>
	</body>
</html>
