<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" large bold="viewport" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Components - Cards</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../../globals/normalize.css" />
    <link rel="stylesheet" href="../../globals/_index.css" />
    <link rel="stylesheet" href="../../atoms/_index.css" />
    <link rel="stylesheet" href="../../components/_index.css" />
    <link rel="stylesheet" href="../../blocks/_index.css" />
    <link rel="stylesheet" href="../../globals/units.css" />
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <main class="" color-theme="glass">
      <div class="background_area">
        <svg
          class="grid"
          width="1000"
          height="1000"
          viewBox="0 0 1000 1000"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_568_31794)">
            <rect width="1000" height="1000" fill="white" />
            <path d="M0 0V1000" stroke="black" />
            <path d="M100 0V1000" stroke="black" />
            <path d="M200 0V1000" stroke="black" />
            <path d="M300 0V1000" stroke="black" />
            <path d="M400 0V1000" stroke="black" />
            <path d="M500 0V1000" stroke="black" />
            <path d="M600 0V1000" stroke="black" />
            <path d="M700 0V1000" stroke="black" />
            <path d="M800 0V1000" stroke="black" />
            <path d="M900 0V1000" stroke="black" />
            <path d="M1000 0V1000" stroke="black" />
            <path d="M1000 0L5.45979e-05 -4.37114e-05" stroke="black" />
            <path d="M1000 100L5.45979e-05 100" stroke="black" />
            <path d="M1000 200L5.45979e-05 200" stroke="black" />
            <path d="M1000 300L5.45979e-05 300" stroke="black" />
            <path d="M1000 400L5.45979e-05 400" stroke="black" />
            <path d="M1000 500L5.45979e-05 500" stroke="black" />
            <path d="M1000 600L5.45979e-05 600" stroke="black" />
            <path d="M1000 700L5.45979e-05 700" stroke="black" />
            <path d="M1000 800L5.45979e-05 800" stroke="black" />
            <path d="M1000 900L5.45979e-05 900" stroke="black" />
            <path d="M1000 1000L5.45979e-05 1000" stroke="black" />
          </g>
          <defs>
            <clipPath id="clip0_568_31794">
              <rect width="1000" height="1000" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <svg
          class="grid"
          width="1000"
          height="1000"
          viewBox="0 0 1000 1000"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_568_31794)">
            <rect width="1000" height="1000" fill="white" />
            <path d="M0 0V1000" stroke="black" />
            <path d="M100 0V1000" stroke="black" />
            <path d="M200 0V1000" stroke="black" />
            <path d="M300 0V1000" stroke="black" />
            <path d="M400 0V1000" stroke="black" />
            <path d="M500 0V1000" stroke="black" />
            <path d="M600 0V1000" stroke="black" />
            <path d="M700 0V1000" stroke="black" />
            <path d="M800 0V1000" stroke="black" />
            <path d="M900 0V1000" stroke="black" />
            <path d="M1000 0V1000" stroke="black" />
            <path d="M1000 0L5.45979e-05 -4.37114e-05" stroke="black" />
            <path d="M1000 100L5.45979e-05 100" stroke="black" />
            <path d="M1000 200L5.45979e-05 200" stroke="black" />
            <path d="M1000 300L5.45979e-05 300" stroke="black" />
            <path d="M1000 400L5.45979e-05 400" stroke="black" />
            <path d="M1000 500L5.45979e-05 500" stroke="black" />
            <path d="M1000 600L5.45979e-05 600" stroke="black" />
            <path d="M1000 700L5.45979e-05 700" stroke="black" />
            <path d="M1000 800L5.45979e-05 800" stroke="black" />
            <path d="M1000 900L5.45979e-05 900" stroke="black" />
            <path d="M1000 1000L5.45979e-05 1000" stroke="black" />
          </g>
          <defs>
            <clipPath id="clip0_568_31794">
              <rect width="1000" height="1000" fill="white" />
            </clipPath>
          </defs>
        </svg>

        <!-- <div class="canvas">
          <div class="gradient-group-1">
            <div class="orange-4"></div>
            <div class="orange-3"></div>
            <div class="orange-2"></div>
            <div class="orange-1"></div>
            <div class="burst"></div>
          </div>
          <div class="indigo-top"></div>
          <div class="gradient-group-2">
            <div class="burst"></div>
            <div class="crimson-1"></div>
            <div class="orange-1"></div>
            <div class="red-1"></div>
            <div class="orange-2"></div>
          </div>
          <div class="gradient-group-3">
            <div class="burst"></div>
            <div class="crimson-1"></div>
            <div class="orange-1"></div>
            <div class="red-1"></div>
            <div class="orange-2"></div>
          </div>
        </div> -->
        <div class="canvas">
          <div class="gradient-group-1">
            <svg
              width="1327"
              height="1157"
              viewBox="0 0 1327 1157"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="o-1-4"
                opacity="0.8"
                d="M895.04 1080.99C552.04 1238.9 170.433 1142 42.6965 864.546C-85.04 587.094 89.4654 234.16 432.465 76.2456C775.465 -81.6687 1157.07 15.2354 1284.81 292.687C1412.55 570.139 1238.04 923.073 895.04 1080.99Z"
                fill="url(#paint0_radial_568_32133)"
              />
              <defs>
                <radialGradient
                  id="paint0_radial_568_32133"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(663.751 578.616) rotate(155.279) scale(683.715 326.352)"
                >
                  <stop stop-color="#F36E3D" />
                  <stop offset="1" stop-color="#FDBA5D" stop-opacity="0" />
                </radialGradient>
              </defs>
            </svg>
            <svg
              width="1655"
              height="1654"
              viewBox="0 0 1655 1654"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="o-1-3"
                opacity="0.6"
                d="M1268.5 1525.79C882.39 1769.32 371.962 1653.74 128.429 1267.63C-115.104 881.515 0.477539 371.087 386.589 127.554C772.7 -115.979 1283.13 -0.397461 1526.66 385.714C1770.19 771.825 1654.61 1282.25 1268.5 1525.79Z"
                fill="url(#paint0_radial_568_32132)"
              />
              <defs>
                <radialGradient
                  id="paint0_radial_568_32132"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(827.543 826.67) rotate(147.759) scale(826.563 487.746)"
                >
                  <stop stop-color="#F36E3D" />
                  <stop offset="1" stop-color="#FDBA5D" stop-opacity="0" />
                </radialGradient>
              </defs>
            </svg>
            <svg
              width="1654"
              height="1655"
              viewBox="0 0 1654 1655"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="o-1-2"
                opacity="0.6"
                d="M838.8 1654C382.347 1660.39 7.1411 1295.54 0.754459 839.082C-5.63218 382.629 359.219 7.42332 815.672 1.03669C1272.13 -5.34995 1647.33 359.501 1653.72 815.954C1660.1 1272.41 1295.25 1647.61 838.8 1654Z"
                fill="url(#paint0_radial_568_32131)"
              />
              <defs>
                <radialGradient
                  id="paint0_radial_568_32131"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(827.235 827.518) rotate(179.198) scale(826.562 487.746)"
                >
                  <stop stop-color="#F36E3D" />
                  <stop offset="1" stop-color="#FDBA5D" stop-opacity="0" />
                </radialGradient>
              </defs>
            </svg>
            <svg
              width="1635"
              height="798"
              viewBox="0 0 1635 798"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="o-1-1"
                opacity="0.6"
                d="M751.719 770.732C302.194 691.246 -32.8058 460.478 3.47483 255.298C39.7555 50.117 433.578 -51.7784 883.103 27.7079C1332.63 107.194 1667.63 337.962 1631.35 543.143C1595.07 748.323 1201.24 850.219 751.719 770.732Z"
                fill="url(#paint0_radial_568_32130)"
              />
              <defs>
                <radialGradient
                  id="paint0_radial_568_32130"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(817.411 399.22) rotate(-169.972) scale(826.562 222.627)"
                >
                  <stop stop-color="#F36E3D" />
                  <stop
                    offset="0.51"
                    stop-color="#F8954D"
                    stop-opacity="0.49"
                  />
                  <stop offset="1" stop-color="#FDBA5D" stop-opacity="0" />
                </radialGradient>
              </defs>
            </svg>
            <svg
              width="4796"
              height="1046"
              viewBox="0 0 4796 1046"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Burst"
                d="M2397.54 1045.39C3721.66 1045.39 4795.07 811.569 4795.07 523.135C4795.07 234.701 3721.66 0.878906 2397.54 0.878906C1073.41 0.878906 0 234.701 0 523.135C0 811.569 1073.41 1045.39 2397.54 1045.39Z"
                fill="url(#paint0_radial_568_32143)"
              />
              <defs>
                <radialGradient
                  id="paint0_radial_568_32143"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(2406.15 522.588) scale(1800.81 1107.34)"
                >
                  <stop stop-color="#FDBA5D" stop-opacity="0.8" />
                  <stop offset="0.495" stop-color="#EF465B" stop-opacity="0" />
                </radialGradient>
              </defs>
            </svg>
          </div>
          <svg
            width="1012"
            height="895"
            viewBox="0 0 1012 895"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="Indigo-gradient-top"
              style="mix-blend-mode: hard-light"
              d="M1011.72 0.816406V894.566H0V0.816406H1011.72Z"
              fill="url(#paint0_linear_568_32142)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_568_32142"
                x1="-14.8843"
                y1="-113.67"
                x2="411.957"
                y2="476.65"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#091438" />
                <stop offset="0.79" stop-color="#016692" stop-opacity="0" />
              </linearGradient>
            </defs>
          </svg>

          <div class="gradient-group-2">
            <div class="burst"></div>
            <div class="crimson-1"></div>
            <div class="orange-1"></div>
            <div class="red-1"></div>
            <div class="orange-2"></div>
          </div>
          <div class="gradient-group-3">
            <div class="burst"></div>
            <div class="crimson-1"></div>
            <div class="orange-1"></div>
            <div class="red-1"></div>
            <div class="orange-2"></div>
          </div>
        </div>
      </div>
      <section section-height="jumbo" class="basic_content--section">
        <div
          alignment="left"
          column-span="intro"
          class="basic_content--row row"
        >
          <div class="text_area">
            <div class="text_content">
              <p class="body-text-jumbo">
                Section 1 Join the best and brightest minds in data streaming at
                Current Bengaluru. we’re bringing the experts together and
                getting to the heart of all this innovation—data streaming. Come
                ready to learn everything you need to know about bringing
                real-time streaming and generative AI use cases to life. You’ll
                hear how tech leaders, industry giants, and startups are taking
                their organizations to the next level with Apache Kafka<sup
                  >®</sup
                >
                and Apache Flink<sup>®</sup>.
              </p>
              <p class="body-text-jumbo">
                <strong>It all happens here. Only at Current.</strong>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section section-height="jumbo" class="basic_content--section">
        <div
          alignment="left"
          column-span="intro"
          class="basic_content--row row"
        >
          <div class="text_area">
            <div class="text_content">
              <p class="body-text-jumbo">
                Section 2 oin the best and brightest minds in data streaming at
                Current Bengaluru. we’re bringing the experts together and
                getting to the heart of all this innovation—data streaming. Come
                ready to learn everything you need to know about bringing
                real-time streaming and generative AI use cases to life. You’ll
                hear how tech leaders, industry giants, and startups are taking
                their organizations to the next level with Apache Kafka<sup
                  >®</sup
                >
                and Apache Flink<sup>®</sup>.
              </p>
              <p class="body-text-jumbo">
                <strong>It all happens here. Only at Current.</strong>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section section-height="jumbo" class="basic_content--section">
        <div
          alignment="left"
          column-span="intro"
          class="basic_content--row row"
        >
          <div class="text_area">
            <div class="text_content">
              <p class="body-text-jumbo">
                Section 3 Join the best and brightest minds in data streaming at
                Current Bengaluru. we’re bringing the experts together and
                getting to the heart of all this innovation—data streaming. Come
                ready to learn everything you need to know about bringing
                real-time streaming and generative AI use cases to life. You’ll
                hear how tech leaders, industry giants, and startups are taking
                their organizations to the next level with Apache Kafka<sup
                  >®</sup
                >
                and Apache Flink<sup>®</sup>.
              </p>
              <p class="body-text-jumbo">
                <strong>It all happens here. Only at Current.</strong>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section section-height="jumbo" class="basic_content--section">
        <div
          alignment="left"
          column-span="intro"
          class="basic_content--row row"
        >
          <div class="text_area">
            <div class="text_content">
              <p class="body-text-jumbo">
                Section 4 oin the best and brightest minds in data streaming at
                Current Bengaluru. we’re bringing the experts together and
                getting to the heart of all this innovation—data streaming. Come
                ready to learn everything you need to know about bringing
                real-time streaming and generative AI use cases to life. You’ll
                hear how tech leaders, industry giants, and startups are taking
                their organizations to the next level with Apache Kafka<sup
                  >®</sup
                >
                and Apache Flink<sup>®</sup>.
              </p>
              <p class="body-text-jumbo">
                <strong>It all happens here. Only at Current.</strong>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section section-height="jumbo" class="basic_content--section">
        <div
          alignment="left"
          column-span="intro"
          class="basic_content--row row"
        >
          <div class="text_area">
            <div class="text_content">
              <p class="body-text-jumbo">
                Section 5 Join the best and brightest minds in data streaming at
                Current Bengaluru. we’re bringing the experts together and
                getting to the heart of all this innovation—data streaming. Come
                ready to learn everything you need to know about bringing
                real-time streaming and generative AI use cases to life. You’ll
                hear how tech leaders, industry giants, and startups are taking
                their organizations to the next level with Apache Kafka<sup
                  >®</sup
                >
                and Apache Flink<sup>®</sup>.
              </p>
              <p class="body-text-jumbo">
                <strong>It all happens here. Only at Current.</strong>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="../../../js/scroll-effects.js"></script>
  </body>
</html>
