@use "sass:color";
@use "../../../globals/abstracts" as *;

// Full Image
//Full Bleed image with text on top of it
// Visual:
// Dependancy:

/*css/blocks/full_image/css/index.scss*/

//Attributres

.hero_image--,
.image_hero-- {
	&section {
		clip-path: inset(0% 0% 0% 0%);
		position: relative;

		.background_area {
			@include cover_obj;
			height: 50%;
			bottom: auto;
			background-color: var(--theme--accent);
			transition: 1s background-color;
			body:has(header[scrolled="true"]) & {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}
	&media_area {
		grid-column: 1/-1;
		position: relative;
		overflow: clip;
		padding: 0 var(--obj_padding-large) var(--obj_padding-large) var(--obj_padding-large);
		@include fluid_size(height, 320px, 560px);
		img {
			@include cover_obj;
			clip-path: inset(0% 0% 0% 0%);
		}
		.media_content {
			@include t-center;
			background-color: $blue-900;
			scale: 1.25;
			position: relative;
			height: 100%;
			width: 100%;
			overflow: clip;
			--_clip: 10%;
			clip-path: inset(var(--_clip) var(--_clip) round var(--corner-60, 60 * $rem) 0);
		}
	}
}
