@use "sass:color";
@use "../../../globals/abstracts" as *;

// Full Image
//Full Bleed image with text on top of it
// Visual:
// Dependancy:

/*css/blocks/full_image/css/index.scss*/

//Attributres

.hero_image--,
.image_hero {
	&section {
		padding-block: var(--section_padding);
	}
	&media_area {
		grid-column: 2/-2;
		position: relative;
		border-radius: var(--corner-12, 0.75rem);
		overflow: clip;
		@include fluid_size(height, 300px, 420px);
		img {
			@include cover_obj;
		}
	}
}
