<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" large bold="viewport" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Components - Inline Alert</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
		/>
		<link rel="stylesheet" href="../../globals/_index.css" />
		<link rel="stylesheet" href="../../atoms/index.css" />
		<link rel="stylesheet" href="../index.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<main class="">
			<componentGrid color-theme="indoor">
				<div class="inline_alert">
					<!-- <i class="alert_icon">i</i> -->
					<div class="alert_icon"></div>
					<div class="text_area">
						<div class="text_content">
							<p>
								Looking for Teammates? Check out our free agent sheet and add yourself or find some
								teammates
							</p>
						</div>
					</div>
				</div>
			</componentGrid>
		</main>
	</body>
</html>
