/*css/globals/units.scss*/
:root {
 --section_padding-micro: clamp(0rem, 0vw + 0rem, 0rem);
 --section_padding-xsmall: clamp(0.5rem, 0.75vw + 0.325rem, 1rem);
 --section_padding-small: clamp(2rem, 1.5vw + 1.65rem, 3rem);
 --section_padding-medium: clamp(3rem, 1.5vw + 2.65rem, 4rem);
 --section_padding-large: clamp(4.5rem, 2.25vw + 3.96875rem, 6rem);
 --section_padding-xlarge: clamp(5.375rem, 2.07vw + 4.89375rem, 6.75rem);
 --section_padding-jumbo: clamp(7.5rem, 3.76vw + 6.61875rem, 10rem);
 --section_padding: var(--section_padding-medium);
 --obj_padding-micro: clamp(0.75rem, 0vw + 0.75rem, 0.75rem);
 --obj_padding-xsmall: clamp(1rem, 0vw + 1rem, 1rem);
 --obj_padding-small: clamp(1.25rem, 0.38vw + 1.1625rem, 1.5rem);
 --obj_padding-medium: clamp(1.5rem, 0.38vw + 1.4125rem, 1.75rem);
 --obj_padding-large: clamp(1.75rem, 0.38vw + 1.6625rem, 2rem);
 --obj_padding-xlarge: clamp(2rem, 0.75vw + 1.825rem, 2.5rem);
 --obj_padding-jumbo: clamp(2.5rem, 1.88vw + 2.0625rem, 3.75rem);
 --obj_padding: var(--obj_padding-medium);
 --space_between-micro: clamp(0.25rem, 0vw + 0.25rem, 0.25rem);
 --space_between-xsmall: clamp(0.5rem, 0.38vw + 0.4125rem, 0.75rem);
 --space_between-small: clamp(0.75rem, 0.38vw + 0.6625rem, 1rem);
 --space_between-medium: clamp(1rem, 0.75vw + 0.825rem, 1.5rem);
 --space_between-large: clamp(1.5rem, 0.75vw + 1.325rem, 2rem);
 --space_between-xlarge: clamp(2rem, 1.5vw + 1.65rem, 3rem);
 --space_between-jumbo: clamp(3rem, 1.5vw + 2.65rem, 4rem);
 --space_between: var(--space_between-medium);
 --gutter: clamp(0.75rem, 1.5vw + 0.4rem, 1.75rem);
 --corner-60: clamp(3rem, 1.13vw + 2.7375rem, 3.75rem);
 --corner-40: clamp(2rem, 0.75vw + 1.825rem, 2.5rem);
 --corner-20: clamp(1rem, 0.38vw + 0.9125rem, 1.25rem);
 --corner-16: clamp(0.75rem, 0.38vw + 0.6625rem, 1rem);
 --corner-12: clamp(0.5rem, 0.38vw + 0.4125rem, 0.75rem);
 --corner-10: clamp(0.375rem, 0.38vw + 0.2875rem, 0.625rem);
 --corner-8: clamp(0.25rem, 0.38vw + 0.1625rem, 0.5rem);
 --corner-4: clamp(0.125rem, 0.19vw + 0.08125rem, 0.25rem);
}

[space-between=micro] {
 gap: var(--space_between-micro);
}

[space-between=xsmall] {
 gap: var(--space_between-xsmall);
}

[space-between=small] {
 gap: var(--space_between-small);
}

[space-between=medium] {
 gap: var(--space_between-medium);
}

[space-between=large] {
 gap: var(--space_between-large);
}

[space-between=xlarge] {
 gap: var(--space_between-xlarge);
}

[space-between=jumbo] {
 gap: var(--space_between-jumbo);
}

[object-padding=micro] {
 padding: var(--obj_padding-micro);
}

[object-padding=xsmall] {
 padding: var(--obj_padding-xsmall);
}

[object-padding=small] {
 padding: var(--obj_padding-small);
}

[object-padding=medium] {
 padding: var(--obj_padding-medium);
}

[object-padding=large] {
 padding: var(--obj_padding-large);
}

[object-padding=xlarge] {
 padding: var(--obj_padding-xlarge);
}

[object-padding=jumbo] {
 padding: var(--obj_padding-jumbo);
}

[section-height=micro] {
 padding-block: var(--section_padding-micro);
}

[section-height=xsmall] {
 padding-block: var(--section_padding-xsmall);
}

[section-height=small] {
 padding-block: var(--section_padding-small);
}

[section-height=medium] {
 padding-block: var(--section_padding-medium);
}

[section-height=large] {
 padding-block: var(--section_padding-large);
}

[section-height=xlarge] {
 padding-block: var(--section_padding-xlarge);
}

[section-height=jumbo] {
 padding-block: var(--section_padding-jumbo);
}

section[section-height=minimum] {
 padding-block: 0;
}

[text-color=green] {
 color: var(--green);
}

[text-color=blue] {
 color: var(--blue);
}

[text-color=crimson] {
 color: var(--crimson);
}

[text-color=yellow] {
 color: var(--yellow);
}

[text-color=accent] {
 color: var(--theme--accent);
}

[text-color="accent 100"] {
 color: var(--theme--accent-100);
}

[text-color="accent 200"] {
 color: var(--theme--accent-200);
}

[text-color="accent 300"] {
 color: var(--theme--accent-300);
}

[text-color="accent 400"] {
 color: var(--theme--accent-400);
}

[text-color="accent 500"] {
 color: var(--theme--accent-500);
}

[text-color="accent 600"] {
 color: var(--theme--accent-600);
}

[text-color="accent 700"] {
 color: var(--theme--accent-700);
}

[text-color="accent 800"] {
 color: var(--theme--accent-800);
}

[text-color="accent 900"] {
 color: var(--theme--accent-900);
}

[text-color=secondary] {
 color: var(--theme--secondary_text);
}

[text-color=primary] {
 color: var(--theme--primary_text);
}

[text-color=border] {
 color: var(--theme--border);
}

[text-color=soft] {
 color: var(--theme--soft_color);
}

[text-color=background] {
 color: var(--theme--background);
}

[text-color=background-em] {
 color: var(--theme--background-em);
}