<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" large bold="viewport" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>Components - Cards</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
		/>
		<link rel="stylesheet" href="../../globals/_index.css" />
		<link rel="stylesheet" href="../../atoms/index.css" />
		<link rel="stylesheet" href="../index.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<main class="">
			<componentGrid>
				<div class="toggle_content">
					<div class="headline-row">
						<h3>Lorem ipsum dolor</h3>
						<div class="tab-container">
							<button class="tab">Indoor</button>
							<button class="tab">Grass</button>
							<div class="tab-indicator"></div>
						</div>
					</div>

					<div class="toggle_content-content" initial>
						<article>
							<div class="text_area">
								<div class="text_content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quasi
										corporis voluptatibus earum. Blanditiis nostrum quam voluptatibus, non,
										voluptate laborum, quo ipsum assumenda voluptatem quis dolor ducimus architecto
										quasi est.
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="toggle_content-content">
						<article>
							<div class="text_area">
								<div class="text_content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quasi
										corporis voluptatibus earum. Blanditiis nostrum quam voluptatibus, non,
										voluptate laborum, quo ipsum assumenda voluptatem quis dolor ducimus architecto
										quasi est.
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</componentGrid>
		</main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../../../js/toggle.js"></script>
	</body>
</html>
