/*css/blocks/basic_content/css/index.scss*/
.basic_content--section {
   row-gap: 2rem;
   padding-block: var(--section_padding);
   position: relative;
}
.basic_content--row {
   position: relative;
   display: grid;
   grid-template-columns: 1fr;
}
.basic_content--row[column-span=intro] {
   --columns: 9;
}
@media (max-width: 991px) {
   .basic_content--row[column-span=intro] {
      --columns: 12;
   }
}

/*css/blocks/grid_content/css/index.scss*/
.basic_hero--section {
   padding-block: var(--section_padding);
}
.basic_hero--row {
   grid-column: 4/-4;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   gap: var(--gutter);
}
@media (max-width: 991px) {
   .basic_hero--row {
      grid-column: 3/-3;
   }
}
@media (max-width: 767px) {
   .basic_hero--row {
      grid-column: 2/-2;
   }
}
.basic_hero--text_area {
   color: #faf9e9;
   width: 100%;
}
.basic_hero--text_area .text_content {
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 2rem;
}
.basic_hero--text_area .text_content .subhead {
   display: flex;
   gap: 1em;
   color: var(--theme--secondary_text);
   font-weight: 500;
   font-size: var(--text--size-body);
   line-height: 1.45;
   font-family: "Raleway", sans-serif;
   font-size: var(--text--size-body-jumbo);
   align-items: stretch;
}
.basic_hero--text_area .text_content .subhead a {
   font-weight: 650;
   color: var(--color--theme--emphasis_text);
   text-decoration: none;
   white-space: no-wrap;
   display: inline-block;
   position: relative;
}
.basic_hero--text_area .text_content .subhead a::after {
   display: block;
   content: "";
   position: absolute;
   width: 0%;
   height: 0.125em;
   border-bottom: 0.125em solid currentColor;
   bottom: -0.125em;
   transition: 0.3s all;
}
.basic_hero--text_area .text_content .subhead a:hover::after {
   width: 100%;
}
.basic_hero--text_area .text_content .subhead .vertical-divider {
   width: 2px;
   background-color: currentColor;
}

.ks-intro_lockup {
   width: 100%;
}
.ks-intro_lockup h1 {
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: var(--text--size-h4);
   line-height: 1.25;
   font-family: "Raleway", sans-serif;
   letter-spacing: 0em;
   text-transform: none;
   text-transform: uppercase;
   letter-spacing: 0.14em;
}
.ks-intro_lockup svg {
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: var(--text--size-h4);
   line-height: 1.25;
   font-family: "Raleway", sans-serif;
   letter-spacing: 0em;
   text-transform: none;
   max-width: 18.5185185185em;
   width: 100%;
   margin-top: 1em;
}

.tdse-lockup {
   width: 100%;
   --_scale: clamp(0.875rem, 1.5vw + 0.525rem, 1.875rem);
}
.tdse-lockup h1 {
   font-size: calc(1.1 * var(--_scale));
   margin-top: 0.5em;
}
.tdse-lockup svg {
   width: calc(20 * var(--_scale));
   max-width: 100%;
}

/*css/blocks/bento_grid/css/index.scss*/
.bento_grid--section {
   gap: var(--space_between);
   padding-block: var(--section_padding);
}
.bento_grid--section[space-between=mini] {
   gap: var(--space_between-mini);
}
.bento_grid--section[space-between=small] {
   gap: var(--space_between-small);
}
.bento_grid--section[space-between=medium] {
   gap: var(--space_between-medium);
}
.bento_grid--section[space-between=large] {
   gap: var(--space_between-large);
}
.bento_grid--section[space-between=jumbo] {
   gap: var(--space_between-jumbo);
}
.bento_grid--row {
   display: grid;
   gap: var(--space_between);
}
.bento_grid--row[space-between=mini] {
   gap: var(--space_between-mini);
}
.bento_grid--row[space-between=small] {
   gap: var(--space_between-small);
}
.bento_grid--row[space-between=medium] {
   gap: var(--space_between-medium);
}
.bento_grid--row[space-between=large] {
   gap: var(--space_between-large);
}
.bento_grid--row[space-between=jumbo] {
   gap: var(--space_between-jumbo);
}
.bento_grid--row[bento-layout="1"] {
   grid-template-columns: 5fr 7fr;
}
@media (max-width: 991px) {
   .bento_grid--row[bento-layout="1"] {
      grid-template-columns: 6fr 6fr;
   }
}
@media (max-width: 767px) {
   .bento_grid--row[bento-layout="1"] {
      grid-template-columns: 1fr;
   }
}
.bento_grid--row[bento-layout="2"] {
   grid-template-columns: 7fr 5fr;
}
@media (max-width: 991px) {
   .bento_grid--row[bento-layout="2"] {
      grid-template-columns: 6fr 6fr;
   }
}
@media (max-width: 767px) {
   .bento_grid--row[bento-layout="2"] {
      grid-template-columns: 1fr;
   }
}
.bento_grid--row[bento-layout="3"] {
   grid-template-columns: 6fr 6fr;
}
@media (max-width: 767px) {
   .bento_grid--row[bento-layout="3"] {
      grid-template-columns: 1fr;
   }
}
.bento_grid--row[bento-layout="4"] {
   grid-template-columns: 1;
}
.bento_grid--row[bento-layout="5"] {
   grid-template-columns: 4fr 8fr;
}
@media (max-width: 991px) {
   .bento_grid--row[bento-layout="5"] {
      grid-template-columns: 5fr 7fr;
   }
}
@media (max-width: 767px) {
   .bento_grid--row[bento-layout="5"] {
      grid-template-columns: 1fr;
   }
}
.bento_grid--row[bento-layout="6"] {
   grid-template-columns: 8fr 4fr;
}
@media (max-width: 991px) {
   .bento_grid--row[bento-layout="6"] {
      grid-template-columns: 7fr 5fr;
   }
}
@media (max-width: 767px) {
   .bento_grid--row[bento-layout="6"] {
      grid-template-columns: 1fr;
   }
}
@media (max-width: 767px) {
   .bento_grid--row .media_area {
      grid-row: 1;
   }
}
.bento_grid--row .media_area img,
.bento_grid--row .media_area video,
.bento_grid--row .media_area svg {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
@media (max-width: 767px) {
   .bento_grid--row .media_area img,
.bento_grid--row .media_area video,
.bento_grid--row .media_area svg {
      position: relative;
      height: auto;
   }
}

/*css/blocks/basic_content/css/index.scss*/
.event_schedule--section {
   box-sizing: border-box;
   display: grid;
   grid-template-columns: var(--page_grid);
   gap: var(--gutter);
   padding: 0;
   background-color: transparent;
   padding-block: var(--section_padding);
   position: relative;
}
.event_schedule--aside {
   grid-column: 2/span 3;
   padding-right: var(--gutter);
}
@media (max-width: 991px) {
   .event_schedule--aside {
      grid-column: 2/-2;
   }
}
.event_schedule--filters {
   position: sticky;
   top: 5rem;
}
.event_schedule--content {
   grid-column: span 9/-2;
   --columns: 9;
}
.event_schedule--content .content_grid {
   --_base_size: 51.875rem;
}
@media (max-width: 991px) {
   .event_schedule--content {
      grid-column: 2/-2;
   }
}
.event_schedule--search {
   grid-column: span 9/-2;
   --columns: 9;
}
.event_schedule--search .content_grid {
   --_base_size: 51.875rem;
}
@media (max-width: 991px) {
   .event_schedule--search {
      grid-column: 2/-2;
   }
}

.event_filter-list {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.event_filter-item label {
   display: block;
   padding: 0.375rem;
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: var(--text--size-h6);
   line-height: 1.25;
   font-family: "Raleway", sans-serif;
   text-transform: none;
   letter-spacing: 0em;
   font-size: 1.125rem;
   transition: 0.3s all;
   margin: 0;
   position: relative;
}
.event_filter-item label::after {
   display: block;
   content: "";
   background-color: currentColor;
   width: 0;
   height: 1px;
   top: 100%;
   left: 0;
   transition: 0.3s all;
   position: absolute;
}
.event_filter-item label:hover, .event_filter-item label:focus-visible {
   background: rgba(250, 249, 233, 0.2);
}
.event_filter-item label:hover::after, .event_filter-item label:focus-visible::after {
   width: 100%;
}
.event_filter-item .w-form-label {
   transition: 0.3s all;
   font-weight: 500;
}
.event_filter-item input {
   display: none;
}
.event_filter-item:has(:checked) label::after {
   width: 100%;
   height: 2px;
}
.event_filter-item:has(:checked) .w-form-label {
   font-weight: 700;
}

/*css/blocks/grid_content/css/index.scss*/
.film_strip--section {
   padding-block: var(--section_padding);
   --number-of-items: 4;
}
.film_strip--section:has(.film_strip--item:nth-child(1)) {
   --number-of-items: 1;
}
.film_strip--section:has(.film_strip--item:nth-child(2)) {
   --number-of-items: 2;
}
.film_strip--section:has(.film_strip--item:nth-child(3)) {
   --number-of-items: 3;
}
.film_strip--section:has(.film_strip--item:nth-child(4)) {
   --number-of-items: 4;
}
.film_strip--section:has(.film_strip--item:nth-child(5)) {
   --number-of-items: 5;
}
.film_strip--section:has(.film_strip--item:nth-child(6)) {
   --number-of-items: 6;
}
.film_strip--section:has(.film_strip--item:nth-child(7)) {
   --number-of-items: 7;
}
.film_strip--section:has(.film_strip--item:nth-child(8)) {
   --number-of-items: 8;
}
.film_strip--section:has(.film_strip--item:nth-child(9)) {
   --number-of-items: 9;
}
.film_strip--section:has(.film_strip--item:nth-child(10)) {
   --number-of-items: 10;
}
.film_strip--section:has(.film_strip--item:nth-child(11)) {
   --number-of-items: 11;
}
.film_strip--section:has(.film_strip--item:nth-child(12)) {
   --number-of-items: 12;
}
.film_strip--section:has(.film_strip--item:nth-child(13)) {
   --number-of-items: 13;
}
.film_strip--section:has(.film_strip--item:nth-child(14)) {
   --number-of-items: 14;
}
.film_strip--section:has(.film_strip--item:nth-child(15)) {
   --number-of-items: 15;
}
.film_strip--section:has(.film_strip--item:nth-child(16)) {
   --number-of-items: 16;
}
.film_strip--section:has(.film_strip--item:nth-child(17)) {
   --number-of-items: 17;
}
.film_strip--section:has(.film_strip--item:nth-child(18)) {
   --number-of-items: 18;
}
.film_strip--section:has(.film_strip--item:nth-child(19)) {
   --number-of-items: 19;
}
.film_strip--section:has(.film_strip--item:nth-child(20)) {
   --number-of-items: 20;
}
.film_strip--intro_text {
   --columns: 12;
   --start: calc((16 - var(--columns)) / 2);
   grid-column: var(--start)/span var(--columns);
}
.film_strip--intro_text[column-span=inset] {
   --columns: 10;
}
@media (max-width: 991px) {
   .film_strip--intro_text[column-span=inset] {
      --columns: 12;
   }
}
.film_strip--intro_text[column-span=narrow] {
   --columns: 8;
}
@media (max-width: 991px) {
   .film_strip--intro_text[column-span=narrow] {
      --columns: 10;
   }
}
@media (max-width: 767px) {
   .film_strip--intro_text[column-span=narrow] {
      --columns: 12;
   }
}
.film_strip--intro_text[column-span=full-page] {
   --columns: 14;
}
.film_strip--intro_text[alignment=left] {
   grid-column: 2/span var(--columns);
}
.film_strip--intro_text[alignment=right] {
   grid-column: span var(--columns)/-2;
}
.film_strip--intro_text[alignment=center] {
   grid-column: var(--start)/span var(--columns);
}
.film_strip--row {
   grid-column: 1/-1;
   overflow: clip;
   display: flex;
}
.film_strip--row[fade=left] {
   -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 15%, #000 100%);
           mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 15%, #000 100%);
}
.film_strip--row[fade=right] {
   -webkit-mask-image: linear-gradient(90deg, #000 0%, #000 85%, rgba(0, 0, 0, 0) 100%);
           mask-image: linear-gradient(90deg, #000 0%, #000 85%, rgba(0, 0, 0, 0) 100%);
}
.film_strip--row[fade=both] {
   -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 15%, #000 85%, rgba(0, 0, 0, 0) 100%);
           mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 15%, #000 85%, rgba(0, 0, 0, 0) 100%);
}
.film_strip--row:is(a) {
   position: relative;
}
.film_strip--row:is(a) .film_strip--wrapper {
   transition: 0.5s opacity;
}
.film_strip--row:is(a) .c25-button {
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   opacity: 0;
   translate: -50% -40%;
   transition: 0.5s opacity, 0.5s translate;
}
.film_strip--row:is(a):hover .c25-button {
   opacity: 1;
   translate: -50% -50%;
}
.film_strip--row:is(a):hover .film_strip--wrapper {
   opacity: 0.3;
}
.film_strip--wrapper {
   animation: filmStripLeft calc(var(--number-of-items) * 6s) linear infinite;
   display: flex;
}
.film_strip--wrapper[direction=right] {
   animation-name: filmStripRight;
}
.film_strip--wrapper[media-type=logos] {
   animation-duration: calc(var(--number-of-items) * 1s);
}
.film_strip--list {
   padding: 0;
   display: flex;
   list-style-type: none;
   margin: 0;
   flex: 0 0 auto;
}
.film_strip--item {
   padding-inline: calc(var(--space_between) / 2);
   flex: 0 0 auto;
}
.film_strip--item img {
   -o-object-fit: cover;
      object-fit: cover;
   height: 18.75rem;
   aspect-ratio: 16/9;
}
[media-type=logos] .film_strip--item img {
   -o-object-fit: contain;
      object-fit: contain;
   height: 5rem;
   width: auto;
}
.film_strip--call_to_action {
   grid-column: 6/span 7;
}

@keyframes filmStripLeft {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-50%);
   }
}
@keyframes filmStripRight {
   0% {
      transform: translateX(-50%);
   }
   100% {
      transform: translateX(0%);
   }
}
/*css/blocks/footer/css/index.scss*/
footer {
   padding: var(--obj_padding-large);
   background-color: #b4352c;
   font-family: "Raleway", sans-serif;
   display: flex;
   flex-direction: column;
   gap: 1.75rem;
}

.footer--content {
   display: flex;
   justify-content: space-between;
   gap: 2rem;
}
@media (max-width: 991px) {
   .footer--content {
      flex-direction: column-reverse;
   }
}
.footer--title {
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: var(--text--size-h1);
   line-height: 1.15;
   font-family: "Raleway", sans-serif;
   letter-spacing: 0.14em;
   text-transform: uppercase;
   color: #faf9e9;
   font-size: clamp(3rem, 3.12vw + 1.06875rem, 3.875rem);
   margin-bottom: 0.25em;
   margin-top: 8.125rem;
}
@media (max-width: 991px) {
   .footer--title {
      font-size: clamp(1.75rem, 4.47vw + 0.98125rem, 3.75rem);
      margin-top: 0;
   }
}
.footer--tagline {
   color: #faf9e9;
   font-family: "Raleway", sans-serif;
   font-size: 0.625rem;
   font-style: normal;
   font-weight: 700;
   line-height: 105%;
   letter-spacing: 0.16263rem;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   gap: 0.75rem;
}
.footer--nav {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 1.125rem;
}
@media (max-width: 991px) {
   .footer--nav {
      align-items: flex-start;
   }
}
.footer--event_name {
   padding-block: 0.75rem;
   padding-inline: 1.25rem;
   background-color: #faf9e9;
   color: #b4352c;
   text-decoration: none;
}
.footer--event_name svg {
   height: 1.5rem;
   display: block;
}
.footer--event_name svg path {
   fill: currentColor;
}
.footer--nav-list {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-start;
   gap: 0.125rem;
}
@media (max-width: 991px) {
   .footer--nav-list {
      align-items: flex-start;
   }
}
.footer--nav-item {
   padding-block: 0.5rem;
   padding-inline: 0.875rem;
   color: #faf9e9;
   display: inline-block;
   text-decoration: none;
   transition: 0.3s all;
}
.footer--nav-item:hover {
   background: rgba(250, 249, 233, 0.8);
   color: #b4352c;
}
.footer--legal {
   border-top: 0.0625rem solid #faf9e9;
   padding-top: 0.75rem;
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}
.footer--legal-links {
   display: flex;
   flex-wrap: wrap;
   gap: var(--gutter);
}
.footer--legal-links a {
   color: var(--theme--secondary_text);
   font-weight: 500;
   font-size: var(--text--size-body);
   line-height: 1.45;
   font-family: "Raleway", sans-serif;
   color: #faf9e9;
   font-size: 0.875rem;
   text-decoration: none;
}
.footer--legal-links a a {
   font-weight: 650;
   color: var(--color--theme--emphasis_text);
   text-decoration: none;
   white-space: no-wrap;
   display: inline-block;
   position: relative;
}
.footer--legal-links a a::after {
   display: block;
   content: "";
   position: absolute;
   width: 0%;
   height: 0.125em;
   border-bottom: 0.125em solid currentColor;
   bottom: -0.125em;
   transition: 0.3s all;
}
.footer--legal-links a a:hover::after {
   width: 100%;
}
.footer--legal-links a:hover {
   text-decoration: underline;
}
.footer--copyright {
   color: var(--theme--secondary_text);
   font-weight: 500;
   font-size: var(--text--size-body);
   line-height: 1.45;
   font-family: "Raleway", sans-serif;
   font-size: 0.8125rem;
   color: #deab9d;
}
.footer--copyright a {
   font-weight: 650;
   color: var(--color--theme--emphasis_text);
   text-decoration: none;
   white-space: no-wrap;
   display: inline-block;
   position: relative;
}
.footer--copyright a::after {
   display: block;
   content: "";
   position: absolute;
   width: 0%;
   height: 0.125em;
   border-bottom: 0.125em solid currentColor;
   bottom: -0.125em;
   transition: 0.3s all;
}
.footer--copyright a:hover::after {
   width: 100%;
}

/*css/blocks/grid_content/css/index.scss*/
main {
   padding-top: 3.75rem;
}

body {
   background: #339499;
}

header {
   position: fixed;
   inset: 0 0 auto 0;
   padding-inline: var(--page_margin);
   z-index: 700;
   font-family: "Raleway", sans-serif;
}
header::after {
   display: block;
   content: "";
   transition: 1s opacity;
   position: absolute;
   height: 15vh;
   min-height: 6.25rem;
   inset: 0 0 auto 0;
   background: linear-gradient(0deg, rgba(14, 60, 98, 0) 0%, #0e3c62 80%);
   opacity: 0.5;
   z-index: -1;
   mix-blend-mode: multiply;
   pointer-events: none;
}
header:hover::after {
   opacity: 0.8;
}
header .w-nav {
   padding-block: var(--obj_padding-small);
   display: flex;
   gap: var(--space_between);
   align-items: center;
   background: transparent;
   position: static;
}
header .w-nav::before, header .w-nav::after {
   display: none;
}

.nav--branding {
   width: 12.5rem;
   flex-grow: 1;
   min-width: 10rem;
}
.nav--branding-link {
   display: block;
   width: 100%;
   max-width: clamp(12.5rem, 7.51vw + 10.7375rem, 17.5rem);
}
.nav--logo svg {
   width: 100%;
   height: clamp(1.25rem, 0.75vw + 1.075rem, 1.75rem);
}
.nav--actions {
   flex-grow: 0;
   display: flex;
   gap: var(--space_between-small);
   align-items: center;
}
.w-nav-overlay .nav--actions {
   flex-direction: column;
   justify-content: space-between;
   background: #0e3c62;
   box-shadow: -13px 0px 80px 0px rgba(0, 0, 0, 0.5);
}
.nav--list {
   display: flex;
   gap: var(--space_between-small);
   align-items: center;
}
.w-nav-overlay .nav--list {
   flex-direction: column;
   align-items: flex-start;
   padding: 1.5rem;
   min-width: clamp(18.75rem, 29.22vw + 11.9rem, 30rem);
   max-width: 90svw;
   height: 100svh;
}
.nav--item {
   position: relative;
}
.w-nav-overlay .nav--item {
   width: 100%;
}
.nav--link {
   position: relative;
   color: #faf9e9;
   font-size: clamp(0.75rem, 0.89vw + 0.2rem, 1rem);
   padding: 0.7142857143em 0.2857142857em;
   font-weight: 500;
   text-decoration: none;
   transition: 0.45s font-variation-settings, 0.45s color;
   font-variation-settings: "wght" 500;
}
.nav--link::before {
   display: block;
   content: "";
   position: absolute;
   width: 0;
   top: 100%;
   left: 0;
   height: 0.0625rem;
   background-color: currentColor;
   transition: 0.45s width, 0.45s color;
}
.nav--link.w--current {
   color: #fdfdf5;
   font-variation-settings: "wght" 700;
}
.nav--link.w--current::before {
   width: 100%;
   height: 0.125rem;
}
.nav--link:hover {
   font-variation-settings: "wght" 600;
}
.nav--link:hover::before {
   width: 100%;
}
.w-nav-overlay .nav--link {
   font-size: clamp(1.1875rem, 0.81vw + 1rem, 1.5rem);
}
.w-nav-overlay .nav--link::before {
   width: 100%;
}
.nav--dropdown .nav--link {
   background-color: transparent;
   border: 0;
   display: flex;
   gap: 0.5rem;
   align-items: center;
}
.nav--dropdown .nav--link::after {
   display: block;
   content: "";
   width: 0;
   height: 0;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-top: 5px solid currentColor;
   transition: 0.3s rotate;
}
.w-nav-overlay .nav--dropdown .nav--link {
   font-size: 0.875rem;
   margin-top: 1rem;
}
.w-nav-overlay .nav--dropdown .nav--link::after {
   display: none;
}
.nav--dropdown.open .nav--link::after {
   rotate: 180deg;
}

.dropdown--container {
   position: absolute;
   top: calc(100% + 0.25rem);
   width: 240px;
   background-color: #339499;
   box-shadow: var(--indigo-shadow);
   height: 0;
   overflow: clip;
   transition: content-visibility 0.5s allow-discrete, height 0.5s;
}
@media (prefers-reduced-motion: no-preference) {
   .dropdown--container {
      interpolate-size: allow-keywords;
   }
}
.open .dropdown--container {
   height: auto;
}
.w-nav-overlay .dropdown--container {
   position: static;
   width: 100%;
   background-color: transparent;
   box-shadow: none;
   height: auto;
}
.dropdown--list {
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
   padding: var(--obj_padding-small);
   align-items: flex-start;
}
.w-nav-overlay .dropdown--list {
   padding: 0;
   gap: 0.5rem;
}
.dropdown--link {
   font-size: 0.9375rem;
   font-variation-settings: "wght" 600;
   color: #faf9e9;
   text-decoration: none;
   padding: 0.5em 0.75em;
   border: 0.0625rem solid transparent;
   display: block;
   transition: 0.3s border 0.3s background;
   font-size: 1rem;
}
.dropdown--link:hover {
   border: 0.0625rem solid #faf9e9;
   background-color: rgba(250, 249, 233, 0.1);
}
.dropdown--link svg {
   width: auto;
   height: 1em;
   display: block;
}
.dropdown--link svg path {
   fill: currentColor;
}
.w-nav-overlay .dropdown--link {
   text-align: left;
   background-color: rgba(250, 249, 233, 0.1);
   font-size: clamp(1.1875rem, 0.81vw + 1rem, 1.5rem);
   width: 100%;
}
[event=bengaluru] .dropdown--link[event=bengaluru], [event=london] .dropdown--link[event=london], [event=new-orleans] .dropdown--link[event=new-orleans] {
   background: #faf9e9;
   color: #0e3c62;
}
.dropdown--link:not([event]) {
   font-size: 1rem;
}

.w-nav-overlay .c25-button {
   margin-top: auto;
   width: 100%;
   font-size: 1.125rem;
}
.w-nav-overlay .c25-button .button-text {
   width: 100%;
}
.w-nav-overlay .side-button {
   padding: 0;
   background-color: transparent;
}

/*css/blocks/grid_content/css/index.scss*/
.image_aside--section {
   padding-block: var(--section_padding);
}
.image_aside--text_area {
   grid-column: 2/-2;
}
.image_aside--row {
   grid-column: 2/-2;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-auto-flow: dense;
   gap: inherit;
}
@media (max-width: 991px) {
   .image_aside--row {
      grid-template-columns: 1fr;
   }
}
.image_aside--main_content {
   grid-column: 1;
   display: flex;
   flex-direction: column;
   gap: var(--obj_padding);
}
.image_aside--media_area {
   grid-column: 2;
}
@media (max-width: 991px) {
   .image_aside--media_area {
      grid-column: auto;
   }
}
.image_aside--media_area .media_content {
   position: relative;
   display: flex;
   gap: var(--gutter);
}
.image_aside--media_area .media_content img {
   width: 100%;
   flex-grow: 1;
   flex-shrink: 1;
   aspect-ratio: 5/6;
   position: absolute;
   min-width: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
@media (max-width: 991px) {
   .image_aside--media_area .media_content img {
      position: relative;
   }
}
@media (max-width: 576px) {
   .image_aside--media_area .media_content img:nth-child(n+3) {
      display: none;
   }
}

/*css/blocks/basic_content/css/index.scss*/
.pre_footer--section {
   --theme--background: rgba(255, 255, 255, 0.15);
   --theme--primary_text: #faf9e9;
   --theme--secondary_text: #faf9e9;
   --theme--emphasis_text: #f6fcfe;
   --theme--contrast: #fff;
   --theme--background-active: #faf9e9;
   --theme--primary_text-active: #339499;
   --theme--secondary_text-active: #007e99;
   --theme--emphasis_text-active: #126587;
   --theme--contrast-active: #0e3c62;
}
.pre_footer--section .background_area {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
   height: 150%;
   top: auto;
   background-image: url("../../../../media/placeholder-16x9.png");
   background-position: top;
}
.pre_footer--row {
   grid-column: 2/-2;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-block: var(--section_padding-jumbo);
}
.pre_footer--link {
   max-width: 40rem;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   box-sizing: border-box;
   box-shadow: 0px 0.75em 1em -0.25em rgba(14, 60, 98, 0.2);
   transition: 0.5s box-shadow;
   text-decoration: none;
   background: var(--glass-fill, rgba(255, 255, 255, 0.05));
   background-blend-mode: normal, normal, overlay;
   -webkit-backdrop-filter: blur(0.75rem);
           backdrop-filter: blur(0.75rem);
   color: #faf9e9;
}
.pre_footer--link:hover {
   box-shadow: 0px 0.75em 2em -0.25em rgba(14, 60, 98, 0.5);
}
.pre_footer--link::after {
   display: block;
   content: "";
   background-color: #faf9e9;
   height: 100%;
   left: 0;
   top: 0;
   bottom: 0;
   width: 0;
   position: absolute;
   transition: 0.4s all;
   background-color: rgba(255, 255, 255, 0.05);
   mix-blend-mode: overlay;
}
.pre_footer--link:hover:after {
   width: 100%;
   transition: 0.4s 0.2s all;
}
.pre_footer--text_area {
   padding: var(--obj_padding);
   gap: var(--space_between-large);
   justify-content: space-between;
   flex-basis: 20.9375rem;
   flex-grow: 1;
}
.pre_footer--text_area .text_content {
   position: relative;
}
.pre_footer--button {
   background-color: #faf9e9;
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: clamp(1rem, 0.19vw + 0.95625rem, 1.125rem);
   line-height: 1.15;
   font-family: "Raleway", sans-serif;
   letter-spacing: 0.08em;
   text-transform: uppercase;
   font-size: 1.125rem;
   padding: 0.5rem;
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   color: #d84822;
}
.pre_footer--button-text {
   position: relative;
   transition: 0.25s color;
}
.pre_footer--button > div {
   position: relative;
}
a:hover .pre_footer--button {
   color: #f2612c;
   transition: 0.25s color;
}
.pre_footer--button .arrow svg {
   height: 0.625em;
   width: auto;
   margin-bottom: 1px;
   margin-left: 0;
   opacity: 0;
   transition: 0.3s 0.1s all;
   position: absolute;
   left: 100%;
   top: 50%;
   translate: 0 -65%;
}
a:hover .pre_footer--button .arrow svg {
   margin-left: 0.5em;
   opacity: 1;
   transition: 0.3s all;
}
.pre_footer--button .arrow svg path {
   stroke-width: 2;
   stroke: currentColor;
}

/*css/blocks/sponsor_grid/css/index.scss*/
.sponsor_grid--section {
   padding-block: var(--section_padding);
   --theme--background: rgba(255, 255, 255, 0.15);
   --theme--primary_text: #faf9e9;
   --theme--secondary_text: #faf9e9;
   --theme--emphasis_text: #f6fcfe;
   --theme--contrast: #fff;
   --theme--background-active: #faf9e9;
   --theme--primary_text-active: #339499;
   --theme--secondary_text-active: #007e99;
   --theme--emphasis_text-active: #126587;
   --theme--contrast-active: #0e3c62;
}
.sponsor_grid--text_area {
   --columns: 12;
   --start: calc((16 - var(--columns)) / 2);
   grid-column: var(--start)/span var(--columns);
}
.sponsor_grid--text_area[column-span=inset] {
   --columns: 10;
}
@media (max-width: 991px) {
   .sponsor_grid--text_area[column-span=inset] {
      --columns: 12;
   }
}
.sponsor_grid--text_area[column-span=narrow] {
   --columns: 8;
}
@media (max-width: 991px) {
   .sponsor_grid--text_area[column-span=narrow] {
      --columns: 10;
   }
}
@media (max-width: 767px) {
   .sponsor_grid--text_area[column-span=narrow] {
      --columns: 12;
   }
}
.sponsor_grid--text_area[column-span=full-page] {
   --columns: 14;
}
.sponsor_grid--text_area[alignment=left] {
   grid-column: 2/span var(--columns);
}
.sponsor_grid--text_area[alignment=right] {
   grid-column: span var(--columns)/-2;
}
.sponsor_grid--text_area[alignment=center] {
   grid-column: var(--start)/span var(--columns);
}
.sponsor_grid--row {
   grid-column: 2/-2;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: inherit;
}
.sponsor_grid--level {
   --columns: 12;
   grid-column: span var(--columns);
   display: grid;
   grid-template-columns: repeat(var(--columns), 1fr);
   gap: inherit;
   padding-top: var(--gutter);
   border-top: 0.0625rem solid var(--theme--primary_text);
}
.sponsor_grid--level[sub-division="4"] .content_grid {
   height: 100%;
}
.sponsor_grid--level[sub-division="4"] .content_grid::after {
   content: "";
   display: block;
   grid-column: span 2;
}
@media (min-width: 1280px) {
   .sponsor_grid--level[sub-division="4"] .content_grid::after {
      display: none;
   }
}
@media (min-width: 1280px) {
   .sponsor_grid--level[sub-division="4"] {
      --columns: 4;
   }
}
@media (min-width: 1280px) {
   .sponsor_grid--level[sub-division="8"] {
      --columns: 8;
   }
}
.sponsor_grid--label {
   grid-column: span 2;
}
.sponsor_grid--label h1,
.sponsor_grid--label h2,
.sponsor_grid--label h3,
.sponsor_grid--label h4,
.sponsor_grid--label h5,
.sponsor_grid--label h6 {
   font-size: clamp(0.875rem, 0.56vw + 0.74375rem, 1.25rem);
}
@media (max-width: 991px) {
   .sponsor_grid--label {
      grid-column: span 12;
   }
}
.sponsor_grid--grid {
   grid-column: span calc(var(--columns) - 2);
}
@media (max-width: 991px) {
   .sponsor_grid--grid {
      grid-column: span 12;
   }
}
.sponsor_grid--grid .content_grid {
   --_base_size: 56.25rem;
}
.sponsor_grid--logo {
   position: relative;
}
.sponsor_grid--logo img {
   width: 100%;
   aspect-ratio: 21/9;
   -o-object-fit: contain;
      object-fit: contain;
   transition: 0.5s all;
}
a:hover .sponsor_grid--logo .cream-logo {
   opacity: 0;
}
.sponsor_grid--logo .color-logo {
   position: absolute;
   inset: 0;
   opacity: 0;
}
a:hover .sponsor_grid--logo .color-logo {
   opacity: 1;
}
.sponsor_grid--card {
   height: 100%;
   padding: var(--obj_padding-small);
   background: var(--glass-fill, rgba(255, 255, 255, 0.05));
   background-blend-mode: normal, normal, overlay;
   -webkit-backdrop-filter: blur(0.75rem);
           backdrop-filter: blur(0.75rem);
   transition: 0.5s all;
}
.sponsor_grid--card:is(a):hover, .sponsor_grid--card:is([modal-trigger]):hover {
   --theme--background: #faf9e9;
   --theme--primary_text: #007e99;
   --theme--secondary_text: #126587;
   --theme--emphasis_text: #339499;
   --theme--contrast: #0e3c62;
   --theme--background-active: #339499;
   --theme--primary_text-active: #faf9e9;
   --theme--secondary_text-active: #faf9e9;
   --theme--emphasis_text-active: #f6fcfe;
   --theme--contrast-active: #fff;
   background-color: var(--theme--background);
}
.sponsor_grid--card-label {
   transition: 0.5s all;
   color: var(--theme--secondary_text);
   font-weight: 500;
   font-size: var(--text--size-body);
   line-height: 1.45;
   font-family: "Raleway", sans-serif;
   font-size: 0.75rem;
   text-align: center;
}
.sponsor_grid--card-label a {
   font-weight: 650;
   color: var(--color--theme--emphasis_text);
   text-decoration: none;
   white-space: no-wrap;
   display: inline-block;
   position: relative;
}
.sponsor_grid--card-label a::after {
   display: block;
   content: "";
   position: absolute;
   width: 0%;
   height: 0.125em;
   border-bottom: 0.125em solid currentColor;
   bottom: -0.125em;
   transition: 0.3s all;
}
.sponsor_grid--card-label a:hover::after {
   width: 100%;
}

/*css/blocks/stair_hero/css/index.scss*/
.stair_hero--section {
   padding-block: var(--section_padding);
   --theme--background: rgba(255, 255, 255, 0.15);
   --theme--primary_text: #faf9e9;
   --theme--secondary_text: #faf9e9;
   --theme--emphasis_text: #f6fcfe;
   --theme--contrast: #fff;
   --theme--background-active: #faf9e9;
   --theme--primary_text-active: #339499;
   --theme--secondary_text-active: #007e99;
   --theme--emphasis_text-active: #126587;
   --theme--contrast-active: #0e3c62;
}
.stair_hero--row {
   grid-column: 3/-3;
}
@media (max-width: 991px) {
   .stair_hero--row {
      grid-column: 2/-2;
   }
}
.stair_hero--text_area {
   width: 100%;
}
.stair_hero--text_area .text_content {
   width: 100%;
   gap: 2rem;
}
.stair_hero--text_area .text_content h1 {
   display: flex;
   flex-direction: column;
}
@media (max-width: 991px) {
   .stair_hero--text_area .text_content h1 {
      display: inline-block;
      text-align: center;
   }
}
.stair_hero--text_area .text_content h1 span {
   display: inline-block;
   text-wrap: nowrap;
}
@media (max-width: 991px) {
   .stair_hero--text_area .text_content h1 span {
      text-wrap: initial;
   }
}
.stair_hero--text_area .text_content h1 span:nth-child(2) {
   margin-left: 2.5ch;
   margin-right: -1ch;
}
@media (max-width: 991px) {
   .stair_hero--text_area .text_content h1 span:nth-child(2) {
      margin-inline: 0;
   }
}
.stair_hero--text_area .text_content h1 span:nth-child(3) {
   margin-left: 5ch;
   margin-right: -1ch;
}
@media (max-width: 991px) {
   .stair_hero--text_area .text_content h1 span:nth-child(3) {
      margin-inline: 0;
   }
}

/*css/blocks/grid_content/css/index.scss*/
.stat_feature--section {
   padding-block: var(--section_padding);
   row-gap: 0.5rem;
}
.stat_feature--media_area {
   aspect-ratio: 16/9;
   position: relative;
   grid-column: 2/-2;
}
@media (min-width: 1280px) {
   .stat_feature--media_area {
      aspect-ratio: 18/9;
   }
}
.stat_feature--video video {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
.stat_feature--image {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
}
.stat_feature--row {
   grid-column: 2/-2;
}
.stat_feature--list {
   --_min-content-size: 16.25rem;
   display: grid;
   gap: inherit;
   grid-template-columns: repeat(auto-fit, minmax(var(--_min-content-size), 1fr));
   width: 100%;
   gap: 0.5rem;
}
.stat_feature--item {
   padding: var(--obj_padding-small, 1.25rem);
   background-color: #faf9e9;
   display: flex;
   flex-direction: column;
   align-items: stretch;
}
.stat_feature--label {
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: var(--text--size-h6);
   line-height: 1.25;
   font-family: "Raleway", sans-serif;
   text-transform: none;
   letter-spacing: 0em;
   color: #339499;
}
.stat_feature--number {
   color: var(--theme--primary_text);
   font-weight: 700;
   font-size: var(--text--size-h4);
   line-height: 1.25;
   font-family: "Raleway", sans-serif;
   letter-spacing: 0em;
   text-transform: none;
   font-size: clamp(3rem, 1.13vw + 2.7375rem, 3.75rem);
   color: #339499;
   text-align: right;
}