/*css/blocks/header/css/index.scss*/
body {
 background-color: var(--theme--background);
}

.nav--header {
 position: sticky;
 top: 0rem;
 z-index: 200;
 width: 100%;
 min-width: 600px;
 top: 0rem;
 left: 0rem;
}
@media (max-width: 767px) {
 .nav--header {
  min-width: 80px;
 }
}
.nav--nav {
 background-color: var(--theme--accent);
}
.nav--wrapper {
 display: flex;
 gap: var(--gutter);
 align-items: center;
 justify-content: space-between;
 max-width: 100%;
 padding-inline: var(--obj_padding-large);
 padding-block: 0.5rem;
}
.nav--wrapper::before, .nav--wrapper::after {
 display: none;
}
.nav--branding-logo svg {
 height: clamp(1.875rem, 0.56vw + 1.74375rem, 2.25rem);
 display: block;
}
.nav--branding-logo svg .logo-letters {
 fill: var(--theme--accent-25);
}
.nav--branding-logo svg .logo-bell {
 fill: var(--theme--accent-100);
}
.nav--list {
 display: flex;
 gap: var(--gutter);
}
.nav--item {
 position: relative;
 --_opacity: 0;
 --_clickable: none;
}
.nav--item:hover {
 --_opacity: 1;
 --_clickable: initial;
}
.nav--link {
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-weight: 500;
 font-size: 18px;
 font-size: clamp(0.9375rem, 0.19vw + 0.89375rem, 1.0625rem);
 line-height: 1;
 color: #ffffff;
 padding: 0;
 padding-block: 0.75em;
 padding-inline: 0.25em;
}
.nav--link:hover {
 text-decoration: underline;
 background-color: rgba(255, 255, 255, 0.1);
}
.nav--dropdown {
 position: absolute;
 top: calc(100% - 0.25rem);
 background-color: #000f39;
 padding: var(--obj_padding-small);
 border-radius: 0.25rem;
 width: -moz-max-content;
 width: max-content;
 border: 1px solid white;
 opacity: var(--_opacity);
 pointer-events: var(--_clickable);
}
.nav--dropdown-list {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 justify-content: stretch;
}
.nav--dropdown-item {
 width: 100%;
}
.nav--dropdown-link {
 display: inline-block;
 font-family: var(--primary_font, "Fira Sans", sans-serif);
 font-weight: 500;
 color: #ffffff;
 text-decoration: none;
 font-size: 0.875rem;
 color: #ffffff;
 width: 100%;
}
.nav--dropdown-link:hover {
 text-decoration: underline;
 background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 991px) {
 .w-nav-brand {
  padding: 0;
 }
}

.w-nav-button {
 padding: 0;
 min-height: 2.875rem;
}

.w-nav-button {
 height: 46px;
}

.nav--burger {
 background: #000f39;
 border: #000f39 solid 2px;
 border-radius: 50%;
 cursor: pointer;
 display: inline-block;
 height: 46px;
 padding-left: 8.5px;
 padding-top: 10.5px;
 position: relative;
 transition: all 0.4s ease;
 -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
 width: 46px;
 z-index: 12;
}
.nav--burger:hover {
 border: #ebf2ff solid 2px;
}
.nav--burger span {
 background: #ebf2ff;
 position: relative;
 transition: all 0.4s ease;
 display: block;
}
.nav--burger span:nth-child(1) {
 height: 3px;
 top: 0;
 width: 25px;
}
.nav--wrapper:has(.w--open) .nav--burger span:nth-child(1) {
 background: #ebf2ff;
 top: 9px;
 transform: rotate(45deg);
}
.nav--burger span:nth-child(2) {
 height: 3px;
 top: 6px;
 width: 25px;
}
.nav--wrapper:has(.w--open) .nav--burger span:nth-child(2) {
 opacity: 0;
}
.nav--burger span:nth-child(3) {
 height: 3px;
 top: 12px;
 width: 25px;
}
.nav--wrapper:has(.w--open) .nav--burger span:nth-child(3) {
 background: #ebf2ff;
 top: 5px;
 transform: rotate(-45deg);
}

.w-nav-overlay {
 position: fixed;
}
.w-nav-overlay .nav--actions {
 background-color: #000f39;
}
.w-nav-overlay .nav--list {
 flex-direction: column;
 padding-inline: var(--obj_padding-large);
 padding-block: var(--obj_padding-large);
}
.w-nav-overlay .nav--item {
 --_opacity: 1;
 --_clickable: initial;
 padding: 0;
}
.w-nav-overlay .nav--item .nav--link {
 padding: 0;
 font-size: 24px;
 font-weight: 400;
}
.w-nav-overlay .nav--item:has([href="/about"]) .nav--dropdown, .w-nav-overlay .nav--item:has([href="/resources"]) .nav--dropdown {
 display: none;
}
.w-nav-overlay .nav--dropdown {
 position: relative;
 background-color: transparent;
 border: 0;
 padding: 0;
 border: 0;
}
.w-nav-overlay .nav--dropdown-list {
 align-items: flex-start;
 justify-content: flex-start;
 text-align: left;
 gap: 0.5rem;
 margin-top: 0.5rem;
}
.w-nav-overlay .nav--dropdown-link {
 font-weight: 300;
 font-size: 18px;
}

.w-nav-link.w--current {
 color: #c2dbff;
}

[scrolled=true].nav--header {
 width: 50%;
 min-width: 600px;
 top: 1rem;
 left: 1rem;
 transition: width 0.5s, min-width, 0.5s, top 0.5s, left 0.5s;
}
@media (max-width: 767px) {
 [scrolled=true].nav--header {
  min-width: 80px;
 }
}
[scrolled=true] .nav--nav {
 background-color: var(--theme--accent-500);
 border-radius: 50px 0px 50px 50px;
 transition: border-radius 0.5s;
}
[scrolled=true] .nav--wrapper {
 padding-left: 0.75rem;
 transition: padding 0.5s;
}