@use "sass:color";
@use "../../../globals/abstracts" as *;

//Visual:
/*css/blocks/header/css/index.scss*/
//Dependencies:

//Attributres

body {
	background-color: var(--theme--background);
}

.nav-- {
	&header {
		position: sticky;
		top: 0rem;
		z-index: 200;
		width: 100%;
		min-width: 600px;
		top: 0rem;
		left: 0rem;

		@include sm {
			min-width: 80px;
		}
	}
	&nav {
		background-color: var(--theme--accent);
	}
	&wrapper {
		display: flex;
		gap: var(--gutter);
		align-items: center;
		justify-content: space-between;
		max-width: 100%;
		padding-inline: var(--obj_padding-large);
		padding-block: 0.5rem;
		&::before,
		&::after {
			display: none;
		}
	}
	&branding-link {
		// @include fluid_size(width, 26px, 32px);
	}
	&branding-logo {
		svg {
			@include fluid_size(height, 30px, 36px);
			display: block;
			.logo-letters {
				fill: var(--theme--accent-25);
			}
			.logo-bell {
				fill: var(--theme--accent-100);
			}
		}
	}

	&actions {
	}
	&list {
		display: flex;
		gap: var(--gutter);
	}
	&item {
		position: relative;
		--_opacity: 0;
		--_clickable: none;
		&:hover {
			--_opacity: 1;
			--_clickable: initial;
		}
	}
	&link {
		font-family: $primary_font-var;
		font-weight: 500;
		font-size: 18px;
		@include fluid_size(font-size, 15px, 17px);
		line-height: 1;
		color: #ffffff;
		padding: 0;
		padding-block: 0.75em;
		padding-inline: 0.25em;

		&:hover {
			text-decoration: underline;
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
	&dropdown {
		position: absolute;
		top: calc(100% - 0.25rem);
		background-color: $navy;
		padding: var(--obj_padding-small);
		border-radius: 4 * $rem;
		width: max-content;
		border: 1px solid white;
		opacity: var(--_opacity);
		pointer-events: var(--_clickable);
	}
	&dropdown-list {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;
	}
	&dropdown-item {
		width: 100%;
	}
	&dropdown-link {
		display: inline-block;
		font-family: $primary_font-var;
		font-weight: 500;
		color: $white;
		text-decoration: none;
		font-size: 14 * $rem;
		color: #ffffff;
		width: 100%;
		&:hover {
			text-decoration: underline;
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.w-nav-brand {
	@include md {
		padding: 0;
	}
}

.w-nav-button {
	padding: 0;
	min-height: 46 * $rem;
}
.w-icon-nav-menu {
}

$b-height: 46px; //Height (and width) of the burger menu
$b-margin-top: 30px; //Burger menu margin (distance from top)
$b-margin-left: 30px; //Burger menu margin (distance from left)
$b-border-width: 2px; //Width of the borders and 'buns'
$b-bun-width: 25px; //Width of the 'buns'
$b-bun-height: 3px; //Height of the 'buns'
$b-border-radius: 50%; //Change the border radius of the menu

$b-trans-speed: 0.4s; //Transition speed settings
$b-transition: all $b-trans-speed ease; //Transitions

$b-font-size: 24px; //Font size of brand and links
$b-font-family: Helvetica-Neue, Helvetica, Arial, sans-serif; //Font family of the brand and links
$b-font-weight: 300; //Font weight of brand and links
$b-txt-pad: 30px; //Left padding on both brand and links

$b-line-height: ($b-height / 2 - ($b-font-size / 2.8)); //Vertically centers brand to menu
$b-txt-pad-top: ($b-margin-top + $b-height + $b-txt-pad); //Top margin for first link element
$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
$b-pad-left: ($b-height / 2 - $b-bun-width-half - 2); //Horizontally centers bun in menu
$b-pad-top: ($b-height / 2 - $b-bun-width-half); //Vertically centers bun in menu

.w-nav-button {
	//b-container
	height: $b-height;
}

.nav--burger {
	//b-menu
	background: $blue-900;
	border: $blue-900 solid $b-border-width;
	border-radius: $b-border-radius;
	cursor: pointer;
	display: inline-block;
	height: $b-height;
	padding-left: $b-pad-left;
	padding-top: $b-pad-top;
	position: relative;
	transition: $b-transition;
	user-select: none;
	width: $b-height;
	z-index: 12;

	&:hover {
		border: $blue-25 solid $b-border-width;
	}
	span {
		//b-bun
		background: $blue-25;
		position: relative;
		transition: $b-transition;
		display: block;
		&:nth-child(1) {
			//b-bun--top
			height: $b-bun-height;
			top: 0;
			width: $b-bun-width;
			.nav--wrapper:has(.w--open) & {
				background: $blue-25;
				top: 9px;
				transform: rotate(45deg);
			}
		}
		&:nth-child(2) {
			//b-bun--mid
			height: $b-bun-height;
			top: 6px;
			width: $b-bun-width;
			.nav--wrapper:has(.w--open) & {
				opacity: 0;
			}
		}
		&:nth-child(3) {
			//b-bun--bottom
			height: $b-bun-height;
			top: 12px;
			width: $b-bun-width;
			.nav--wrapper:has(.w--open) & {
				background: $blue-25;
				top: 5px;
				transform: rotate(-45deg);
			}
		}
	}
}

//action nav on mobile
.w-nav-overlay {
	position: fixed;
	.nav--actions {
		background-color: $blue-900;
	}
	.nav--list {
		flex-direction: column;
		padding-inline: var(--obj_padding-large);
		padding-block: var(--obj_padding-large);
	}
	.nav--item {
		--_opacity: 1;
		--_clickable: initial;
		padding: 0;

		.nav--link {
			padding: 0;
			font-size: 24px;
			font-weight: 400;
		}

		&:has([href="/play/pickup"]) {
		}
		&:has([href="/about"]),
		&:has([href="/resources"]) {
			.nav--dropdown {
				display: none;
			}
		}
	}
	.nav--dropdown {
		position: relative;
		background-color: transparent;
		border: 0;
		padding: 0;
		border: 0;
		&-list {
			align-items: flex-start;
			justify-content: flex-start;
			text-align: left;
			gap: 8 * $rem;
			margin-top: 8 * $rem;
		}
		&-link {
			font-weight: 300;
			font-size: 18px;
		}
	}
}

.w-nav-link.w--current {
	color: $blue-100;
}

[scrolled="true"] {
	&.nav--header {
		width: 50%;
		min-width: 600px;
		top: 1rem;
		left: 1rem;
		transition: width 0.5s, min-width, 0.5s, top 0.5s, left 0.5s;
		@include sm {
			min-width: 80px;
		}
	}
	.nav--nav {
		background-color: var(--theme--accent-500);
		border-radius: 50px 0px 50px 50px;
		transition: border-radius 0.5s;
	}
	.nav--wrapper {
		padding-left: 0.75rem;
		transition: padding 0.5s;
	}
}
