/*css/components/speaker_list/css/index.scss*/
.speaker_list-list {
   --_columns: 4;
   grid-template-columns: repeat(var(--_columns, 4), 1fr);
}
.row:has(.speaker_list-list) {
   container-type: inline-size;
   container-name: list-wrapper;
}
.speaker_list-item {
   animation: scroll-fade linear forwards;
   animation-timeline: view(70vh 0);
}
@supports (animation-timeline: view()) {
   .speaker_list-item {
      opacity: 0;
   }
}
.speaker_list-link {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   color: #126587;
   width: 100%;
   transition: 0.5s color;
}
.speaker_list-link:hover {
   color: #339499;
}
.speaker_list-media_content {
   position: relative;
   aspect-ratio: 250/300;
   border-radius: 0.625rem;
   overflow: hidden;
   border: 1px solid transparent;
   transition: 0.5s border;
}
a:hover .speaker_list-media_content {
   border: 1px solid currentColor;
}
.speaker_list-media_content img {
   position: absolute;
   width: 100%;
   height: 100%;
   inset: 0;
   -o-object-fit: cover;
      object-fit: cover;
   transition: 0.5s filter;
}
a:hover .speaker_list-media_content img {
   filter: brightness(1.2);
}
.speaker_list-name {
   color: inherit;
   font-size: clamp(1.0625rem, 0.38vw + 0.975rem, 1.3125rem);
   font-weight: 700;
   line-height: 125%;
}
.speaker_list-company {
   color: inherit;
   font-family: var(--primary_font, "Raleway Variable", "Raleway", sans-serif);
   font-size: 0.6875rem;
   font-weight: 400;
   line-height: 125%;
}
.speaker_list-text_area .text_content {
   gap: 0.125rem;
}

@keyframes scroll-fade {
   to {
      opacity: 1;
   }
}
@container list-wrapper (max-width: 1296px) {
   .speaker_list-list {
      --_columns: 5;
   }
   .speaker_list-item:nth-child(n) {
      animation-timeline: view(100vh 0svh);
   }
   .speaker_list-item:nth-child(5n+2) {
      animation-timeline: view(90svh 10svh);
   }
   .speaker_list-item:nth-child(5n+3) {
      animation-timeline: view(80svh 20svh);
   }
   .speaker_list-item:nth-child(5n+4) {
      animation-timeline: view(70svh 30svh);
   }
   .speaker_list-item:nth-child(5n+5) {
      animation-timeline: view(60svh 40svh);
   }
}
@container list-wrapper (max-width: 1032px) {
   .speaker_list-list {
      --_columns: 4;
   }
   .speaker_list-item:nth-child(n) {
      animation-timeline: view(100vh 0svh);
   }
   .speaker_list-item:nth-child(4n+2) {
      animation-timeline: view(90svh 10svh);
   }
   .speaker_list-item:nth-child(4n+3) {
      animation-timeline: view(80svh 20svh);
   }
   .speaker_list-item:nth-child(4n+4) {
      animation-timeline: view(70svh 30svh);
   }
}
@container list-wrapper (max-width: 768px) {
   .speaker_list-list {
      --_columns: 3;
   }
   .speaker_list-item:nth-child(n) {
      animation-timeline: view(100vh 0svh);
   }
   .speaker_list-item:nth-child(3n+2) {
      animation-timeline: view(90svh 10svh);
   }
   .speaker_list-item:nth-child(3n+3) {
      animation-timeline: view(80svh 20svh);
   }
}
@container list-wrapper (max-width: 504px) {
   .speaker_list-list {
      --_columns: 2;
   }
   .speaker_list-item:nth-child(n) {
      animation-timeline: view(100vh 0svh);
   }
   .speaker_list-item:nth-child(2n) {
      animation-timeline: view(90svh 10svh);
   }
}