@use "sass:color";
@use "../../../global/abstracts" as *;

//Visual: https://www.figma.com/file/kIjfaVuV4r1BQl86FGWFhB/Web-Design-System-V1?type=design&node-id=789%3A8037&mode=design&t=VCZ9y6CTlvMMkzWr-1
/*atoms/alerts/css/index.scss*/
//Dependencies:

//Attributres
//alert-type = info | danger | success | warning
//alert-type = tooltip

i {
	color: $black-60;
	svg {
		width: 14/16 * 1em;
		path {
			fill: $white;
		}
		//default version
		circle {
			fill: currentColor;
		}
		//for the tooltip version
		.triangle {
			fill: currentColor;
		}
	}
	&[alert-type~="info"] {
		color: $info;
	}
	&[alert-type~="danger"] {
		color: $danger;
	}
	&[alert-type~="success"] {
		color: $success;
	}
	&[alert-type~="warning"] {
		color: $warning;
	}
	&[alert-type~="tooltip"] {
		svg {
			width: 24/16 * 1em;
		}
	}
}
